.homepageHeader{padding:20px 0px;}
.homepageHeader a.logo{background:url(../../images/common/header/logo.gif) no-repeat;display: block;width: 121px;height:54px;display:block;text-indent: -999em;overflow:hidden;}
.homepageHeader .tel{background:url(../../images/common/header/tel_bg.gif) no-repeat;width:163px;height:34px;margin-top:15px;}
.homepageHeader .tel p{font-size:14px;margin-left:45px;color:#666;margin-top:-2px;}