body{background-color: #f8f8f8;}
/*左边内容区开始*/
.studentHomePage .content{width: 750px;}
/*轮换公共部分开始*/
.studentHomePage .bannerScroll{position: relative;}
.bannerSlide{position: absolute;top:50%;margin-top: -25px;cursor: pointer;}
.bannerSlide.next{background: url(../../images/studentHomePage/sleft.gif) no-repeat;width: 36px;height: 50px;display: inline-block;left: 0px;}
.bannerSlide.prev{background: url(../../images/studentHomePage/sright.gif) no-repeat;width: 36px;height: 50px;display: inline-block;right: 0px;}
/*轮换公共部分结束*/
.banner{width: 570px;height: 293px;margin-top: 10px;}
/*正在直播客开始*/
.liveLessonWrap{border:1px solid #e0e0e0;height: 263px;margin-top: 10px;}
.liveLessonWrap .liveLessHead{line-height: 37px;height: 37px;background-color: #f3f3f3;}
.bannerOrder{margin-top: 14px;margin-right: 10px;}
.bannerOrder li{background: url(../../images/studentHomePage/index.png) no-repeat;_background: url(../../images/studentHomePage/index8.png) no-repeat;width: 10px; height: 10px;float: left;display: inline-block;margin: 0px 4px;vertical-align: middle;cursor: pointer;}
.bannerOrder li.active{background: url(../../images/studentHomePage/active.png) no-repeat;_background: url(../../images/studentHomePage/active8.png) no-repeat;}
.liveLessonWrap .liveTitle{font-size: 14px;padding-left: 40px; font-weight: normal;background: url(../../images/studentHomePage/live-icon.gif) no-repeat scroll 13px center;}
.liveViewWrap{width: 723px;margin: 14px auto 0px;overflow:hidden; }
.innerWrap{width: 100000px;}
.liveList li{float: left;width: 246px;}
.liveLess .cTitle{display: block;}
/*正在直播客结束*/
/*课程列表开始*/
.cListWrap{margin-top: 10px;}
.cListWrap .cTitle{height: 35px;line-height: 35px;font-size: 14px;border:1px solid #e0e0e0;background-color: #fff;}
.tabList{line-height: 18px;height: 18px;}
.tabList .tabItem{float: left;padding: 10px 13px 8px;border-left: 1px solid #e0e0e0;}
.tabList .tabItem a{text-align: center;display: block;padding: 0px 5px;}
.tabList .tabItem.firstTab {border-left: none;}
.tabList .tabItem.active{}
.tabList .tabItem.active a{border-bottom:2px solid #cb0000;color: #e0e0e0;margin-bottom: -8px;}
.tabList .tabItem.active a{}
.listCont{margin: 17px -6px;}
.listCont .cItem{width: 367px;border:1px solid #e0e0e0;float: left;margin: 0px 6px;background-color: #fff;}
.cItem .ctitle{font-size: 14px;margin: 0px;padding: 15px;font-weight: normal;}
.cItem .cTitleName{display: block;}
.cItem .cTitleDesc{color:#989898;}
.cItem .cDetail{padding: 0px 15px;margin-bottom: 10px;}
.cItem .cBottom{padding: 0px 15px;line-height: 35px;height: 35px;border-top:1px solid #e0e0e0;background-color: #fbfbfb;}
.cItem .price{color:#ce0000;font-size: 14px;display: inline-block;margin-right: 15px;}
.cItem .price strong{font-size: 22px;}
.cItem .cVal{font-size: 12px;color:#989898;}
.cItem .cVal span{text-decoration:line-through;}

/*课程列表结束*/

/*学员风采开始*/
.stuListWrap{margin-top: 10px;height: 199px;border:1px solid #e0e0e0;background-color: #fff;} 
.stuListWrap .tHeader{height: 40px;line-height: 40px;background-color:#f3f3f3; }
.stusTitle{font-weight: normal; font-size: 14px;}

.stuListView{width: 700px;overflow: hidden;margin: 20px auto 0px;}
.stuListInner{width: 10000px;}
.stuList{}
.stuList li{float: left;width: 122px;}
.stuList li .stuName{display: block;text-align: center;width: 90px;}
/*学院风采结束*/
/*媒体报道开始*/
.mediaListWrap{margin-top: 10px;height: 148px;border:1px solid #e0e0e0;margin-bottom: 35px;background-color: #fff;}
.mediaListWrap .tHeader{height: 40px;line-height: 40px;background-color: #f3f3f3;font-size: 14px;}
.mediaTitle{font-weight: normal;font-size: 14px;}
.stusTitle{}
.mediaList{}
.mediaList li{float: left;width: 144px;}
.mediaListView{width: 707px;margin: 25px auto 0px;overflow: hidden;}
.mediaListInner{width: 10000px;}
/*媒体报道结束*/

/*左侧内容区结束*/
/*右侧边栏开始*/
.studentHomePage .rSlide{width: 220px;}
/*登录开始*/
.loginWrap{border:1px solid #e0e0e0;margin-top: 10px;height: 291px;padding: 0px 11px;background-color: #fff;}
.loginTitle{font-size: 14px; text-align: center;font-weight: normal;line-height: 14px;height: 14px;margin: 20px 0px;}
.inputWrap{margin-bottom: 16px;}
.loginWrap input{line-height: 32px;height: 32px;width: 182px;padding: 0px 5px;}
.hasNophone{line-height: 14px;height: 14px;margin-bottom: 15px;padding-left: 8px;}
.loginWrap input.loginBtn{background-color: #ce0000;border:0px; color: #fff;height: 37px;line-height: 37px;width: 194px;font-size: 14px;border-radius: 4px;cursor: pointer;}
/*登录结束*/
/*服务保障开始*/
.assuranceWrap{border:1px solid #e0e0e0;height: 263px;background-color: #fff;margin-top: 10px;}
.assuranceWrap .tHeader{background-color: #f3f3f3;line-height: 37px;height: 37px;padding-left: 18px;font-size: 14px;}
/*服务保障结束*/
/*右侧边栏结束
