<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="{static_url('/css/teacherHomePage/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="teacher/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="teacher/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap teacherHomePage" id="nahaoModule" module="teacherHomePage">
    <div class="layout">
        <!--首页表格开始-->
	    <div class="md_classInfo">
            <h2 class="hd_title">
                <span class="hd_day">2014年6月1日</span>
                <span class="hd_date">星期五</span>
                <span class="hd_num">今天要上的班次：<b>5</b></span>
            </h2>
            <div class="md_bd">
                <table class="md_table custom_table">
                    <tr class="first">
                        <th>上课时间</th>
                        <th>班节名称</th>
                        <th>课程进度</th>
                        <th>类型</th>
                        <th>课件讲义</th>
                        <th class="th_last">练习题管理</th>
                    </tr>
                    <tr>
                        <td>
                            <h3>20：00-21：30</h3>
                            <a href="javascript:void(0)" class="readyGo">即将开始</a>
                        </td>
                        <td class="className">
                            <h3>第三节－火车过桥问阿凯设计方案行阿根廷题据卡三国 噶计划方案 </h3>
                            <p>2014年小升初暑假特训营训练营训练营训练营</p>
                        </td>
                        <td><b class="fred">3</b> / 10</td>
                        <td>公开课</td>
                        <td class="classWord"><em class="icon_note"></em><a href="#">小升初数学复习1.pdf</a></td>
                        <td><em class="icon_notem"></em></td>
                    </tr>
                    <tr class="start">
                        <td>
                            <h3>20：00-21：30</h3>
                            <a href="javascript:void(0)" class="readyGo">去上课</a>
                        </td>
                        <td class="className">
                            <h3>第三节－火车过桥问阿凯设计方案行阿根廷题据卡三国 噶计划方案 </h3>
                            <p>2014年小升初暑假特训营训练营训练营训练营</p>
                        </td>
                        <td><b class="fred">3</b> / 10</td>
                        <td>公开课</td>
                        <td class="classWord"><em class="icon_note"></em><a href="#">小升初数学复习1.pdf</a></td>
                        <td><em class="icon_notem"></em> </td>
                    </tr>
                    <tr class="end">
                        <td>
                            <h3>20：00-21：30</h3>
                            <a href="javascript:void(0)" class="readyGo">已结束</a>
                        </td>
                        <td class="className">
                            <h3>第三节－火车过桥问阿凯设计方案行阿根廷题据卡三国 噶计划方案 </h3>
                            <p>2014年小升初暑假特训营训练营训练营训练营</p>
                        </td>
                        <td><b class="fred">3</b> / 10</td>
                        <td>公开课</td>
                        <td class="classWord"><em class="icon_note"></em><a href="#">小升初数学复习1.pdf</a></td>
                        <td><em class="icon_notem"></em> </td>
                    </tr>
                </table>
            </div>
	    </div>
        <!--首页表格结束-->
    </div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="teacher/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="teacher/include/js.htm"}
<!--js引入结束-->
</body>
</html>