{extends file='teacher/teacherSelfinfo/base.html'}

{block name=title}个人信息{/block}

{block name=container}
<div class="personInfo">
    <div class="box">
        <!--<h2>请填写试讲信息<span>(以下信息会严格保密，请您放心填写）</span></h2>-->
        <!--小导航条开始-->
        <div class="personNav">
            <div class="tabBox cf">
                <a href="/selfInfo/index" class="setting active">个人资料</a>
                <a href="/selfInfo/photo" class="avatar">修改头像</a>
                <a href="/selfInfo/password" class="setpassword">修改密码</a>
            </div>
        </div>
        <!--小导航条结束-->
        <div class="md_bd">
            <!--个人信息验证开始-->
            <h2 class="personTip">请填写以下基本信息，以便学生更好的了解您并利于学生选课。我们会对您的信息进行严格保密，请放心填写！</h2>
            <form action="teacher.nahaodev.com/selfInfo/index" method="POST" class="teaInfoForm" name="teaInfoForm">
                <ul class="Oul">
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">用户昵称</p>
                        <!--用户昵称开始-->
                        <div class="cf">
                            <input type="text" name="userName" class="fl textInput userName" validName="text" value="{$user_detail.nickname}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--用户昵称结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">真实姓名</p>
                        <!--真实姓名开始-->
                        <div class="cf">
                            <input type="text" name="userRealName" class="fl textInput userRealName" validName="text" value="{$user_detail.realname}">
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--真实姓名结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">教学阶段</p>
                        <!--教学阶段开始-->
                        <div class="cf">
                            <div class="fl">
                                {foreach $stages as $key => $val}
                                <input type="radio" name="level" id="high" class="fl radioInput level" validName="radio" value="{$key}" {if $key == $user_detail.stage} checked{/if}/>
                                    <label for="high" class="fl">{$val}</label>
                                {/foreach}
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--教学阶段结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">所在学校</p>
                        <!--所在学校开始-->
                        <div class="cf">
                            <input type="text" name="school" class="fl textInput school" validName="text"  value="{$school}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--所在学校结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">教学科目</p>
                        <!--教学科目开始-->
                        <div class="cf">
                            <div class="fl">
                                <div>
                                    <select name="subject" id="subject" class="fl subject"  validName="select">
                                        <option value="">请选择教学科目</option>
                                        {foreach $subjects as $key => $val}
                                        <option value="{$key}" {if in_array($key, $user_detail.teacher_subject)}selected{/if}>{$val}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--教学科目结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">教师职称</p>
                        <!--教师职称开始-->
                        <div class="cf">
                            <div class="fl">
                                <div>
                                    <select name="rank" id="rank" class="fl rank"  validName="select">
                                        <option value="">请选择职称</option>
                                        {foreach $titles as $key => $val}
                                        <option value="{$key}" {if $key == $user_detail.title}selected{/if}>{$val}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--教师职称结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">选择性别</p>
                        <!--用户性别开始-->
                        <div class="cf">
                            <div class="fl">
                                {foreach $gender as $key => $val}
                                <input type="radio" name="sex" value="{if $key == 1}male{elseif $key == 2}female{/if}" {if $key == $user_detail.gender}checked{/if} class="radioInput sex fl" validName="radio" id="{if $key == 1}male{elseif $key == 2}female{/if}"/>
                                <label for="{if $key == 1}male{elseif $key == 2}female{/if}" class="fl">{$val}</label>
                                {/foreach}
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--用户性别结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">所在地区</p>
                        <!--省份开始-->
                        <div class="fl">
                            <div class="fl">
                                <div>
                                    <select name="province" id="province" class="province" validName="select">
                                        <option value="">省份</option>
                                        <option value="1">北京</option>
                                        <option value="2">北京</option>
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--省份结束-->
                        <!--城市开始-->
                        <div class="fl">
                            <div class="fl">
                                <div>
                                    <select name="city" id="city" class="city" validName="select">
                                        <option value="">城市</option>
                                        <option value="1">北京</option>
                                        <option value="2">北京</option>
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--城市结束-->
                        <!--区开始-->
                        <div class="fl">
                            <div class="fl">
                                <div>
                                    <select name="zone" id="zone" class="zone" validName="select">
                                        <option value="">区</option>
                                        <option value="1">区</option>
                                        <option value="2">区</option>
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--区结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">教龄</p>
                        <!--教龄开始-->
                        <div class="cf">
                            <div class="fl">
                                <div>
                                    <select name="schoolAge" id="schoolAge" validName="select" class="schoolAge">
                                        <option value="">请选择教龄</option>
                                        <option value="1">一年级</option>
                                        <option value="2">二年级</option>
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--教龄结束-->
                        <p class="tips">选择正确年级，专属活动等着你</p>
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">手机号码</p>
                        <!--手机号码开始-->
                        <div class="cf">
                            <input type="text" name="phone" class="fl textInput phone" validName="text" value="{$user_detail.phone_mask}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--手机号码结束-->
                        <p class="tips">保密，方便我们与您电话沟通详细情况</p>
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">常用邮箱</p>
                        <!--常用邮箱开始-->
                        <div class="cf">
                            <input type="text" name="email" class="fl textInput email" validName="text" value="{$user_detail.email}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--常用邮箱结束-->
                    </li>
                    <li class="cf">
                        <p class="fl">个人简介</p>
                        <textarea class="fl textArea brief" name="brief">{$user_detail.teacher_intro}</textarea>
                    </li>
                    <li class="cf">
                        <p class="fl">资质证明<b class="verfyTip">（请至少上传一种资质证明，教师资格证必须上传）</b></p>
                        <div class="fl">
                            <div class="md_upload">
                                <a href="javascript:void(0);" class="uploada icon_upload1" data-fileId="shareFileUpField1">
                                    <b class="uploadTip">教师资格证书</b>
                                    <!--上传插件开始-->
                                    <input type="file" name="shareFileUpField1" id="shareFileUpField1" class="file fl" multiple="true" style="display:none"/>
                                    <!--上传插件结束-->
                                </a>
                                <a href="javascript:void(0);" class="uploada icon_upload2" data-fileId="shareFileUpField2">
                                    <b class="uploadTip">教师职称证书</b>
                                    <!--上传插件开始-->
                                    <input type="file" name="shareFileUpField2" id="shareFileUpField2" class="file fl" multiple="true" style="display:none"/>
                                    <!--上传插件结束-->
                                </a>
                                <a href="javascript:void(0);" class="uploada icon_upload3" data-fileId="shareFileUpField3">
                                    <b class="uploadTip">学校工作证</b>
                                    <!--上传插件开始-->
                                    <input type="file" name="shareFileUpField3" id="shareFileUpField3" class="file fl" multiple="true" style="display:none"/>
                                    <!--上传插件结束-->
                                </a>
                            </div>
                        </div>
                        <p class="tips fl"></p>
                    </li>
                    <li class="cf">
                        <p class="fl">绑定银行帐户</p>
                        <span class="fred fl">绑定银行帐户用于对于课酬的结算，请放心填写！</span>
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">结算银行</p>
                        <!--结算银行开始-->
                        <div class="fl">
                            <div class="fl">
                                <div>
                                    <select name="bankType" id="bankType" validName="select" class="bankType">
                                        <option value="">请选择银行</option>
                                        {foreach $banks as $key => $val}
                                        <option value="{$key}">{$val}</option>
                                        {/foreach}
                                        
                                    </select>
                                </div>
                            </div>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--结算银行结束-->
                        <!--结算银行名字开始-->
                        <div class="fl">
                            <input type="text" name="bank" class="fl textInput bank" validName="text" value="{$user_detail.bankname}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--结算银行名字结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">银行卡帐号</p>
                        <!--银行卡帐号开始-->
                        <div class="cf">
                            <input type="text" name="bankId" class="fl textInput bankId" validName="text" value="{$user_detail.bankcard}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--银行卡帐号结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">身份证号</p>
                        <!--身份证号开始-->
                        <div class="cf">
                            <input type="text" name="cardId" class="fl textInput cardId" validName="text" value="{$user_detail.id_code}"/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--身份证号结束-->
                    </li>
                    <li class="cf">
                        <input type="submit" value="保存" class="noShowBtn redBtn submit fl">
                    </li>
                </ul>
            </form>
            <!--个人信息验证结束-->
        </div>
    </div>
</div>
{/block}
