{extends file='teacher/teacherSelfInfo/base.html'}

{block name=title}个人信息{/block}

{block name=container}
<div class="personInfo">
    <div class="box">
        <!--<h2>请填写试讲信息<span>(以下信息会严格保密，请您放心填写）</span></h2>-->
        <!--小导航条开始-->
        <div class="personNav">
            <div class="tabBox cf">
                <a href="/selfInfo/index" class="setting">个人资料</a>
                <a href="/selfInfo/photo" class="avatar">修改头像</a>
                <a href="/selfInfo/password" class="setpassword active">修改密码</a>
            </div>
        </div>
        <!--小导航条结束-->
        <div class="md_bd">
            <!--修改密码开始-->
            <form action="" mothed="post" onsubmit="return false" class="teaPassForm" name="teaPassForm">
                <ul class="Oul passOul">
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">当前密码</p>
                        <!--当前密码开始-->
                        <div class="cf">
                            <input type="password" name="password" class="fl textInput iniPassword" validName="text" />
                            <input type="hidden" name="encrypt_password" value=""/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--当前密码结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">新密码</p>
                        <!--新密码开始-->
                        <div class="cf">
                            <input type="password" name="set_password" class="fl textInput setPassword" validName="text" />
                            <input type="hidden" name="encrypt_set_password" value=""/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--新密码结束-->
                    </li>
                    <li class="cf">
                        <em>*</em>
                        <p class="fl">确认密码</p>
                        <!--确认密码开始-->
                        <div class="cf">
                            <input type="password" name="reset_password" class="fl textInput reSetPassword" validName="text" />
                            <input type="hidden" name="encrypt_reset_password" value=""/>
                            <span class="Validform_checktip fl"></span>
                        </div>
                        <!--确认密码结束-->
                    </li>
                    <li class="cf">
                        <input type="submit" value="保存" class="noShowBtn redBtn submit fl">
                    </li>
                </ul>
            </form>
            <!--修改密码结束-->
        </div>
    </div>
</div>
{/block}
