{extends file='teacher/teacherSelfInfo/base.html'}

{block name=title}个人信息{/block}

{block name=container}
<div class="personInfo">
    <div class="box">
        <!--<h2>请填写试讲信息<span>(以下信息会严格保密，请您放心填写）</span></h2>-->
        <!--小导航条开始-->
        <div class="personNav">
            <div class="tabBox cf">
                <a href="/selfInfo/index" class="setting">个人资料</a>
                <a href="/selfInfo/photo" class="avatar active">修改头像</a>
                <a href="/selfInfo/password" class="setpassword">修改密码</a>
            </div>
        </div>
        <!--小导航条结束-->
        <div class="md_bd">
            <!--添加头像开始-->
            <div class="box modifyPic TiZiAvatar">
                <dl class="atareditor cf">
                    <dt id="upload" class="current ml10"><a href="javascript:void(0);" class="localUpload"><em></em><span>本地照片</span></a></dt>
                    <dt id="webcam" class=""><a href="javascript:void(0);" class="videoUpload"><em></em><span>拍照上传</span></a></dt>
                    <dd class="cf">
                        <p>仅支持GIF  JPG  PNG 图片文件，请注意头像清晰度</p>
                        <div id="avatar" class="cf">

                            <div class="memberInfo fl userInfo">
                                <img src="{$userdata['avatar']}"/>
                            </div>
                            <div class="fl photoFlash">
                                <div id="TiZiAvatar"></div>
                            </div>
                        </div>
                        <!--<div class="savePanelButtons">-->
                            <!--<a href="javascript:void(0)" class="noShowBtn redBtn button_save">保存</a>-->
                        <!--</div>-->
                        <ul id="editorPanelButtons" class="cf undis">
                            <li class="fr">
                                <a href="javascript:void(0)" class="noShowBtn redBtn button_upload">上传</a>
                                <a href="javascript:void(0)" class="noShowBtn redBtn button_cancel">取消</a>
                            </li>
                        </ul>
                        <p id="webcamPanelButton" class="cf undis">
                            <a href="javascript:void(0)" class="noShowBtn redBtn button_shutter">拍照</a>
                        </p>
                    </dd>
                </dl>
                <input type="hidden" id="upload_token" value="{$upload_token}">
            </div>
            <!--添加头像结束-->
        </div>
    </div>
</div>
{/block}
{block name=script}
<script type="text/javascript" src="{static_url('/lib/jquery/1.8.2/jquery.js')}"></script>
<script type="text/javascript">
    var noflash = '<span class="flashNotice"><a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img src="{static_url('/image/common/get_flash_player.gif')}" alt="下载Flash播放器" /></a><span>您需要安装11.4.0以上的版本的Flash播放器，才能正常访问此页面。</span></span>';
</script>
<script type="text/javascript" src="{static_url('/lib/TiZiavatar/swfobject.js')}"></script>
<script type="text/javascript" src="{static_url('/lib/TiZiavatar/TiZiavatar.js')}"></script>
<script type="text/javascript" src="{static_url('/lib/TiZiavatar/TiZiavatar.object.js')}"></script>
{/block}
