{extends file='teacher/teacherSelfInfo/base.html'}

{block name=title}个人信息{/block}

{block name=container}
<div class="startSuccess">
    <div class="box">
        <h2>恭喜您申请成功!</h2>
        <p class="tips">我们会在24小时内和您取得联系，安排试讲！</p>
        <div class="process">
            <h3>开课流程</h3>
            <p class="cf">
                <span class="fl">预约试讲</span>
                <em class="fl arrowRight"></em>
                <span class="fl">安排试讲</span>
                <em class="fl arrowRight"></em>
                <span class="fl">开始试讲</span>
                <em class="fl arrowRight"></em>
                <span class="fl">学生和家长打分</span>
                <em class="fl arrowRight"></em>
                <span class="fl">专家组评级</span>
            </p>
            <p class="cf">
                <em class="fr arrowDown">
                    
                </em></p>
            <p class="cf">
                <span class="fl">学生打分</span>
                <em class="fl arrowLeft"></em>
                <span class="fl">课堂互动</span>
                <em class="fl arrowLeft"></em>
                <span class="fl">招生宣传</span>
                <em class="fl arrowLeft"></em>
                <span class="fl">课程上线</span>
                <em class="fl arrowLeft"></em>
                <span class="fl">预约开课</span>
            </p>
        </div>
    </div>
</div>
{/block}
