<div class="topNav">
	<div class="layout">
		<!-- 课程分类菜单开始 -->
		<div class="categorys fl posr">
			<div class="title cf">
				<span class="fl">
					全部课程分类
				</span>
				<i class="narrow fl"></i>
			</div>
			<dl class="cf undis ">
				<dt>
					<h2>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_PRIMARY}.html">小学辅导课程</a>
					</h2>
					<p>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_PRIMARY}_su{$smarty.const.CATE_SUBJECT_SHUXUE}.html">数学</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_PRIMARY}_su{$smarty.const.CATE_SUBJECT_YUWEN}.html">语文</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_PRIMARY}_su{$smarty.const.CATE_SUBJECT_YINGYU}.html">英语</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}.html">初中辅导课程</a>
					</h2>
					<p>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}_su{$smarty.const.CATE_SUBJECT_SHUXUE}.html">数学</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}_su{$smarty.const.CATE_SUBJECT_YUWEN}.html">语文</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}_su{$smarty.const.CATE_SUBJECT_YINGYU}.html">英语</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}_su{$smarty.const.CATE_SUBJECT_WULI}.html">物理</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_JUNIOR}_su{$smarty.const.CATE_SUBJECT_HUAXUE}.html">化学</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}.html">高中辅导课程</a>
					</h2>
					<p>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_SHUXUE}.html">数学</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_YUWEN}.html">语文</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_YINGYU}.html">英语</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_WULI}.html">物理</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_HUAXUE}.html">化学</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_SHENGWU}.html">生物</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_DILI}.html">地理</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}_st{$smarty.const.CATE_STAGE_SENIOR}_su{$smarty.const.CATE_SUBJECT_ZHENGZHI}.html">政治</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}.html">素质教育课程</a>
					</h2>
					<p>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_MOFANG}.html">魔方</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_XUEXIFANGFA}.html">学习方法</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_XINGAINIAN}.html">新概念</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_WAIJIAOKOUYU}.html">外教口语</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_DIANYINGJIANSHANG}.html">电影鉴赏</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_ZIRANPINDU}.html">自然拼读</a>
						<a target="_blank" href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}_q{$smarty.const.CATE_QUALITY_GUOJIYINBIAO}.html">国际音标</a>
					</p>
				</dt>
			</dl>
		</div>
		<!-- 课程分类菜单结束 -->
		<div class="nav fl">
			<ul>
				<li>
					<a href="/" class="navHomepage">首页</a>
				</li>
				<li>
					<a href="/list_t{$smarty.const.ROUND_TYPE_SUBJECT}.html" class="navTutor">学科辅导</a>
				</li>
				<li>
					<a href="/list_t{$smarty.const.ROUND_TYPE_EDUCATION}.html" class="navQualityEdu">素质教育</a>
				</li>
				<li>
					<a href="/#online" class="navOnlineLive">正在直播</a>
				</li>
			</ul>
		</div>
	</div>
</div>