<div class="topNav">
	<div class="layout">
		<!-- 课程分类菜单开始 -->
		<div class="categorys fl posr">
			<div class="title cf">
				<span class="fl">
					全部课程分类
				</span>
				<i class="narrow fl"></i>
			</div>
			<dl class="cf undis ">
				<dt>
					<h2>
						<a href="#">小学辅导课程</a>
					</h2>
					<p>
						<a href="#">数学</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a href="#">初中辅导课程</a>
					</h2>
					<p>
						<a href="#">数学</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a href="#">高中辅导课程</a>
					</h2>
					<p>
						<a href="#">数学</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
						<a href="#">语文</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
						<a href="#">语文</a>
						<a href="#">英语</a>
					</p>
				</dt>
				<dt>
					<h2>
						<a href="#">特色辅导课程</a>
					</h2>
					<p>
						<a href="#">魔方</a>
						<a href="#">学生方法</a>
						<a href="#">新概念</a>
						<a href="#">外教口语</a>
						<a href="#">电影鉴赏</a>
						<a href="#">自然拼音</a>
						<a href="#">国际音表</a>
					</p>
				</dt>
			</dl>
		</div>
		<!-- 课程分类菜单结束 -->
		<div class="nav fl">
			<ul>
				<li>
					<a href="/" class="navHomepage">首页</a>
				</li>
				<li>
					<a href="/classes/xueke" class="navTutor">学科辅导</a>
				</li>
				<li>
					<a href="/classes/suzhi" class="navQualityEdu">素质教育</a>
				</li>
				<li>
					<a href="/#online" class="navOnlineLive">正在直播</a>
				</li>
			</ul>
		</div>
	</div>
</div>