<div class="topMiniNav">
	<div class="layout">
		<!-- 右侧直达区域开始 -->
		<div class="quickLink fr">
            <div class="fl">
                {if isset($user_detail['teach_priv']) && $user_detail['teach_priv']==1}
                <a href='{$teacher_url}' class="ctrlRed">教师后台</a>
                {/if}
                {if isset($user_detail['teach_priv']) && $user_detail['teach_priv']!=1}
                {if !isset($arr_user_lecture['status'])}
                <a href="{$student_url}index/apply_teach" class="ctrlRed">我要开课</a>
                {/if}
                {if isset($arr_user_lecture['status']) && $arr_user_lecture['status']==2}
                <a href="{$student_url}classroom/lecture_teacher_enter/{$user_detail['user_id']}" class="ctrlRed">试讲教室入口</a>
                {/if}
                {/if}
            </div>
			<!-- 我的那好开始 -myNahaoHover -->
			<div class="myNahao posr fl">
				<p class="cf">
					<span class="ico fl">我的那好</span>
					<i class="narrow fl"></i>
				</p>
				<ul class="undis">
					<li>
                        {if $is_login==0}
						<a href="/login">我的课程</a>
                        {else}
                        <a href="/member/my_course">我的课程</a>
                        {/if}
					</li>
					<li>
                        {if $is_login==0}
						<a href="/login">我的订单</a>
                        {else}
						<a href="/member/my_order">我的订单</a>
                        {/if}
					</li>
					<li>
						<a href="http://diaocha.tizi.com/survey/41">开课调查</a>
					</li>
				</ul>
			</div>
			<!-- 我的那好结束 -->
			<!-- 关注开始 - attentionHover -->
			<div class="attention fl posr">
				<span class="attenHanderBg"></span>
				<div class="hd attenHander">
					<span class="title fl">关注</span>
					<i class="narrow fl"></i>
				</div>
				<ul class="undis">
					<li class="cf">
						<a href="#">
							<img src="{static_url('/images/common/header/logo_s.gif')}" alt="那好网" class="fl">
						</a>
						<div class="text fl">
							<a href="#" class="title cf">
								<span class="fl">那好网</span>
								<i class="v fl"></i>
							</a>
							<a href="http://weibo.com/u/5038855592" target="_blank" class="add">
								关注
							</a>
						</div>
					</li>
				</ul>
			</div>
			<!-- 关注结束 -->
			<!-- 帮助开始 -->
			<div class="help fl">
				<a href="/about/userhelp">帮助</a>
			</div>
			<!-- 帮助结束 -->
		</div>
		<!-- 右侧直达区域结束 -->
		<!-- 左侧登录区域开始 -->
		<div class="loginArea fl">
			<!-- 登录前开始 -->
            {if $is_login==0}
			<div class="loginBefore ">
				<form action="/login/submit" class="topLoginForm" onsubmit="return false;" method="post">
					<ul class="cf">
						<li class="posr fl">
							<input type="text" class="username cInput" placeholder="账号" id="top_username" name="username" />
							<i class="ico_usename"></i>
							<span class="normalText undis">请输入账号</span>
				            <div class="ValidformInfo passTip">
				              <span class="Validform_checktip"></span>
				              <span class="dec">
				                <s class="dec1">&#9670;</s>
				                <s class="dec2">&#9670;</s>
				              </span>
				            </div>
						</li>
						<li class="posr fl">
							<input type="hidden" name="password" class="epass">
							<input type="password" class="password cInput" placeholder="密码" id="top_password" name="" />
							<i class="ico_password"></i>
							<span class="normalText undis">6-15位任意字符，区分大小写</span>
				            <div class="ValidformInfo passTip">
				              <span class="Validform_checktip"></span>
				              <span class="dec">
				                <s class="dec1">&#9670;</s>
				                <s class="dec2">&#9670;</s>
				              </span>
				            </div>
						</li>
						<li class="fl">
							<input type="submit" class="loginSubmit yh cRedBtn" value="登录" id="top_login" />
						</li>
						<li class="fl">
							<a href="/register" class="loginReg yh cOrgBtn">注册</a>
						</li>
						<li class="fl">
							<a href="/login/find_pwd" target="_blank">忘记密码?</a>
						</li>
					</ul>
				</form>
			</div>
			<!-- 登录前结束 -->
			<!-- 登录后开始 -->
            {else}
			<div class="loginOver">
				<span class="red">您好,</span>
				<a href="/member/my_course" target="_blank" class="red">{$nickname}</a>
				<a href="/login/logout" target="" class="loginOut">退出</a>

			</div>
            {/if}
			<!-- 登陆后结束 -->
		</div>
		<!-- 左侧登录区域结束 -->
	</div>
</div>