<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我的课程</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentClass/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="myCoursePage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout studentClass" id="nahaoModule" module="studentClass">
	<!-- 筛选分类开始 -->
	<div class="filterBox">
		<div class="filterList cf">
			<span class="tit">类型：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">学科辅导</a></li>
				<li><a class="qualityEdu" href="javascript:;" title="">素质教育</a></li>
			</ul>
		</div>
		<div class="filterList studySection cf">
			<span class="tit">学段：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">小学</a></li>
				<li><a href="javascript:;" title="">初中</a></li>
				<li><a href="javascript:;" title="">高中</a></li>
			</ul>
		</div>
		<div class="filterList studyGrade cf">
			<span class="tit">年级：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">三年级</a></li>
				<li><a href="javascript:;" title="">四年级</a></li>
				<li><a href="javascript:;" title="">五年级</a></li>
				<li><a href="javascript:;" title="">六年级</a></li>
				<li><a href="javascript:;" title="">七年级</a></li>
				<li><a href="javascript:;" title="">八年纪</a></li>
				<li><a href="javascript:;" title="">九年级</a></li>
				<li><a href="javascript:;" title="">高一</a></li>
				<li><a href="javascript:;" title="">高二</a></li>
				<li><a href="javascript:;" title="">高三</a></li>
			</ul>
		</div>
		<div class="filterList cf">
			<span class="tit">科目：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">数学</a></li>
				<li><a href="javascript:;" title="">语文</a></li>
				<li><a href="javascript:;" title="">英语</a></li>
				<li><a href="javascript:;" title="">生物</a></li>
				<li><a href="javascript:;" title="">化学</a></li>
				<li><a href="javascript:;" title="">物理</a></li>
			</ul>
		</div>
	</div>
	<ul class="sortBox cf">
		<li><a class="active" href="javascript:;" title="">综合排序</a></li>
		<li><a href="javascript:;" title="">开课时间</a></li>
	</ul>
	<!-- 筛选分类结束 -->
	<!-- 课程列表开始 -->
	<div class="courseBox layout cf">
		<div class="courseLeft fl">
			<ul class="cf">
				<li class="courseList">
					<img src="" alt="">
					<div class="listMain">
						<h3>谁不宜故乡——唐诗中思念故乡人</h3>
						<p class="intro">本课程围绕忆故乡这一主题本课程围绕忆故乡这一主题</p>
						<h4><span>￥</span>258</h4>
						<p class="price">价值<span>￥2000</span></p>
						<a class="studyNow" href="javascript:;" title="">马上学习</a>
					</div>
					<div class="listBot cf">
						<span class="fl">开课时间&nbsp;&nbsp;8月20号 10:00</span>
						<span class="fr"><i>483</i>人已学习</span>
					</div>
					<ul class="statusBar cf"><li class="newBar"></li><li class="saleBar"></li><li class="liveBar"></li></ul>
				</li>
				<li class="courseList">
					<img src="" alt="">
					<div class="listMain">
						<h3>谁不宜故乡——唐诗中思念故乡人</h3>
						<p class="intro">本课程围绕忆故乡这一主题本课程围绕忆故乡这一主题</p>
						<h4><span>￥</span>258</h4>
						<p class="price">价值<span>￥2000</span></p>
						<a class="studyNow" href="javascript:;" title="">马上学习</a>
					</div>
					<div class="listBot cf">
						<span class="fl">开课时间&nbsp;&nbsp;8月20号 10:00</span>
						<span class="fr"><i>483</i>人已学习</span>
					</div>
					<ul class="statusBar cf"><li class="liveBar"></li></ul>
				</li>
				<li class="courseList">
					<img src="" alt="">
					<div class="listMain">
						<h3>谁不宜故乡——唐诗中思念故乡人</h3>
						<p class="intro">本课程围绕忆故乡这一主题本课程围绕忆故乡这一主题</p>
						<h4><span>￥</span>258</h4>
						<p class="price">价值<span>￥2000</span></p>
						<a class="studyNow" href="javascript:;" title="">马上学习</a>
					</div>
					<div class="listBot cf">
						<span class="fl">开课时间&nbsp;&nbsp;8月20号 10:00</span>
						<span class="fr"><i>483</i>人已学习</span>
					</div>
					<ul class="statusBar cf"><li class="liveBar"></li></ul>
				</li>
				<li class="courseList">
					<img src="" alt="">
					<div class="listMain">
						<h3>谁不宜故乡——唐诗中思念故乡人</h3>
						<p class="intro">本课程围绕忆故乡这一主题本课程围绕忆故乡这一主题</p>
						<h4><span>￥</span>258</h4>
						<p class="price">价值<span>￥2000</span></p>
						<a class="studyNow" href="javascript:;" title="">马上学习</a>
					</div>
					<div class="listBot cf">
						<span class="fl">开课时间&nbsp;&nbsp;8月20号 10:00</span>
						<span class="fr"><i>483</i>人已学习</span>
					</div>
					<ul class="statusBar cf"><li class="newBar"></li><li class="saleBar"></li><li class="liveBar"></li></ul>
				</li>
			</ul>
			<div>
				分页分页分页分页分页分页分页分页分页分页分页分页分页
			</div>
		</div>
		<div class="courseRight fr">
			<div class="buyCourseBox">
				<h3>猜你喜欢</h3>
				<ul class="buyCourseList">
					<li>
						<img src="" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
					<li>
						<img src="" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
					<li>
						<img src="" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
				</ul>
			</div>
			<div class="history">
				<h3 class="cf"><span class="fl">最近浏览</span><a class="clearCount fr" href="javascript:;">清空</a></h3>
				<ul class="historyList">
					<li class="cf b_t_0">
						<img class="fl" src="" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
					<li class="cf">
						<img class="fl" src="" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
					<li class="cf">
						<img class="fl" src="" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
				</ul>
				<div class="historyNone">暂无浏览记录</div>
			</div>
		</div>
	</div>
	<!-- 课程列表结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>