<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我的课程</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentClass/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="myCoursePage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout studentClass" id="nahaoModule" module="studentClass">
	<!-- 筛选分类开始 -->
	<div class="filterBox">
		<div class="filterList cf">
			<span class="tit">类型：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">学科辅导</a></li>
				<li><a class="qualityEdu" href="javascript:;" title="">素质教育</a></li>
			</ul>
		</div>
		<div class="filterList studySection cf">
			<span class="tit">学段：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">小学</a></li>
				<li><a href="javascript:;" title="">初中</a></li>
				<li><a href="javascript:;" title="">高中</a></li>
			</ul>
		</div>
		<div class="filterList studyGrade cf">
			<span class="tit">年级：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">三年级</a></li>
				<li><a href="javascript:;" title="">四年级</a></li>
				<li><a href="javascript:;" title="">五年级</a></li>
				<li><a href="javascript:;" title="">六年级</a></li>
				<li><a href="javascript:;" title="">七年级</a></li>
				<li><a href="javascript:;" title="">八年纪</a></li>
				<li><a href="javascript:;" title="">九年级</a></li>
				<li><a href="javascript:;" title="">高一</a></li>
				<li><a href="javascript:;" title="">高二</a></li>
				<li><a href="javascript:;" title="">高三</a></li>
			</ul>
		</div>
		<div class="filterList cf">
			<span class="tit">科目：</span>
			<ul>
				<li><a class="active" href="javascript:;" title="">全部</a></li>
				<li><a href="javascript:;" title="">数学</a></li>
				<li><a href="javascript:;" title="">语文</a></li>
				<li><a href="javascript:;" title="">英语</a></li>
				<li><a href="javascript:;" title="">生物</a></li>
				<li><a href="javascript:;" title="">化学</a></li>
				<li><a href="javascript:;" title="">物理</a></li>
			</ul>
		</div>
	</div>
	<ul class="sortBox cf">
		<li><a class="active" href="javascript:;" title="">综合排序</a></li>
		<li><a href="javascript:;" title="">开课时间</a></li>
	</ul>
	<!-- 筛选分类结束 -->
	<!-- 课程列表开始 -->
	<div class="courseBox layout cf">
		<div class="courseLeft fl">
			<div class="cf listCont">
				<div class="cf tabContent">
					<div class="cf item" itemname="cl_high_list">
						<div class="cf">
							{for $i=0 to 3  }
							<!-- 单个课程信息开始 -->
							<div class="cItem">
								<!-- 标签列表开始 -->
								<span class="markList">
									<span class="mark greenMark">限时抢购</span>
									<span class="mark blueMark">正在直播</span>
								</span>
								<!-- 标签列表结束 -->
								<a href="#" class="courseDesc">
									<img src="{$static_url}{$static_version}/images/studentClass/courseImg01.jpg" alt="">
								</a>
								<!-- hover时候显示的教师信息开始 -->
								<div class="hoverDesc">
									<div class="innerDesc">
										<!-- 教师图像和简介开始 -->
										<div class="cf teacherWrap">
											<a href="#" class="fl">
												<img src="{$static_url}{$static_version}/images/studentHomePage/course/teacher-pic.gif" alt="">
											</a>
											<!-- 教师姓名和教龄开始 -->
											<a class="fl teacherName" href="#">
												<strong>
													贺加贝4
												</strong>
												<span>
													10年教龄
												</span>
											</a>
											<!-- 教师姓名和教龄结束 -->
										</div>
										<!-- 教师图像和简介结束 -->
										<!-- 教师介绍开始 -->
										<a class="teacherDesc" href="#">
											80后，麻辣女教师<br/>
											8年教龄，曾在学而思等知名机构任教<br/>
											她认真负责、教学严谨，曾获“魅力教师”称号<br/>
											她重点大学英语专业，拥有多年一线教学经验<br/>
											她所教学生多混迹北京，有人大附清华附也有四中八中<br/>
											有人大附清华附也有四中八中
										</a>
										<!-- 教师介绍结束 -->
									</div>
								</div>
								<!-- hover时候显示的教师信息结束 -->
								<!-- 课程标题和简介开始 -->
								<h3 class="ctitle">
									<a href="#">
										<span class="cTitleName">谁不忆故人——唐诗中思念故人的诗歌鉴赏</span>
										<span class="cTitleDesc">本课程拟围绕“忆故人”这一主题，带领学生领略唐诗
			之美。</span>
									</a>
								</h3>
								<!-- 课程标题和简介结束 -->
								<!-- 课程价格开始 -->
								<p class="cDetail">
									<span class="price">￥<strong>258</strong></span><br>
									<span class="cVal">价值<span>￥500</span>
									</span>
									<a href="#" class="cRedBtn learnBtn">马上学习</a>
								</p>
								<!-- 课程价格结束 -->
								<div class="cf cBottom">
									<span class="fl">开课时间  8月20号 10:00</span>
									<span class="fr">
										<strong>438</strong>人已学习
									</span>
								</div>
							</div>
							<!-- 单个课程信息结束 -->
							{/for}
						</div>
					</div>
				</div>
				
			</div>
			<div>
				分页分页分页分页分页分页分页分页分页分页分页分页分页
			</div>
		</div>
		<div class="courseRight fr">
			<div class="buyCourseBox">
				<h3>猜你喜欢</h3>
				<ul class="buyCourseList">
					<li>
						<img src="{$static_url}{$static_version}/images/studentClass/courseImg02.jpg" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
					<li>
						<img src="{$static_url}{$static_version}/images/studentClass/courseImg02.jpg" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
					<li>
						<img src="{$static_url}{$static_version}/images/studentClass/courseImg02.jpg" alt="">
						<p>针对高考，重新建立语文的学习，重新建立语文的学习</p>
						<div class="studyNum cf"><span class="fl price">￥128</span><span class="fr"><i>483</i>人已学习</span></div>
					</li>
				</ul>
			</div>
			<div class="history">
				<h3 class="cf"><span class="fl">最近浏览</span><a class="clearCount fr" href="javascript:;">清空</a></h3>
				<ul class="historyList">
					<li class="cf b_t_0">
						<img class="fl" src="{$static_url}{$static_version}/images/studentClass/courseImg03.jpg" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
					<li class="cf">
						<img class="fl" src="{$static_url}{$static_version}/images/studentClass/courseImg03.jpg" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
					<li class="cf">
						<img class="fl" src="{$static_url}{$static_version}/images/studentClass/courseImg03.jpg" alt="">
						<div class="fl listRight">
							<p>针对高考，重新建立语文的学习</p>
							<div><span class="fl price">￥128</span><span class="priceHis fl">2000</span></div>
						</div>
					</li>
				</ul>
				<div class="historyNone">暂无浏览记录</div>
			</div>
		</div>
	</div>
	<!-- 课程列表结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>