<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="keywords" content="">
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="{static_url('/css/famousTeacher/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout famousTeacher" id="nahaoModule" module="famousTeacher">
	<div class="main">
		<!-- 头部图像开始 -->
		<div class="topBg">
			<p>你将：</p>
			<p>10小时	背完中、高考默写所有古诗文</p>
			<p>10小时	记住中、高考全部历史事件与时间</p>
			<p>6天		牢记中、高考全部英语词汇</p>
		</div>
		<!-- 头部图像结束 -->
		<!-- 简介开始 -->
		<div class="ztBox cf">
			<h2 class="ztH2">
				<span>简介</span>
				<em class="bgIcon"></em>
			</h2>
			<div class="word fl w_655">
				<h3 class="title">沈明：</h3>
				<p>世界脑力锦标赛中国区总教练，南方创新思维研究院高级研究员 ，广东省潜能开发专业委员会委
					员；2006年打破“抽象图形”记忆的世界记录，并进入中国脑力锦标赛前5强；作为“2006中国脑力
					锦标赛”选手代表，在人民大会堂向中央领导汇报全脑潜能学习成果；10年的教学生涯中，培养出多
					位世界记忆大师，帮助无数学生重新找到了学习的自信和快乐北京电视台、广州电视台、无锡电视台、
					湛江电视台、昆明春城早报、杭州钱江晚报等都对  沈老师进行了报道。
				</p>
				<ul class="cf">
					<li class="fl">
						<img src="{static_url('/images/famousTeacher/img2.jpg')}" alt="">
						<p>世界脑力锦标赛中国区总教练证书</p>
					</li>
					<li class="fl">
						<img src="{static_url('/images/famousTeacher/img3.jpg')}" alt="">
						<p>2006年打破“抽象图形”记忆的世界记录</p>
					</li>
				</ul>
			</div>
			<div class="pic fl mart_20">
				<img src="{static_url('/images/famousTeacher/img1.jpg')}" alt="">
			</div>
		</div>
		<!-- 简介结束 -->
		<!-- 理论体系、教学体系 开始 -->
		<div class="ztBox cf">			
			<h2 class="ztH2">
				<span>理论体系、教学体系</span>
				<em class="bgIcon"></em>
			</h2>
			<div class="word fl w_300">
				<p>沈明老师创造性的改进了思维导图的理论体
					系，设定了思维导图的分层和分级；他把“世界
					记忆大师们专用的记忆术”融入孩子的日常学习
					当中，发明了“右脑绘图记忆法”、“文字地图
					法”、“纵线记忆法”等多种实用的记忆方法，
					帮助上万名孩子解决了记忆难题；带领研发团队
					根据孩子们的需要，研发了包括 《单词不用记》
					《动漫游戏学英语》等一大批畅销全国的电子教
					材；为了推广先进的全脑学习方法，为了使更多
					的孩子在学习当中找到自信、找到快乐，沈老师
					在十年的时间当中，在全国巡回演讲数千场，辅
					导孩子数万人。
				</p>
			</div>
			<div class="pic fr mart_50 posr w_642">
				<img src="{static_url('/images/famousTeacher/img4.jpg')}" alt="" >
				<span class="btmBar"></span>
				<span class="btmText">世界记忆大师进百校活动中，沈老师在广州的多所名校演讲的照片</span>
			</div>
		</div>
		<!-- 理论体系、教学体系 结束 -->
		<!-- 沈老师的弟子人才辈出 开始 -->
		<div class="ztBox cf pdb_20">			
			<h2 class="ztH2 ">
				<span>沈老师的弟子人才辈出</span>
				<em class="bgIcon"></em>
			</h2>
			<div class="box cf marb_10">		
				<div class="pic fl  posr w_374 pdt_10">
					<img src="{static_url('/images/famousTeacher/img5.jpg')}" alt="" >
					<span class="btmBar"></span>
					<span class="btmText">沈老师学生倪梓强</span>
				</div>
				<div class="word fr w_555 pdt_10">
					<p>  沈老师学生倪梓强，1997年12月生，是江苏省海门中学学生，2009年开始接触全
						脑记忆之后，连续5年参加了世界脑力锦标赛，总获得了8金3银2铜的好成绩，曾被誉为
						中国的记忆神童。中央电视台《朝闻天下》 《新闻直播间》两个栏目都播出了采访的倪
						梓强专题节目。2009年、2010年，日本NHK电台两次采访倪梓强。
					</p>
					<p>2014年江苏卫视《最强大脑》节目中，17岁的倪梓强展示了不可思议的“雷达”技能：他短时间内记住了32对双胞胎的脸，在双胞胎们瞬间打乱顺序后，倪梓强顺利完成了“双胞胎连连看”。最终，他以超强实力晋级中国12人战队，代表中国“最强大脑”与国外选手PK。在与德国选手的PK中，倪梓强完成了变态道具“清明上河图”的细节记忆，不负众望获得胜利。其实倪梓强最令人称道的当属他的心态，他在比赛中展现了与年龄不符的沉稳和谦逊。</p>
				</div>
			</div>
			<div class="box cf marb_10">
				<div class="word fl w_555 pdt_10">
					<p>沈老师学生黄金东，在2014年的《最强大脑》节目中，凭借肉眼就分辨二维码的技能让他一时间受到大量关注。
					</p>
					<p>去《最强大脑》节目挑战之前，黄金东并没有专门针对“二维码检索”这个项目进行训练，不过在他看来，记忆二维码与记忆其他东西的方法大同小异。</p>
					<p>黄金东的才能并没有完全展现在节目中。他擅长记数字，记扑克牌，还会下盲棋，此外他还背了四本书，分别是《道德经》、《孙子兵法》、《鬼谷子》和大学英语四六级重点难点单词。黄金东的厉害之处在于，他可以准确地告诉你，哪一页第几行写的是哪一句话或是哪一个单词。黄金东说，他用的记忆诀窍是“古罗马房间法”——将对象与熟悉的生活环境联系起来，作为记忆的线索。</p>
				</div>						
				<div class="pic fr  posr w_374 pdt_10">
					<img src="{static_url('/images/famousTeacher/img6.jpg')}" alt="" >
					<span class="btmBar"></span>
					<span class="btmText">沈老师学生倪梓强</span>
				</div>
			</div>
			<div class="box cf ">
				<div class="pic fl  posr w_555 pdt_10">
					<img src="{static_url('/images/famousTeacher/img7.jpg')}" alt="" >
					<span class="btmBar"></span>
					<span class="btmText">沈老师学生杨万里</span>
				</div>					
				<div class="pic fr  posr w_364 pdt_10">
					<p>沈老师学生杨万里，在《最强大脑》节目中，他能够准确识别101条斑点狗。一只狗身上如果有100个点，那101只狗就是1万多个斑点，也就是说，在杨万里记忆里这1万多个斑点的位置和数量任意排列组合他都能预判出来，这个人的大脑不是大脑，是天脑。</p>
					<img src="{static_url('/images/famousTeacher/img8.jpg')}" alt="" >
					<span class="btmBar btmBarOther"></span>
					<span class="btmText btmText1">10年来培养出多位世界记忆大师，</span>
					<span class="btmText btmText2">帮助了无数的孩子找回了学习的自信和快乐！</span>
				</div>
			</div>
		</div>
		<!-- 沈老师的弟子人才辈出 结束 -->
		<!-- 全脑潜能开发系列课程 开始 -->
		<div class="ztBox cf">			
			<h2 class="ztH2 ">
				<span>全脑潜能开发系列课程</span>
				<em class="bgIcon"></em>
			</h2>
			<div class="box cf k_box">		
				<ul>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list13.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">5小时牢记高考写伯核心句型50句</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list14.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">5小时牢记高考写伯核心句型50句</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list15.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">6天记住小升初800核心单词特训</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list16.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">6天牢记高考核心词汇</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list1.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">6天牢记高考核心词汇</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list2.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">10小时背完高考古诗文默写所有篇目</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list3.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">10小时初中历史全部事件与时间速记</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list4.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">10小时初中历史全部事件与时间速记</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list5.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">高考英语高分范文背诵</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list6.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">高考伯文24个得分大点透析熟背</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list8.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">中考英语高分范文背诵</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list7.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">语文核心考点记忆</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>

					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list9.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">数学核心考点记忆</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list10.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">数学核心考点记忆</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list11.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">世界记忆大师三大核心记忆方法</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
					<li>
						<div class="picBox cf">
							<a href="javascript:void(0)" class="pic">
								<img src="{static_url('/images/famousTeacher/p_list12.jpg')}" alt="" >
							</a>
							<a href="javascript:void(0)" class="pTitle">高考近5年语法真题详解并用思维导图系统总结</a>
						</div>
						<a href="javascript:void(0)" class="pBtn">了解详情</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 全脑潜能开发系列课程 结束 -->
		<!-- 个大媒体对世界脑力锦标赛的报道 开始 -->
		<div class="ztBox cf">			
			<h2 class="ztH2 ">
				<span>个大媒体对世界脑力锦标赛的报道</span>
				<em class="bgIcon"></em>
			</h2>
			<div class="box cf news_box cf">
				<ul class="fl">
					<li>
						<img src="{static_url('/images/famousTeacher/news1.jpg')}" alt="" >
					</li>
					<li>
						<img src="{static_url('/images/famousTeacher/news2.jpg')}" alt="" >
					</li>
					<li>
						<img src="{static_url('/images/famousTeacher/news3.jpg')}" alt="" >
					</li>
					<li>
						<img src="{static_url('/images/famousTeacher/news4.jpg')}" alt="" >
					</li>
					<li>
						<img src="{static_url('/images/famousTeacher/news5.jpg')}" alt="" >
					</li>
					<li>
						<img src="{static_url('/images/famousTeacher/news6.jpg')}" alt="" >
					</li>
				</ul>
				<div class="tips fl">
					CCTV-2，CCTV-2，CCTV-2，CCTV-2，CCTV-2，南方电视台，广州电视台，广东珠江台，少儿频道，广东体育台，广东电视台，辽宁卫视等20多家电视媒体相继报道
				</div>	
			</div>
		</div>
		<!-- 个大媒体对世界脑力锦标赛的报道 结束 -->
	</div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>
