<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/student/css/study/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
<!--#include virtual="/include/var.htm"-->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
<!--#include virtual="/include/header.htm"-->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout study" id="nahaoModule" module="study">
	主要内容
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
<!--#include virtual="/include/footer.htm"-->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
<!--#include virtual="/include/js.htm"-->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>