nbproject
.DS_*
templates_c
.DS_Store
.htaccess

/.idea/
/webroot/index.php
/application/logs/*
/application/templates_c/*
/application/config/autoload.php
#/application/config/database.php
/application/config/*.php
#/application/config/development/*.php
/application/config/testing/*.php
/application/config/production/*.php
