{extends file='teacher/teacherPay/base.html'}

{block name=title}付款{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="/welcome/index/">首页 ></a>
    <a href="/pay/index/">课酬结算 ></a>
    <a href="javascript:void(0)" class="nav_detail">{$data['pay_info']['create_time']|date_format:'%Y'}年{$data['pay_info']['create_time']|date_format:'%m'}月详情</a>
</div>
<!--小导航结束-->
<!--付款模块开始-->
<div class="md_payDetail">
    <div class="md_title cf">
        <span>{$data['pay_info']['create_time']|date_format:'%Y'}年{$data['pay_info']['create_time']|date_format:'%m'}月课时费总额：<b class="fred">{$data['pay_info']['gross_income']}</b> 元</span>
        <span>授课次数：<b class="fred">{$data['pay_info']['teach_times']}</b>次</span>
        <span>授课课时：<b class="fred">{$data['pay_info']['class_times']}</b></span>
    </div>
    <div class="md_bd">
        <table class="md_table">
            <tr>
                <th>上课日期</th>
                <th>上课时间</th>
                <th>授课课时</th>
                <th>班节名称</th>
                <th>课时费（元）</th>
                <th>结算状态</th>
                <th>结算时间</th>
            </tr>
            {if $data['detail']}
            	{foreach $data['detail'] as $val}
            		<tr>
		                <td class="class_day"><b>{$val['begin_time']|date_format:'%Y'}年{$val['begin_time']|date_format:'%m'}月{$val['begin_time']|date_format:'%d'}日</b></td>
		                <td class="class_date">{$val['begin_time']|date_format:'%H: %M'}-{$val['end_time']|date_format:'%H: %M'}</td>
		                <td class="class_num">2</td>
		                <td class="class_name">
		                    <h3>{$val['title']} </h3>
		                    <p>{$val['round_title']}</p>
		                </td>
		                <td class="class_cost">{$val['reward']*2}</td>
		                <td class="class_state">{$val['checkout_status_name']}</td>
		                <td class="pay_date">{if $data['pay_info']['pay_time']}<b>{$data['pay_info']['pay_time']|date_format:'%Y-%m-%d'}</b>{$data['pay_info']['pay_time']|date_format:'%H:%M:%S'}{else}----{/if}</td>
		            </tr>
            	{/foreach}
            {else}
            	<tr>
           			<td colspan="7" style="text-align:center;"><b>该月没有您的授课记录</b></td>
           		</tr>
            {/if}
        </table>
    </div>
</div>
<!--付款模块结束-->
{/block}
