<head>
	<title>【{$data['title']}】-那好教师端</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="那好教师端" />
	<meta name="keywords" content="那好教师端" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='{static_url("/admin/css/bootstrap.css")}' rel="stylesheet">
	<link href='{static_url("/admin/css/bootstrap-datetimepicker.min.css")}' rel="stylesheet">
	<link href='{static_url("/teacher/css/index.css")}' rel="stylesheet">
</head>