#comLogin li {line-height:50px;}
#comLogin li .userName,
#comLogin li .pwd{font-size:16px;height:50px;line-height:50px;padding:0 15px 0 55px;display: block;border: 0;width:235px;background:#f1f1f1;/*background: url(../../images/login/loginInputBg.png) no-repeat #f1f1f1;*/_background: url(../../images/login/loginInputBg-ie.png) no-repeat #f1f1f1;}
#comLogin li .userName{border-bottom:1px solid #dfdede;}
#comLogin li .userName:focus,
#comLogin li .pwd:focus{background-color: #f8f8f8}
#comLogin .autoLi{font-size:14px;}
#comLogin .autoLi a:hover{color:#f14211;}
#comLogin li .autoLogin{margin:20px 10px 0 0;}
#comLogin li .btn{width:305px;height:46px;line-height:46px;margin-bottom:20px;}
#comLogin li .submit{border:0;cursor:pointer;}
#comLogin .msgInfo{height:20px;line-height: 20px;margin-bottom:5px;}