a {text-decoration:none;color:#333;}
a:hover {text-decoration:none;}
.layout:after,
.hd:after,
.bd:after,
.ft:after,
.cf:after{content:"";display:table;clear:both}
.layout,
.hd,
.bd,
.ft,
.cf{*zoom:1}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
.redText,
.grayText:hover,
.footer .ftNav a:hover,
.floatBox a:hover{color:#f14211!important;}
.blueText{color:#6dcde6;}
.blueText:hover{text-decoration: underline;color:#6dcde6;}
.grayText{color: #a3adb7;}
.yh{font-family: "微软雅黑";font-weight: normal;}
.undis{display: none;}
.dis{display: block;}
.undisIm{display:none!important;}
.disIm{display:block!important;}
.posr{position: relative;}
.noBBor{border-bottom: none!important;}
.greenText{color:#7ba801!important;}

/*input{padding: 0 10px;font-size: 14px;height: 30px;}   /*   回头看一下 这个border会不会对以前的有影响*/*/
/*textarea{padding: 10px 20px;font-size: 14px;}*/
/*select{font-size: 16px;height: 32px;height: 30px;}*/
.formName{margin: 20px 0 8px;color:#0e455e;font-weight: bold;}
.pageName span{font-size: 14px;font-weight: normal;margin-left: 10px;}
/*form input,textarea,select{color:#c1c1c1;border: 1px solid #a2a2a2;}*/
form input:focus,textarea:focus,select:focus{color:#4b4b4b;}

/* phone+ cart*/
.cartBg{background: url(../../images/common/cart.png) no-repeat;_background-image: url(../../images/common/cart_8.png);height: 24px;}
.phoneHref,.phoneHref:hover{color:#f14211;font-size: 16px;cursor: default;background: url(../../images/common/phone.png) left 0px no-repeat;_background-image: url(../../images/common/phone_8.png);padding-left: 26px;}
.mess{display: inline-block;padding-left: 24px;background: url(../../images/common/mess.png) left center no-repeat;}
/*悬浮框*/
.floatBox{border: 1px solid #d4d4d4;border-bottom: none;width: 68px;background: #fff;position:fixed;_position:absolute;bottom: 0;right: 0;}
.floatBox a{text-align:center;border-bottom: 1px solid #d4d4d4;color: #979797;display: inline-block;padding: 46px 0 4px;width: 68px;background-position: center 8px;background-repeat: no-repeat;}
.floatBox .ansQue{background-image: url(../../images/common/ansQue.jpg);}
.floatBox .feedback{background-image: url(../../images/common/feedback.jpg);}
.floatBox .returnTop{background-image: url(../../images/common/returnTop.jpg);background-position: center 18px;}
.floatBox a:hover{background-color: #f7f7f7; }
.floatBox .ansQue:hover{background-image: url(../../images/common/hansQue.jpg);}
.floatBox .feedback:hover{background-image: url(../../images/common/hfeedback.jpg);}
.floatBox .returnTop:hover{background-image: url(../../images/common/hreturnTop.jpg);}
            
/*  css3 旋转块 */
.clBoxShaow{font-size:14px;position:absolute;left:0;top:0;width: 230px;cursor: pointer;height: 270px;}
.iniBox{
	-webkit-transform:rotateY(0deg);
	-webkit-transition:.2s all ease;
	-moz-transform:rotateY(0deg);
	-moz-transition:.2s all ease;
	-ms-transform:rotateY(0deg);
	-ms-transition:.2s all ease;
	color:#333;background: #fff;
}
.iniBox .iniInfor{ padding: 0 12px 0 8px;}
.iniBox .iniInfor em.redText{ font-weight: bold;margin-right: 4px;}
.iniBox .fitGrade{color:#a2a2a2;}
.iniBox .courseTitle{height: 44px;line-height: 44px;font-weight: bold;}
.rotateBox{
	-webkit-transform:rotateY(90deg);
	-webkit-transition:.1s all ease;
	-moz-transform:rotateY(90deg);
	-moz-transition:.1s all ease;
	-ms-transform:rotateY(90deg);
	-ms-transition:.1s all ease;
	background: #f15930;
	color:#fff;
}
.teaInfor{padding: 32px 18px 0;border-bottom: 1px solid #d54c27;height: 42px;}
.teaInfor h3 span{display: inline-block;width: 18px;height: 15px;margin-left: 10px;}
.teaInfor h3 em{line-height: 14px;}
.teaInfor .teaInforR{padding-top: 3px;}
.teaInfor .workCard{background: url(../../images/studenthomePage/workCard.gif) center center no-repeat;}
.teaInfor .TitleCard{background: url(../../images/studenthomePage/TitleCard.png) center center no-repeat;_background-image: url(../../images/studenthomePage/TitleCard_8.png);}
.teaInfor .teaCard{font-size:12px;font-weight:normal;text-align:center;line-height: 12px;color:#f3704d;background: url(../../images/studenthomePage/teaCard.png) center center no-repeat;_background-image: url(../../images/studenthomePage/teaCard_8.png);}
.teaInfor img{width: 35px;height: 35px;margin-right: 6px;}
.rotateBox h3{font-size: 14px;}
.rotateBox .detailInfor{font-size: 12px;margin-top:3px;}
.rotateBox .courseTitle{position: absolute;bottom: 10px;left: 16px;width: 202px;height: 32px;line-height: 32px;background: url(../../images/common/hoverBg.png) right top no-repeat;}
.rotateBox .brief{line-height: 20px;padding: 25px 16px 0;}
.studentHomePage .courseList li:hover .iniBox,
.studentMyCourse .newList li:hover .iniBox{-webkit-transform:rotateY(90deg);-moz-transform:rotateY(90deg);-ms-transform:rotateY(90deg);}
.studentHomePage .courseList li:hover .rotateBox,
.studentMyCourse .newList li:hover .rotateBox{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);}
/*   不支持 transform  的低版本浏览器*/
.lowHomePage .clBoxShaow{border: 1px solid #bdbdbd;}
.lowHomePage .rotateBox{display: none;}
.lowHomePage .courseList li:hover .rotateBox,
.lowHomePage .newList li:hover .rotateBox{display: block;}
.lowHomePage .courseList li,
.lowHomePage .newList li{border: 1px solid #dbdbdb;}
/*.lowHomePage .reTitle{margin:0 auto;margin-top:-40px;line-height: 80px;}*/
.lowHomePage .tipText{margin-top: 0px!important;}

/*表格效果开始*/
.md_tableHd{clear:both;}
.md_tableHd h4{font-size:16px; line-height:40px; background-color:#f6f6f6; text-indent:5px;border:1px solid #d7d7d7;border-bottom:0;}
table.md_table{width:100%;font-size:14px;border:1px solid #d7d7d7;}
table.md_table a{color: #17a27e;}
table.md_table a:hover{color: #f90;}
table.md_table td,table th{text-align:center;line-height:40px;/*border:1px solid #d7d7d7;*/border-bottom: 1px solid #d7d7d7;}
table.md_table th{background:#f6f6f6;font-size:16px;color:#677381;font-weight:normal;}
/*表格效果结束*/

/*全站分页代码样式开始*/
.page {margin:10px 0px; line-height:30px;}
.pagination a {padding:1px 8px;color:#333;border:1px solid #d7d7d7;background:#f6f6f6;margin-left:6px;font-size:14px;}
.pagination a:hover{color:#fff;background:#ed4111;border-color:#0f9271;}
.pagination a.active,.pagination a.on{color:#fff;background:#ed4111;border-color:#0f9271;}
.pagination a.disabled{ display:none}
/*全站分页代码样式结束*/




