body{background:#f8f8f8;}
a {text-decoration:none;color:#333;}
a:hover {text-decoration:none;color:#c60301;}
.layout:after,
.hd:after,
.bd:after,
.ft:after,
.cf:after{content:"";display:table;clear:both}
.layout,
.hd,
.bd,
.ft,
.cf{*zoom:1}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
.redText,
.grayText:hover,
.footer .ftNav a:hover,
.floatBox a:hover{color:#f14211!important;}
.blueText{color:#6dcde6;}
.blueText:hover{text-decoration: underline;color:#6dcde6;}
.grayText{color: #a3adb7;}
.yh{font-family: "微软雅黑";font-weight: normal;}
.cInput{border: 1px solid #e5e5e5;padding: 0 10px;font-size: 14px;height: 30px;line-height: 30px;}
.undis{display: none;}
.dis{display: block;}
.undisIm{display:none!important;}
.disIm{display:block!important;}
.posr{position: relative;}
.noBBor{border-bottom: none!important;}
.greenText{color:#7ba801!important;}

form input:focus,textarea:focus,select:focus{color:#4b4b4b;}
.ctextarea{padding: 10px 20px;font-size: 14px;border: 1px solid #a2a2a2;}
.cselect{font-size: 16px;height: 32px;height: 30px;}
.formName{margin: 20px 0 8px;color:#0e455e;font-weight: bold;}
.pageName span{font-size: 14px;font-weight: normal;margin-left: 10px;}
.Validform_tip_info{padding-left: 10px;}
form .jqTransformSelectWrapper a.jqTransformSelectOpen{background: url(../../images/common/form/selectBj.gif) no-repeat;width: 33px;height: 33px;top: -1px;right: -1px;}
form .jqTransformSelectWrapper ul a:hover,form .jqTransformSelectWrapper ul a.selected:hover{background:#ccc;}
/* phone+ cart*/
.cartBg{background: url(../../images/common/cart.png) no-repeat;_background-image: url(../../images/common/cart_8.png);height: 24px;}
.phoneHref,.phoneHref:hover{color:#f14211;font-size: 16px;cursor: default;background: url(../../images/common/phone.png) left 0px no-repeat;_background-image: url(../../images/common/phone_8.png);padding-left: 26px;}
.mess{display: inline-block;padding-left: 24px;background: url(../../images/common/mess.png) left center no-repeat;}
/*悬浮框*/
.floatBox{border: 1px solid #d4d4d4;border-bottom: none;width: 32px;background: #fff;position:fixed;_position:absolute;bottom: 20%;right: 0;z-index: 100;display: none;}
.floatBox a{text-align:center;border-bottom: 1px solid #d4d4d4;color: #979797;display: inline-block;width: 32px;height: 32px; background-position: center 8px;background-repeat: no-repeat;text-indent: -10000px;}
.floatBox a.feedback{margin-top: 0px;padding: 0px;}
/*.floatBox .ansQue{background-image: url(../../images/common/ansQue.jpg);}*/
.floatBox .ansQue{background: url(../../images/common/kefu.gif) no-repeat center;display: none;}
.floatBox .feedback{background: url(../../images/common/feedback.gif) no-repeat center; }
.floatBox .returnTop{background: url(../../images/common/return_top.png) no-repeat center;display: none;text-indent: -10000px;background-color: #e0e0e0;}
.floatBox a:hover{background-color: #f7f7f7; }
.floatBox .weixinCode{background: url(../../images/common/weixin_code.gif) no-repeat center;position: relative;}
.floatBox .weixinCode .wxWrap{height: 160px;width: 136px;left: -136px;top:50%;margin-top: -80px;position: absolute;display: none;}
.floatBox .weixinCode .wxBg{display: block; width: 100%;height: 100%;background-color: #e0e0e0;opacity: 0.8;position: absolute;left:0px;top:0px;z-index: 5;}
.floatBox .weixinCode .wxDesc{border:1px solid #e0e0e0;background-color: #fff;width: 104px;height: 136px;top:50%;left: 50%;margin-top: -68px;margin-left: -52px;position: absolute;z-index: 6;}
.floatBox .weixinCode .wxWrap.active{display: block;}
.floatBox .weixinCode .wxWrap img{width: 84px;height: 84px;display: block;margin: 10px auto 5px;}
.floatBox .weixinCode .wxWrap .arrow{position: absolute;right: -10px;width: 10px;height: 13px;top:50%;margin-top: -6.5px;background: url(../../images/common/codeArrow.gif) no-repeat center;display: block;}
.floatBox .weixinCode .wxWrap .codeText{line-height: 15px;color: #333;}
/*.floatBox .ansQue:hover{background-image: url(../../images/common/hansQue.jpg);}*/
/*.floatBox .ansQue{background: url(../../images/common/feedback.gif) no-repeat center;}*/
/*.floatBox .feedback:hover{background: url(../../images/common/feedback.gif) no-repeat center;}*/
.floatBox .returnTop:hover{background-color: #ce0000;}
.floatBox .courSurvey{background-image: url(../../images/common/courSurvey.jpg);}
.floatBox .courSurvey:hover{background-image: url(../../images/common/hcourSurvey.jpg);}
            
/*  css3 旋转块 */
.clBoxShaow{font-size:14px;position:absolute;left:0;top:0;width: 230px;cursor: pointer;height: 270px;}
.iniBox{
	-webkit-transform:rotateY(0deg);
	-webkit-transition:.2s all ease;
	-moz-transform:rotateY(0deg);
	-moz-transition:.2s all ease;
	-ms-transform:rotateY(0deg);
	-ms-transition:.2s all ease;
	color:#333;background: #fff;
}
.iniBox img{height: 172px;width: 230px;}
.iniBox .iniInfor{ padding: 0 12px 0 8px;}
.iniBox .iniInfor em.redText{ font-weight: bold;margin-right: 4px;}
.iniBox .fitGrade{color:#a2a2a2;}
.iniBox .courseTitle{height: 44px;line-height: 44px;font-weight: bold;}
.rotateBox{
	-webkit-transform:rotateY(90deg);
	-webkit-transition:.1s all ease;
	-moz-transform:rotateY(90deg);
	-moz-transition:.1s all ease;
	-ms-transform:rotateY(90deg);
	-ms-transition:.1s all ease;
	background: #f15930;
	color:#fff;
}
.teaInfor{padding: 32px 18px 0;border-bottom: 1px solid #d54c27;height: 42px;}
.teaInfor h3 span{display: inline-block;width: 18px;height: 15px;margin-left: 10px;}
.teaInfor h3 em{line-height: 14px;width: 68px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}
.teaInfor .teaInforR{padding-top: 3px;width: 152px;}
.teaInfor .workCard{background: url(../../images/studentHomePage/workCard.gif) center center no-repeat;}
.teaInfor .TitleCard{background: url(../../images/studentHomePage/TitleCard.png) center center no-repeat;_background-image: url(../../images/studentHomePage/TitleCard_8.png);}
.teaInfor .teaCard{font-size:12px;font-weight:normal;text-align:center;line-height: 12px;color:#f3704d;background: url(../../images/studentHomePage/teaCard.png) center center no-repeat;_background-image: url(../../images/studentHomePage/teaCard_8.png);}
.teaInfor img{width: 35px;height: 35px;margin-right: 6px;}
.rotateBox h3{font-size: 14px;}
.rotateBox .detailInfor{font-size: 12px;margin-top:3px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.clBoxShaow .courseTitle{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.rotateBox .courseTitle{position: absolute;bottom: 10px;left: 16px;padding-right: 32px;width: 170px;height: 32px;line-height: 32px;background: url(../../images/common/hoverBg.png) right top no-repeat;}
.iniBox .courseTitle{width: 210px;}
.rotateBox .brief{line-height: 20px;padding: 25px 16px 0;font-size: 12px;}
.studentHomePage .courseList li:hover .iniBox,
.studentMyCourse .newList li:hover .iniBox{-webkit-transform:rotateY(90deg);-moz-transform:rotateY(90deg);-ms-transform:rotateY(90deg);}
.studentHomePage .courseList li:hover .rotateBox,
.studentMyCourse .newList li:hover .rotateBox{-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-ms-transform:rotateY(0deg);}
/*   不支持 transform  的低版本浏览器*/
.lowHomePage .clBoxShaow{border: 1px solid #bdbdbd;}
.lowHomePage .rotateBox{display: none;}
.lowHomePage .courseList li:hover .rotateBox,
.lowHomePage .newList li:hover .rotateBox{display: block;}
.lowHomePage .courseList li:hover .courseFree,
.lowHomePage .newList li:hover .courseFree{display: none;}
.lowHomePage .courseList li,
.lowHomePage .newList li{border: 1px solid #dbdbdb;}
.lowHomePage .tipText{margin-top: 0px!important;}

/*表格效果开始*/
.md_tableHd{clear:both;}
.md_tableHd h4{font-size:16px; line-height:40px; background-color:#f6f6f6; text-indent:5px;border:1px solid #d7d7d7;border-bottom:0;}
table.md_table{width:100%;font-size:14px;border:1px solid #d7d7d7;}
table.md_table a{color: #ed4111;}
table.md_table a:hover{color: #f15930;}
table.md_table td,table th{text-align:center;line-height:40px;border-bottom: 1px solid #d7d7d7;}
table.md_table th{background:#f6f6f6;font-size:16px;color:#677381;font-weight:normal;}
/*表格效果结束*/
.schoolPar{text-align: left;}
.schoolPar .schoolFullName{width: 325px;}
.resetSchool{color: #6dcde6;font-size: 14px}
.schoolFullName{font-size: 14px;}
.resetSchool:hover{text-decoration:underline;}
.codeSpan  {border-radius: 2px;background: #dedede;padding: 5px 8px;}
.login .codeSpan{padding:0 8px;margin-left: 10px;}
/*全站分页代码样式开始*/
.page {margin:10px 0px; line-height:30px;}
.page ul{float: right;width: auto!important;}
.page ul li{float: left;}
.page a{float:left;height: 22px;line-height: 22px;padding: 0 10px;font-size: 12px;color: #0e78e1;margin-right: 3px;background: #fff;text-align: center;border:1px solid #e0e0e0;}
.page .prev{background: #fff url(../../images/common/prev.gif) center no-repeat;}
.page .next{text-align:right;padding: 0;background: url(../../images/common/next.gif) center no-repeat;margin-left: 9px;}
.page .prev a{background: #fff url(../../images/common/prev.gif) 5px center no-repeat;color: #333;}
.page .next a{background: #fff url(../../images/common/next.gif) 48px center no-repeat;color: #333;margin-right: 0px;}
.page span{margin:0 4px;}
.page .more{}
.page li.active a,
.page a:hover{color:#c60301;background-color:#ffeed0;}
.page .prev a:hover{background: #fff url(../../images/common/prev-active.gif) 5px center no-repeat;color: #0e78e1;}
.page .next a:hover{background: #fff url(../../images/common/next-active.gif) 48px center no-repeat;color: #0e78e1;}
.page .more a{background-color: #f3f3f3;color: #333;}
/*全站分页代码样式结束*/
/* 意见反馈 */
.feedback{padding:14px 76px 44px 72px;width: 652px;margin-top:20px;}
.feedback h2{font-size: 20px;padding:13px 0 0 33px;height: 22px;line-height: 22px;margin-bottom: 7px;background: url(../../images/classRoom/feedback.png) 3px top no-repeat;}
.feedback form .fbText{height: 28px;line-height: 28px;}
.feedback form textarea{width: 610px;height: 100px;}
.feedback form input{width:288px;}
.feedback .formName{font-size: 16px;}
.feedback .submit,
.evalu .submit{width: 140px;margin-top: 12px;height: 40px;line-height: 40px;font-weight: bold;font-size: 20px;}
/*  登录 */
.loginInputBg{position: absolute;width: 55px;height: 50px;left: 0;top:0;background: url(../../images/login/loginInputBg.png) no-repeat;}
.unBg{background-position: 15px 0px;border-bottom:1px solid #dfdede;}
.pwdBg{background-position: 15px -50px;}
/*  免费  */
.courseFree{background: url(../../images/common/free.png) top right no-repeat;position: absolute;right: -6px;top:-6px;width: 87px;height: 89px;z-index: 111;}

.iebrowser{width: 100%;color: #f14211;height: 22px;line-height: 22px;text-align: center;font-size: 12px;background: #fff;}
.iebrowser span{margin-left:36px;}
.iebrowser a{color: #11243b;}
.disabledBg{background: #dedede;}
/*小彩旗开始*/
.markList{position: absolute;right: 8px;top:-3px;z-index: 10;}
.markList .mark{color: #fff;display: block;float: left;height: 32px;line-height: 14px;margin-right: -3px;padding: 3px 6px;width: 28px;}
.markList .mark1{background: url("../../images/common/flags/mark1.png") no-repeat center transparent;_background: url("../../images/common/flags/mark1_8.png") no-repeat center transparent;}
.markList .mark2{background: url("../../images/common/flags/mark2.png") no-repeat center transparent;_background: url("../../images/common/flags/mark2_8.png") no-repeat center transparent;}
.markList .mark3{background: url("../../images/common/flags/mark3.png") no-repeat center transparent;_background: url("../../images/common/flags/mark3_8.png") no-repeat center transparent;}
.markList .mark4{background: url("../../images/common/flags/mark4.png") no-repeat center transparent;_background: url("../../images/common/flags/mark4_8.png") no-repeat center transparent;}
.markList .mark5{background: url("../../images/common/flags/mark5.png") no-repeat center transparent;_background: url("../../images/common/flags/mark5_8.png") no-repeat center transparent;}
.markList .mark6{background: url("../../images/common/flags/mark6.png") no-repeat center transparent;_background: url("../../images/common/flags/mark6_8.png") no-repeat center transparent;}
.markList .mark7{background: url("../../images/common/flags/mark7.png") no-repeat center transparent;_background: url("../../images/common/flags/mark7_8.png") no-repeat center transparent;}
.markList .mark8{background: url("../../images/common/flags/mark8.png") no-repeat center transparent;_background: url("../../images/common/flags/mark8_8.png") no-repeat center transparent;}
/*小彩旗结束*/
/*最近浏览记录开始*/
.historyWrap{position: relative; }
.historyWrap .historyListWrap{background-color: #fff;border:1px solid #e0e0e0;width: 218px;} 
.historyWrap .hHeader{font-size:14px;height: 35px;line-height: 35px;padding-left: 12px;}
.historyWrap .deletHistory{color: #cb0000;font-size:12px;padding-right:15px;}
.historyWrap .historyList{overflow: hidden;padding: 0 12px;}
.historyWrap .hItem{border-top: 1px dashed #e0e0e0;display: block;margin-top: -1px;padding: 20px 0;}
.historyWrap .hPic{height: 51px;width: 80px;}
.historyWrap .hDesc{width: 100px;}
.historyWrap .hDesc .hSmallTitle{display: block;font-size:12px;height: 30px;line-height: 15px;margin-bottom:5px;overflow: hidden;}
.historyWrap .hDesc .valList{}
.historyWrap .hDesc .price{color: #ce0000;font-weight: normal;}
.historyWrap .hDesc .val{padding-left: 12px;text-decoration: line-through;color: #989898;}
.historyWrap .noHistory{margin: 50px 0px;text-align: center;}
/*最近浏览记录结束*/

