.footer{background: #11243b;text-align: center;font-size: 12px;color: #fff;padding: 20px 0 16px;}
.footer .ftNav a{color: #fff;}
.footer .ftNav span{margin: 0 15px;color:#f14211;}
.footer .fm a{color:#f14211;}
.footer .sina{padding-right: 26px;background: url(../../images/common/footer/sina.png) right bottom no-repeat;_background-image: url(../../images/common/footer/sina_8.png);display: inline-block;height: 18px;}
.footer .wx{padding-right: 30px;margin:0 40px 0 30px;background: url(../../images/common/footer/wx.png) right bottom no-repeat;_background-image: url(../../images/common/footer/wx_8.png);display: inline-block;height: 18px;}
.footer .sina:hover{color:#fff;background: url(../../images/common/footer/hsina.png) right bottom no-repeat;_background-image: url(../../images/common/footer/hsina_8.png);}
.footer .wx:hover{color:#fff;background: url(../../images/common/footer/hwx.png) right bottom no-repeat;_background-image: url(../../images/common/footer/hwx_8.png);}
.footer .phoneHref{background-position: left bottom;}
.footer .fm{height: 46px;padding-top: 24px;}
.footer .fbSpan{margin-right: 3px;}
