<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/login/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap login" id="nahaoModule" module="login">
	<div class="regSuccessBox layout">
		<h2 class="noIcon">关于我</h2>
		<form action="" method="post" class="loginAfterForm">
			<ul class="Oul">
				<li class="cf">
					<p class="fl"><span>*</span>邮箱</p>
					<div class="cf">
                        {if !$userdata.email}
						<input type="text" name="email" class="lEmail textInput fl" validName="text" value="{$userdata.email}" >
						<div class="Validform_tip_info undis">请输入邮箱</div>
          				<div class="Validform_checktip"></div>
                        {else}
                        <span class="fl hasEmail">{$userdata.email}</span>
                        {/if}
						<!-- <span class="Validform_checktip fl"></span> -->
					</div>
				</li>
				<li class="cf">
					<p class="fl"><span>*</span>昵称</p>
					<div class="cf">
						<input type="text" name="nickname" class="lname textInput fl" validName="text">
						<div class="Validform_tip_info undis">请输入昵称</div>
          				<div class="Validform_checktip"></div>
					</div>
				</li>
				<li class="cf areaSelect">
					<p class="fl"><span>*</span>地区</p>
					<div class="cf" style="float:left">
						<div class="fl">
							<div>
								<select name="province" id="province" validName="select" class="loction">
									<option value="">选择省份</option>
                                    {foreach $province as $val}
                                    <option value="{$val.id}">{$val.name}</option>
                                    {/foreach}
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>
					</div>
                    <div class="fl" style="float:left">
						<div class="fl">
							<div>
								<select name="city" id="city" validName="select" class="loction">
									<option value="">选择城市</option>
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>
					</div>
                    <div class="fl">
						<div class="fl">
							<div id="area_div">
								<select name="area" id="area" validName="select">
									<option value="">选择地区</option>
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="cf">
					<p class="fl"><span>*</span>年级</p>
					<div class="cf">
						<div class="fl">
							<div>
                            <select name="grade" id="grade" validName="select" class="subjectInput beauty_select">
                                <option value="">选择年级</option>
                                {foreach $grades as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>
					</div>
					<p class="tips2 fl">选择正确年级，专属活动等着你</p>			
				</li>
				<li class="cf optional">
					<p class="fl">真实姓名</p>
					<div class="cf">
						<input type="text" name="realname" class="pUname fl textInput" validName="text">
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="cf optional">
					<p class="fl">选择性别</p>
					<div class="cf">
						<div class="fl changeSex">
                            {foreach $gender as $key => $val}
							<input type="radio" name="gender" value="{$key}" class="radio" ignore="ignore" validName="radio" /> {$val}
                            {/foreach}
						</div>
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="attent">
					<p class="optional">关注学科</p>
					<input type="button" name="focus_subjects" subject_id="1" value="奥数" class="btn ">
					<input type="button" name="focus_subjects" subject_id="2" value="数学" class="btn ">
					<input type="button" name="focus_subjects" subject_id="3" value="作文" class="btn ">
					<input type="button" name="focus_subjects" subject_id="4" value="英语" class="btn ">
					<input type="button" name="focus_subjects" subject_id="5" value="物理" class="btn ">
					<input type="button" name="focus_subjects" subject_id="6" value="化学" class="btn ">
					<input type="button" name="focus_subjects" subject_id="7" value="生物" class="btn ">
					<input type="button" name="focus_subjects" subject_id="8" value="地理" class="btn ">
					<input type="button" name="focus_subjects" subject_id="9" value="政治" class="btn ">
                    <input type="hidden" name="selected_subjects" id="selected_subjects" value="">
					<div class="cf">
						<div class="attNote fl">注：最多可选择3项</div>
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="cf">
					<p class="schooptional">所属学校</p>
					<div class="cf schoolPar">
						<input class="schoolFullName cInput yh" readonly="readonly" value=""></input>
						<a href="javascript:void(0);" class="resetSchool" set="1" province="2" city="" county="500">选择学校</a>
						<input type="hidden" value="" name="school_id" id="schoolVal" />
                        <input type="hidden" value="" name="province_id" id="province_id" />
                        <input type="hidden" value="" name="city_id" id="city_id" />
						<input type="hidden" value="" name="area_county_id" id="area_county_id"/>
						<input type="hidden" value="" name="school_type" id="school_type">
						<input type="hidden" value="" name="schoolname" id="schoolname" />
					</div>
				</li>
				<li>
					<input type="submit" value="保存" class="btn redBtn submit">
				</li>
			</ul>
		</form>
	</div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
<!--选择学校-->
{include file='common/setSchool.html'}
</body>
</html>