<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>那好在线课程注册界面-那好网</title>
<meta name="description" content="那好在线课程注册界面" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/login/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="loginPage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout login" id="nahaoModule" module="login" data_page="studentPage">
	<div class="regWrap cf">
		<div class="regBox fl">
			<h2>快速注册<span>一分钟改变你的学习方式</span></h2>
			<div class="regTab">
				<div class="tabBox cf">
					<a href="javascript:void(0)"  class="fl active">手机注册</a>
					<a href="javascript:void(0)"  class="fl">邮箱注册</a>
				</div>
				<div class="contentBox">
					<div class="box phoneBox">
						<form action="{$student_url}register/submit" class="regPhoneBox" method="POST" onsubmit="return false">
							<ul>
								<li>
									<p>手机号</p>
									<input type="text" value="" name="phone" class="phoneNum regInput yh" placeholder="使用手机注册，第一时间获知名师公开课">
									<div class="Validform_tip_info undis">请输入手机号</div>
                          			<div class="Validform_checktip"></div>
								</li>
								<li>
									<p>密码</p>
									<input type="hidden" name="password" class="epass">
									<input type="password" name="password" class="pwd regInput yh" placeholder="6-20位字符，区分大小写">
									<div class="Validform_tip_info undis">请输入密码</div>
                          			<div class="Validform_checktip"></div>
								</li>
								<li class="cf liPhoneCode">
									<input type="button" class="btn blueBtn pnoneCode fl sendPhoneCode" value="免费获取验证码">
									<div class="fr reg_validate_code">
										<input type="text" name="captcha" class="codeInput regInput yh" placeholder="请输入手机验证码">
										<div class="Validform_tip_info undis">请输入手机验证码</div>
                          				<div class="Validform_checktip"></div>
									</div>
								</li>
								<li class="agreementLi">
									<input name="" checked id="agreementEmail" type="checkbox" />
									<label for="agreementEmail">我已阅读并同意</label>
									<a href="{$student_url}about/service" target="_blank">那好网服务使用协议</a>
								</li>
								<li>
									<input type="submit" class="btn redBtn regInput submit yh" value="免费注册 ">
								</li>
							</ul>
						</form>
					</div>
					<div class="box emailBox undis">
						<form action="{$student_url}register/submit" class="regEmailBox" method="POST" >
							<ul>
								<li>
									<p>邮箱</p>
									<input type="text" name="email" class="email regInput yh" placeholder="邮箱地址">
									<div class="Validform_tip_info undis">请输入邮箱地址</div>
                          			<div class="Validform_checktip"></div>
								</li>
								<li>
									<p>密码</p>
									<input type="hidden" name="password" class="epass">
									<input type="password" name="password" class="pwd regInput yh" placeholder="6-20 位字符">
									<div class="Validform_tip_info undis">请输入密码</div>
                          			<div class="Validform_checktip"></div>
								</li>
								<li>
									<p>手机号（选填）</p>
									<input type="text" name="ephone" class="ephone regInput yh" placeholder="填写手机号码，第一时间获知名师公开课">
								</li>
								<!--<li class="authCodeLi">-->
									<!--<input type="text" id="code" name="code" placeholder="请输入验证码" class="fl regInput authCode ecode" maxlength="4">-->
                               		<!--<span id="cap_img" class="codeImg"></span>-->
                                	<!--<a href="javascript:void(0)" class="changeOne">换一张</a>-->
                                	<!--<div class="Validform_tip_info undis">请输入验证码</div>-->
                          			<!--<div class="Validform_checktip"></div>-->
								<!--</li>-->
								<li class="agreementLi">
									<input name="" checked id="agreementEmail" type="checkbox" />
									<label for="agreementEmail">我已阅读并同意</label>
									<a href="{$student_url}about/service" target="_blank">那好网服务使用协议</a>
								</li>
								<li>
									<input type="submit" class="btn redBtn regInput submit yh" value="免费注册 ">
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>			
		</div>
		<div class="regRight fl">
			<p class="redText">在过去的几分钟</p>
			<div class="rollPar posr">
				<div class="rollBox">
					<ul class="rollUpDown">
						<li>
							<span class="usename">w****8@163.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">139****8472</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">c****3@126.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">6****6@qq.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">135****1708</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">n****888@163.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">7****217@qq.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">ti****3@126.com</span>
							<span>刚加入了那好课堂</span>
						</li>
						<li>
							<span class="usename">186****323</span>
							<span>刚加入了那好课堂</span>
						</li>
					</ul>
					<ul class="rollUpDownCopy">
					</ul>
				</div>	
			</div>	
		</div>
	</div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>