<h4>已结算的课酬数:{$statistics['balance_total']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已结算的课酬总额:￥{$statistics['balance_income']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未结算的课酬数:{$statistics['unsettled_total']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未结算的课酬总额:￥{$statistics['unsettled_income']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已支付的课酬数:{$statistics['pay_total']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;已支付的课酬总额:￥{$statistics['pay_income']}</h4><br />
 <form method="get" action="/check_out/search">
     <div class="col-md-2">
 <select name="term" class="form-control">
     <option value=0>请选择条件</option>
     <option value=1 {if isset($search_term.term) && $search_term.term==1}selected{/if}>教师姓名</option>
     <option value=2 {if isset($search_term.term) && $search_term.term==2}selected{/if}>教师昵称</option>
     <option value=3 {if isset($search_term.term) && $search_term.term==3}selected{/if}>手机号</option>
 </select>
   </div>
     <div class="col-md-2"><input type="text" name="term_val" value="{if isset($search_term.term_val)}{$search_term.term_val}{/if}" class="form-control" placeholder="请输入搜索条件" /></div>
     <div class="col-md-2"><input type="text" name="settle_time" value="{if isset($search_term.settle_time)}{$search_term.settle_time}{/if}" id="settle_datetimepicker1" class="form-control" placeholder="请选择结算时间搜索" readonly /></div>
     <div class="col-md-2"><select name="status" class="form-control">
            <option value=0>请选择状态</option>
            {for $i=1 to 3}
            <option value={$i} {if isset($search_term.status) && $search_term.status==$i}selected{/if}>{$teacher_balance[$i]}</option>
            {/for}
        </select>
         </div>
     <a href="/check_out" class="btn btn-info" role="button">重置</a>&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit" class="btn btn-info">搜索</button>
</form><br /><br />
<label class="control-label" for="inputSuccess">符合条件的共有{$search_total}条数据</label><br />
<table class="table table-hover">
    <thead>
    <tr>
        <th width="80">教师姓名</th>
        <th width="80">教师昵称</th>
        <th width="100">联系方式</th>
        <th width="80">授课次数</th>
        <th width="80">授课课时</th>
        <th width="80">总课时费</th>
        <th width="80">税后收入</th>
        <th width="80">结算状态</th>
        <th width="180">结算日期</th>
        <th width="80">当月详情</th>
    </tr>
    </thead>
    {foreach $list as $v}
    <tr>
        <td>{$v.realname}</td>
        <td>{$v.nickname}</td>
        <td>{$v.phone_mask}</td>
        <td>{$v.teach_times}</td>
        <td>{$v.class_times}</td>
        <td>{$v.gross_income}</td>
        <td>{$v.net_income}</td>
        <td>{$teacher_balance[$v.status]}</td>
        <td>{$v.checkout_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
        <td><a href="/check_out/details_for_class?teacher_checkout_log_id={$v.id}">查看详情</a></td>
    </tr>
    {/foreach}
</table>
{$page}