课程名称 : {$round.title}     共{$chapter_count}章  {$section_count}节课  开卖时间:{date("Y-m-d H:i",$round.sell_begin_time)}  停卖时间:{date("Y-m-d H:i",$round.sell_end_time)}  开课时间{date("Y-m-d H:i",$round.start_time)}
<div style="display:none" id="class_list_round_id" data-round_id="{$round.id}"></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>课堂ID</th>
        <th>课堂名称</th>
        <th>章节</th>
        <th>教室ID</th>
        <th>上课时间</th>
        <th>下课时间</th>
        <th>课堂状态</th>
        <th>实到/应到</th>
        <th>上课到达率</th>
        <th>学员评价</th>
        <th>讲义</th>
        <th>习题管理</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $classes as $v}
    <tr>
        <td class="list_class_id">{$v.id}</td>
        <td>{if $v.parent_id gt 0}节{else}章{/if}</td>
        <td>{$v.title}</td>
        <td>{$v.classroom_id}</td>
        <td>{if ($v.begin_time gt 0) }{date("Y-m-d H:i",$v.begin_time)}{/if}</td>
        <td>{if ($v.end_time gt 0) }{date("Y-m-d H:i",$v.end_time)}{/if}</td>
        <td>{if $v.parent_id gt 0}{$class_status[$v.status]}{/if}</td>
        <td>{if ($v.parent_id gt 0) AND ($smarty.const.TIME_STAMP > $v.begin_time)}{$v.attendance}{/if}</td>
        <td></td>
        <td>{if $v.parent_id gt 0}<a href="/feedback/index?class_id={$v.id}">评价</a>{/if}</td>
        <td>
            {if $v.parent_id gt 0}
                {if $v.courseware_id==0}
                    <botton class="btn btn-primary btn-xs btn_upload_pdf" data-class_id="{$v.id}">上传</botton>
                {else}
                    <a target="_blank" href="/classes/preview/{$v.courseware_id}">预览</a>
                    <botton class="btn btn-success btn-xs btn_upload_pdf" data-class_id="{$v.id}">修改</botton>
                {/if}
                {else}
                --
            {/if}
        </td>
        <td>{if $v.parent_id gt 0}<a target="_blank" href="/question/class_question/{$v.id}">习题</a>{/if}</td>
        <td>
            {if ($v.parent_id gt 0) AND ($v.classroom_id gt 0)}
                <a target="_blank" href="/classes/enter/{$v.classroom_id}">进入课堂</a>
                <btn class="btn btn-primary btn-xs reload_courseware" data-classroom_id="{$v.classroom_id}">刷新教材</btn>
            {else}
                --
            {/if}
            {if $v.parent_id gt 0}
            <a href="javascript:;" class="btn_class_edit" data-class_id="{$v.id}">修改</a>
            {/if}
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
{include file="admin/class_list_modal_operation.html"}
