<div class="form-group">
    <a class="btn btn-success" href="/course/edit" target="_blank">
        添加课程
    </a>
</div>

<form class="form-horizontal" role="form" action="/course">
    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control input-sm" name="course_type">
                <option value="">全部课程类型</option>
                {foreach $course_types as $k => $v}<option value="{$k}" {if isset($query_param.course_type) AND $query_param.course_type==$k }selected{/if}>{$v}</option>{/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <select  class="form-control input-sm" name="subject">
                <option value="">全部学科</option>
                {foreach $subjects as $k => $v}<option value="{$k}" {if isset($query_param.subject) AND $query_param.subject==$k }selected{/if}>{$v.name}</option>{/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm" name="status">
                <option value="">全部状态</option>
                {foreach $course_status as $k => $v}<option value="{$k}" {if isset($query_param.status) AND $query_param.status==$k }selected{/if}>{$v}</option>{/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm" name="search_type">
                {foreach $course_list_search_type as $k => $v}<option value="{$k}" {if isset($query_param.search_type) AND $query_param.search_type==$k }selected{/if}>{$v}</option>{/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control input-sm" id="search_value" name="search_value" size="16" value="{if isset($query_param.search_value)}{$query_param.search_value}{/if}">
        </div>
        <div class="col-md-1">
            <button type="submit" class="form-control btn-sm btn btn-primary">搜索</button>
        </div>
        <div class="col-md-1">
            <a class="form-control btn-sm btn btn-primary" href="/course">重置</a>
        </div>
    </div>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <!--<th>#</th>-->
        <th>课程ID</th>
        <th>课程名称</th>
        <th>课节数</th>
        <th>教师</th>
        <th>状态</th>
        <th>科目</th>
        <th>课程类型</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $list as $v}
        <tr>
            <!--<td><input type="checkbox"></td>-->
            <td>{$v.id}</td>
            <td>
                {$v.title}<br />
                {if isset($education_types[$v.education_type])}教育类型：{$education_types[$v.education_type]}{/if}
            </td>
            <td>{$v.lesson_count}</td>
            <td>{$v.nickname}</td>
            <td>{if isset($v.status)}{$course_status[$v.status]}{/if}</td>
            <td>{if $v.education_type gt 0 && isset($education_subjects[$v.education_type][$v.subject])}{$education_subjects[$v.education_type][$v.subject]}{else}{/if}</td>
            <td>{if isset($course_types[$v.course_type])}{$course_types[$v.course_type]}{/if}</td>
            <td>{date('Y-m-d H:i',$v.create_time)}</td>
            <td>
                <a href="/course/edit/{$v.id}">修改</a>
                <a target="_blank" href="/lesson/index/{$v.id}">章节管理</a>
                <!--<a href="javascript:;" class="course_operation" data-course_id="{$v.id}">更多</a>-->
                {if $v.status eq $smarty.const.NAHAO_STATUS_COURSE_INIT}
                    <botton class="course_operation btn-xs btn btn-success" data-action="/course/update" data-course_id="{$v.id}" data-status="{$smarty.const.NAHAO_STATUS_COURSE_RUNNING}">过审</botton>
                    <botton class="course_operation btn-xs btn btn-danger" data-action="/course/update" data-course_id="{$v.id}" data-status="{$smarty.const.NAHAO_STATUS_COURSE_DENY}">拒审</botton>
                    {elseif $v.status eq $smarty.const.NAHAO_STATUS_COURSE_RUNNING}
                        <a class="btn-xs btn btn-primary" target="_blank" href="/round/edit?course_id={$v.id}">生成班次</a>
                        <botton class="course_operation btn-xs btn btn-warning" data-action="/course/update" data-course_id="{$v.id}" data-status="{$smarty.const.NAHAO_STATUS_COURSE_PAUSE}">暂停</botton>
                    {elseif $v.status eq $smarty.const.NAHAO_STATUS_COURSE_PAUSE}
                        <botton class="course_operation btn-xs btn btn-info" data-action="/course/update" data-course_id="{$v.id}" data-status="{$smarty.const.NAHAO_STATUS_COURSE_INIT}">重开</botton>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
共{$count}条记录&nbsp;&nbsp;{$page}
{include file="admin/course_list_operation.html"}



