<!-- Modal -->
<div class="modal fade" id="course_list_operation_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-info">课程操作
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <input type="hidden" name="course_operation_course_id" id="course_operation_course_id" value="">
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="course_status" id="optionsRadios1" value="{$smarty.const.NAHAO_STATUS_COURSE_DENY}" checked>审核不通过
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="course_status" id="optionsRadios2" value="{$smarty.const.NAHAO_STATUS_COURSE_RUNNING}" checked>审核通过
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="course_status" id="optionsRadios3" value="{$smarty.const.NAHAO_STATUS_COURSE_PAUSE}" checked>暂停
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="teacher_list_area">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_course_status_submit" data-action="/course/status"> &nbsp;创建
                    &nbsp;</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->