<h2>职位</h2><textarea id="title" name="title"></textarea>
<h2>招聘信息</h2><textarea id="desc" name="desc"></textarea>
<h2>招聘要求</h2><textarea id="requirement" name="requirement"></textarea>
<h2>顺序</h2>
    <br />
<div class="col-md-2">
    <input type="text" name="seq" id="seq" value="" class="form-control" placeholder="请输入顺序" />
</div>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">顺序越大越靠前</font>
    <br /><br /><br /><br />
    <div class="col-md-5"></div>
    <button type="button" class="btn btn-success col-md-2" id="create">提交</button>