<form method="get" action="/feedback">
    <div class="col-md-4">
        <input type="text" name="content" value="{if isset($search_term.content)}{$search_term.content}{/if}" class="form-control" placeholder="请输入内容进行搜索" />
    </div>
    <div class="col-md-2">
        <select name="score_start" class="form-control">
            <option value=0>请选择开始分数</option>
            {for $i=1 to 5}
                <option value={$i} {if isset($search_term.score_start) && $search_term.score_start==$i}selected{/if}>{$i}分</option>
            {/for}
        </select>
    </div>
    <div class="col-md-2">
        <select name="score_end" class="form-control">
            <option value=0>请选择结束分数</option>
            {for $i=1 to 5}
            <option value={$i} {if isset($search_term.score_end) && $search_term.score_end==$i}selected{/if}>{$i}分</option>
            {/for}
        </select>
    </div>
    <div class="col-md-2">
        <input type="text" name="class_id" value="{if isset($search_term.class_id)}{$search_term.class_id}{/if}" class="form-control" placeholder="请输入课ID进行搜索" />
    </div>
    <div class="col-md-2">
        <input type="text" name="round_id" value="{if isset($search_term.round_id)}{$search_term.round_id}{/if}" class="form-control" placeholder="请输入轮ID进行搜索" />
    </div>
    <div class="col-md-15">
        &nbsp;
    </div>
    <div class="col-md-2">
        <input type="text" name="course_id" value="{if isset($search_term.course_id)}{$search_term.course_id}{/if}" class="form-control" placeholder="请输入课程ID进行搜索" />
    </div>
    <div class="col-md-2">
        <input type="text" name="student_id" value="{if isset($search_term.student_id)}{$search_term.student_id}{/if}" class="form-control" placeholder="请输入学生ID进行搜索" />
    </div>
    <div class="col-md-3">
        <input type="text" id="start_time" name="start_time" value="{if isset($search_term.start_time)}{$search_term.start_time}{/if}" class="form-control" placeholder="请输入开始时间进行搜索" readonly />
    </div>
    <div class="col-md-3">
        <input type="text" id="end_time" name="end_time" value="{if isset($search_term.end_time)}{$search_term.end_time}{/if}" class="form-control" placeholder="请输入结束时间进行搜索" readonly />
    </div>
    <button type="submit" class="btn btn-info">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/feedback" class="btn btn-warning" role="button">重置</a>

</form><br />
<label class="control-label" for="inputSuccess">符合条件的共有{$search_total}条数据</label><br />
<table class="table table-hover">
    <thead>
        <tr>
            <th width="10">#</th>
            <th width="80">课程ID</th>
            <th width="50">轮ID</th>
            <th width="50">课ID</th>
            <th width="60">学生ID</th>
            <th width="80">昵称</th>
            <th width="350">评价内容</th>
            <th width="90">评价时间</th>
            <th width="80">评价分数</th>
            <th width="80">是否显示</th>
            <th width="40">操作</th>
        </tr>
    </thead>
        {foreach $list as $v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.course_id}</td>
        <td>{$v.round_id}</td>
        <td>{$v.class_id}</td>
        <td>{$v.student_id}</td>
        <td>{$v.nickname}</td>
        <td>{$v.content}</td>
        <td>{$v.create_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
        <td>{$v.score}</td>
        <td>{$config_feedback[$v.is_show]}</td>
        <td>
            {if $v.is_show==0}
            <button class="btn btn-success show_feedback" role="button" data-feedback_id="{$v.id}" data-a="1">显示</button>
            {elseif $v.is_show==1}
            <button class="btn btn-warning hide_feedback" role="button" data-feedback_id="{$v.id}" data-a="0">屏蔽</button>
            {/if}
        </td>
    </tr>
        {/foreach}
</table>
        {$page}