<label class="control-label" for="inputSuccess">符合条件的共有{$search_total}条数据</label><br />
{for $i=1 to 130}
   &nbsp;
{/for}
        <a href="/focus_photo/add" target="_blank" class="btn-primary btn">添加+</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>轮ID</th>
        <th>填充色</th>
        <th>展示顺序</th>
        <th>是否显示</th>
        <th>操作</th>
    </tr>
    </thead>
    {foreach $photo as $v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.round_id}</td>
        <td>{$v.color}</td>
        <td>{$v.sort}</td>
        <td>{if $v.is_show==0}<button class="btn btn-success active show" role="button" data-id="{$v.id}" data-is_show="{$v.is_show}">启用</button>{elseif $v.is_show==1}<button class="btn btn-warning active noshow" role="button" data-id="{$v.id}" data-is_show="{$v.is_show}">屏蔽</button>{/if}</td>
        <td><a href="#" class="modify" data-photo_id="{$v.id}" data-round_id="{$v.round_id}" data-img_src="{$v.img_src}" data-color="{$v.color}">修改</a>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="edit_sort" data-edit_id="{$v.id}"     data-sort="{$v.sort}">修改顺序</a>
        </td>
    </tr>
    {/foreach}
</table>
{$page}
        <input type="hidden" value="" id="is_round" />
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请输入修改内容</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-2">
                轮ID:<input type="text" value="" name="round_id" placeholder="请输入轮ID" class="form-control" id="round_id" />
                </div>
               <!-- <div class="col-md-2">
                填充色:<input type="text" value="" class="form-control" name="color" placeholder="请输入颜色" id="color" />
                </div> --><br /><br /><br /><br />
                <input type="hidden" id="photo_id" name="photo_id" />
                <button type="button" class="btn btn-success" id="edit">修改</button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="edit_sort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">请输入修改顺序</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-6">
                    顺序:<input type="text" value="" name="sort" placeholder="请输入顺序" class="form-control" id="sort" />
                </div>
                <br /><br /><br /><br />
                <input type="hidden" id="edit_id" name="edit_id" />
                <input type="hidden" id="hidden_sort" name="" />
                <button type="button" class="btn btn-success" id="modify">修改</button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

