<h3>修改教师信息</h3>
<hr>
<form action="/teacher/check_edittecher_post" method="post" enctype="multipart/form-data">
    <table>
        <tr height="35">
            <td width="100"><font color="red">*</font>昵称:</td>
            <td width="650"><div class="col-md-4"><input type="text" name="nickname" id="nickname" placeholder="昵称2-15位 匿名时显示" class="form-control" value="{$teacher_details['user_data']['nickname']}" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_nickname"></span></td>
        </tr>
        <tr height="35">
            <td width="100"><font color="red">*</font>真实姓名:</td>
            <td width="650"><div class="col-md-4"><input type="text" class="form-control" name="realname" id="realname" placeholder="请填写真实姓名 2-15位" value="{if $teacher_details['user_info_data']['realname']}{$teacher_details['user_info_data']['realname']}{/if}" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="hide_realname" value=1 {if $teacher_details['user_info_data']['hide_realname']==1}checked{/if}>保密&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_realname"></span></td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>年龄:</td>
            <td><div class="col-md-4"><input type="text" name="age" id="age" placeholder="请填写年龄" class="form-control" value="{if $teacher_details['user_info_data']['age']}{$teacher_details['user_info_data']['age']}{/if}" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_age"></span></td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>教学阶段:</td>
            <td><div class="col-md-8"><input type="radio" name="stage" value=1 class="stage" checked {if $teacher_details['user_info_data']['stage']==1}checked{/if}>小学
                <input type="radio" name="stage" value=2 class="stage" {if $teacher_details['user_info_data']['stage']==2}checked{/if}>初中
                <input type="radio" name="stage" value=3 class="stage" {if $teacher_details['user_info_data']['stage']==3}checked{/if}>高中
                <input type="radio" name="stage" value=4 class="stage" {if $teacher_details['user_info_data']['stage']==4}checked{/if}>其他
                </div>
            </td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>所在地区:</td>
            <td>
                <div class="col-md-3">
                <select name="province" id="province" class="form-control">
                    {foreach $province as $v}
                    <option value={$v.id} {if $v.id==$teacher_details['user_info_data']['province']}selected{/if}>{$v.name}</option>
                    {/foreach}
                </select>
                </div>
                <div class="col-md-3">
                <select name="city" id="city" class="form-control">
                    {foreach $city as $v}
                        <option value={$v.id} {if $v.id==$teacher_details['user_info_data']['city']}selected{/if}>{$v.name}</option>
                    {/foreach}
                </select>
                </div>
                <div class="col-md-3">
                <select name="area" id="area" class="form-control">
                    {foreach $area as $v}
                        <option value={$v.id} {if $v.id==$teacher_details['user_info_data']['area']}selected{/if}>{$v.name}</option>
                    {/foreach}
                </select>
                </div>
            </td>
        </tr>
        <tr height="35">
            <td>所在学校:</td>
            <td><div class="col-md-3"><select name="school" id="school" class="form-control">
            {foreach $school as $v}
                <option value={$v.id} {if $v.id==$teacher_details['user_info_data']['school']}selected{/if}>{$v.schoolname}</option>
            {/foreach}
            </select></div>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="hide_school" value=1  {if $teacher_details['user_info_data']['hide_school']==1}checked{/if}>保密</td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>基本课酬:</td>
            <td width="200"><div class="col-md-4"><input type="text" name="basic_reward" id="basic_reward" placeholder="请填写课酬&nbsp;&nbsp;&nbsp;&nbsp;元/课时" value="{$teacher_details['user_info_data']['basic_reward']}" class="form-control" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_basic_reward"></span></td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>教学科目:</td>
            <td>
                <div class="col-md-3">
                <select name="subject" class="form-control">
                    {foreach $subject as $v}
                    <option value={$v.id} {if isset($subject_tea_id) && $v.id==$subject_tea_id}selected{/if}>{$v.name}</option>
                    {/foreach}
                </select>
                </div>
            </td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>教师职称:</td>
            <td>
                <div class="col-md-3">
                <select name="title" class="form-control">
                    {for $i=1 to 6}
                    <option value={$i} {if $i==$teacher_details['user_info_data']['title']}selected{/if}>{$config_title[$i]}</option>
                    {/for}
                </select>
                    </div>
            </td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>性别:</td>
            <td>
                <div class="col-md-3">
                <select name="gender" class="form-control">
                    <option value=1 {if $teacher_details['user_info_data']['gender']==1}selected{/if}>男</option>
                    <option value=2 {if $teacher_details['user_info_data']['gender']==2}selected{/if}>女</option>
                </select>
                    </div>
            </td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>教龄:</td>
            <td>
                <div class="col-md-3">
                <select name="teacher_age" class="form-control">
                    {for $i=1 to 50}
                    <option value={$i} {if $i==$teacher_details['user_info_data']['teacher_age']}selected{/if}>{$i}</option>
                    {/for}
                </select>
                    </div>
            </td>
        </tr>
        <tr height="35">
            <td>一句话简介:</td>
            <td width="200"><div class="col-md-4"><input type="text" name="teacher_signature" id="teacher_signature" placeholder="一句话简介" value="{$teacher_details['user_info_data']['teacher_signature']}" class="form-control" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_teacher_signature"></span></td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>手机号:</td>
            <td><div class="col-md-4"><input type="text" name="phone_mask" class="form-control" value="{$phone}" placeholder="保密，不会对外公开" disabled /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_phone"></span></td>
        </tr>
        <tr height="35">
            <td><font color="red">*</font>邮箱:</td>
            <td><div class="col-md-4"><input type="text" name="edit_email" class="form-control" placeholder="保密，不会对外公开" value="{$teacher_details['user_data']['email']}" id="edit_email" /></div>&nbsp;&nbsp;&nbsp;&nbsp;<span id="edit_span_email"></span></td>
        </tr>
    </table>
    <input type="hidden" value="{$teacher_details['user_data']['email']}" id="hide_email" name="hide_email" />
    <hr>
    <h4>教师简介</h4>
    <textarea class="form-control" rows="5" id="teacher_intro" placeholder="在此填写老师简介" name="teacher_intro">{$teacher_details['user_info_data']['teacher_intro']}</textarea>
    <hr>
    <h4>绑定银行账户</h4>
    <div class="col-md-2"><select name="bank" class="form-control">
    <option value=0>请选择银行</option>
    {for $i=1 to 12}
    <option value={$i} {if $i==$teacher_details['user_info_data']['bankname']}selected{/if}>{$config_bank[$i]}</option>
    {/for}
</select>
        </div>
    <div class="col-md-4">
        <input type="text" name="bank_Branch" placeholder="请填写具体支行信息" class="form-control" />
    </div>
    <div class="col-md-25">&nbsp;</div><br />
    <div class="col-md-3">
        <input type="text" name="bank_id" id="bank_id" placeholder="请填写银行卡号" class="form-control" />
    </div>
    <div class="col-md-3"><span id="bank_span"></span></div>
    <div class="col-md-25">&nbsp;</div><br />
    <div class="col-md-3"><input type="text" name="id_card" id="id_card" placeholder="请填写身份证号" class="form-control" />
    </div>
    <div class="col-md-3"><span id="card_span"></span></div>
    <div class="col-md-25">&nbsp;</div><br />
    <hr>
    <h3>资质认证</h3>
    <input id="work_auth_img" type="hidden" value="{$upload_work_img_key}">
    <input id="title_auth_img" type="hidden" value="{$upload_auth_img_key}">
    <input id="teacher_auth_img" type="hidden" value="{$upload_title_img_key}">
    <input name="nahao_token" id="nahao_token" type="hidden" value="{$upload_token}">
    <input type="hidden" name="work_auth_img" value="" id="work_authimg" />
    <input type="hidden" name="title_auth_img" value="" id="title_authimg" />
    <input type="hidden" name="teacher_auth_img" value="" id="teacher_authimg" />
    <div class="teacher">
        教师资格证:<input type="file" name="up_teacher_auth_img" id="up_teacher_auth_img" class="file fl" multiple="true" style="display:none"/>
        <img src="" id="img_url_general" /><span id="show_3001"></span>
    </div>
    <div class="title">
        教师职称证:<input type="file" name="up_title_auth_img" id="up_title_auth_img" class="file fl" multiple="true" style="display:none"/>
        <img src=""  id="img_title_general" /><span id="show_3002"></span>
    </div>
    <div class="work">
        学校工作证: <input type="file" name="up_work_auth_img" id="up_work_auth_img" class="file fl" multiple="true" style="display:none"/>
        <img src=""  id="img_work_general" /><span id="show_3003"></span>
    </div>
    <hr>
    <h3>头像认证</h3>
    <div class="avatar">
        <input id="avatar_img" type="hidden" value="{$upload_avatar_img_key}">
        <input type="hidden" name="teacher_avatar_img" value="" id="teacher_avatar_img" />
        教师头像:<input type="file" name="up_avatar_img" id="up_avatar_img" class="file fl" multiple="true" style="display:none"/>
        <img src=""  id="img_avatar" /><span id="show_130"></span>
        <img src=""  id="img_urlhundred_general" /><span id="show_100"></span>
        <img src=""  id="img_urlseventy_general" /><span id="show_70"></span>
        <img src=""  id="img_urlfifty_general" /><span id="show_50"></span>
        <img src=""  id="img_urlfortyfive_general" /><span id="show_45"></span>
    </div>
    <br /><br />

    <input type="hidden" value="{$user_id}" name="user_id" id="user_teacher_id" />
    <input type="hidden" value="{$teacher_details['user_info_data']['work_auth_img']}" id="work_img" />
    <input type="hidden" value="{$teacher_details['user_info_data']['title_auth_img']}" id="title_img" />
    <input type="hidden" value="{$teacher_details['user_info_data']['teacher_auth_img']}" id="teacher_img" />
    <input type="hidden" value="{$teacher_details['user_data']['avatar']}" id="avatar_teacher_img" />
    <button type="submit" class="btn btn-success" id="sum">提交</button>
</form>