<!-- Modal permission edit -->
<div class="modal fade" id="modal_permission_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">权限编辑</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post">
                    <div class="form-group">
                        <label for="permission_name">权限名</label>
                        <input type="text" size="10" class="form-control" id="permission_name" name="permission_name" placeholder="输入权限名">
                    </div>
                    <div class="form-group">
                        <label for="permission_name">控制器</label>
                        <input type="text" size="10" class="form-control" id="permission_controller" name="permission_controller" placeholder="输入控制器">
                    </div>
                    <div class="form-group">
                        <label for="permission_name">方法</label>
                        <input type="text" size="10" class="form-control" id="permission_action" name="permission_action" placeholder="输入方法名">
                    </div>
                    <div class="checkbox">
                        <lable>
                            <input type="checkbox" name="permission_status" id="permission_status" checked>启用
                        </lable>
                    </div>
                    <input type="hidden" name="permission_id" id="permission_id" >
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_permission_submit" data-action="/permission/submit"> &nbsp;提交&nbsp;</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
