<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-1">
            <botton class="btn btn-success btn_permission_create"  data-action="create">
                新增权限
            </botton>
        </div>
        <label class="col-md-1 control-label" for="permission_name">权限名</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="permission_name" name="permission_name" size="16"
                   value="{if isset($arr_query_param.permission_name)}{$arr_query_param.permission_name}{/if}"  >
        </div>
        <label class="col-md-1 control-label" for="permission_controller">控制器</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="permission_controller" name="permission_controller" size="16"
                   value="{if isset($arr_query_param.permission_controller)}{$arr_query_param.permission_controller}{/if}">
        </div>
        <label class="col-md-1 control-label" for="permission_method">方法</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="permission_method" name="permission_method" size="16"
                   value="{if isset($arr_query_param.permission_method)}{$arr_query_param.permission_method}{/if}">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>组名</th>
        <th>控制器</th>
        <th>方法</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $list as $v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.name}</td>
        <td>{$v.controller}</td>
        <td>{$v.action}</td>
        <td>{if $v.status==1}已启用{else}<font color="red">已禁用</font>{/if}</td>
        <td>
            <a href="javascript:;" class="permission_active" data-action="/permission/active" data-permission_id="{$v.id}"
               data-status="{if $v.status eq 1}0{else}1{/if}">{if $v.status eq 1}禁用{else}启用{/if}</a>
            <a href="javascript:;" class="btn_permission_edit" data-action="update" data-permission_id="{$v.id}">修改</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
共{$count}条记录&nbsp;&nbsp;{$page}
{include file="admin/permission_modal_operation.html"}
