<div class="container text-center" data-current-page="1">
    <div class="control">
        <a href="javascript:;" class="btn btn-default first">首页</a>
        <a href="javascript:;" class="btn btn-default prev">上一页</a>
        <input class="form-control text-center" type="text" name="page" value="1" data-base-url="{$swfpath}" />
        / <span class="total-page">{$pagenum}</span>
        <a href="javascript:;" class="btn btn-default next">下一页</a>
        <a href="javascript:;" class="btn btn-default last">尾页</a>
    </div>

    <div class="media-wrapper"></div>
</div>