<style>
.quoteback{
background-color: #f4f8fa;
border-color: #bce8f1;
}
.checkbox{
float:left;
}
</style>
<div class="tab-content">
	<ol class="breadcrumb">
	  <li><font class="text-muted">GPS导航：</font></li>
	  <li><a href="/">首页</a></li>
	  <li><a href="/question/lesson_question/{$data['lesson_id']}">课节题目管理</a></li>
	  <li><a href="/question/lesson_edit/{$data['lesson_id']}/{$data['question_id']}">课节题目修改</a></li>
	</ol>
	<blockquote class="quoteback">
		<p>修改课节（id{$data['lesson_id']}）的题目（id:{$data['question_id']}）</p>
	</blockquote>
	<div class="col-md-12">
		<form class="form-horizontal" method="POST" id="question_form" role="form" action="/question/lesson_doEdit">
			<div class="form-group">
		        <label class="col-md-2 control-label">题目内容</label>
		        <div class="col-md-6">
		            <textarea class="form-control" name="question" id="question" rows="5">{$data['question_info']['question']}</textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-md-2 control-label">正确答案:</label>
		        <div class="col-md-10" id="answer_row">
		            <label class="checkbox">
				      	<input type="checkbox" name="answer[]" value="A" {if stripos($data['question_info']['answer'],'A')!==false}checked{/if}> A&nbsp;
				    </label>
				    <label class="checkbox">
				      	<input type="checkbox" name="answer[]" value="B" {if stripos($data['question_info']['answer'],'B')!==false}checked{/if}> B&nbsp;
				    </label>
				    <label class="checkbox">
				      	<input type="checkbox" name="answer[]" value="C" {if stripos($data['question_info']['answer'],'C')!==false}checked{/if}> C&nbsp;
				    </label>
				    <label class="checkbox">
				      	<input type="checkbox" name="answer[]" value="D" {if stripos($data['question_info']['answer'],'D')!==false}checked{/if}> D&nbsp;
				    </label>
				    <label {if $data['question_info']['options']['E']}class="checkbox"{else}class="checkbox hide"{/if}>
				      	<input type="checkbox" name="answer[]" value="E" {if stripos($data['question_info']['answer'],'E')!==false}checked{/if}> E&nbsp;
				    </label>
				    <div class="pick_span">
							<span><a class="btn btn-success btn-mini option-add"><i class="glyphicon glyphicon-plus"></i> 增加选项</a></span>
							<span><a class="btn btn-success btn-mini option-remove"><i class="glyphicon glyphicon-minus"></i> 减少选项</a></span>
						 </div>
		        </div>
		    </div>
		    {foreach $data['question_info']['options'] as $k=>$v}
		    	<div {if $v}class="options form-group"{else}class="options form-group hide"{/if}>
			        <label class="col-md-2 control-label">选项{$k}:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="{$k}" id="option-{$k}" rows="5">{$v}</textarea>
			        </div>
			    </div>
			{/foreach}
		    <div class="form-group">
		        <label class="col-md-2 control-label">题目解析</label>
		        <div class="col-md-6">
		            <textarea class="form-control" name="analysis" id="analysis" rows="5">{$data['question_info']['analysis']}</textarea>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="col-md-4 control-label"></label>
		        <input type="hidden" name="lesson_id" value="{$data['lesson_id']}">
		        <input type="hidden" name="question_id" value="{$data['question_id']}">
		        <button type="submit" class="btn btn-primary col-md-2" id="question_submit">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
		    	<span class="statusMsg"></span>
		    </div>
		</form>
	</div>
</div>