<style>
.body{
border: 1px solid #fff;
padding-bottom: 30px;
}
.body:hover{
border-color: #2a8d6a;
}
.question-item-box {
position: relative;
border: 1px solid #fff;
top: 30px;
}
.question-item-box:hover {
border-color: #f60;
background: #eee;
}
.control-box {
position: absolute;
right: 10px;
top: 5px;
_right: 2px;
_top: 2px;
border: 0 solid #ccc;
padding: 4px;
padding-left: 0;
display: none;
}
.question-item-box .question {
padding: 4px 18px;
}
.analysis-area {
background: #fff;
padding: 6px;
margin: 28px 0px 5px 0px;
}
.option-item{
float:left
}
.quoteback{
background-color: #f4f8fa;
border-color: #bce8f1;
}
.checkbox{
float:left;
}
</style>
<ul class="nav nav-tabs" id="myTab" rel="{$data['tab']}">
	<li {if $data['tab']=="question_list"}class="active"{/if}><a href="#question_list" data-toggle="tab">题目列表</a></li>
	<li {if $data['tab']=="question_add"}class="active"{/if}><a href="#question_add" data-toggle="tab">添加题目</a></li>
</ul>

<div class="tab-content">
  	<!--题目列表-->
	<div class="tab-pane fade {if $data['tab']=='question_list'}in active{/if}" id="question_list">
		<blockquote class="quoteback">
		  <p>课节（id{$data['lesson_info']['id']}）的所有题目，共：<span class="badge">9</span>道题目</p>
		</blockquote>
		<div class="col-md-12 body">
		{if $data['question_list']}
			{foreach $data['question_list'] as $key=>$val}
			<div class="question-item-box">
				<div class="control-box fn-clear">
		        	<a class="btn btn-info" href="/question/lesson_question/{$data['lesson_info']['id']}/{$val['id']}"><span class="text-icon"><i class="icon-pencil icon-white"></i> 详细</span></a>
		            &nbsp;
		            <a class="btn btn-danger delete_question" param="{$data['lesson_info']['id']}/{$val['id']}" href="javascript:void(0)"><span class="del-icon"><i class="icon-trash icon-white"></i> 删除</span></a>
		        </div>
				<div class="question ">
					<div class="answer undis">
						<p style="float:left">{$key+1}、</p>
						<p>{$val['question']}</p>
						<div class="analysis-area">
							{if $val['options']}
								{foreach $val['options'] as $k=>$v}
								<p class="option-item"> {$k}：</p><p>{$v}</p>
								{/foreach}
							{/if}
						</div>
					</div>
				</div>
			</div>
			{/foreach}
		{/if}
		</div>
	</div>
	<!--题目列表end-->
	<!--添加题目-->
	<div class="tab-pane fade {if $data['tab']=='question_list'}in active{/if}" id="question_add">
		<blockquote class="quoteback">
		  <p>为课节（id{$data['lesson_info']['id']}）添加新题。当前已有<code>9</code>道题目</p>
		</blockquote>
		<div class="col-md-12">
			<form class="form-horizontal" method="POST" id="question_form" role="form" action="/question/lesson_add">
				<div class="form-group">
			        <label class="col-md-2 control-label">题目内容</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="question" id="question" rows="5"></textarea>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-md-2 control-label">正确答案:</label>
			        <div class="col-md-10" id="answer_row">
			            <label class="checkbox">
					      	<input type="checkbox" name="answer[]" value="A"> A&nbsp;
					    </label>
					    <label class="checkbox">
					      	<input type="checkbox" name="answer[]" value="B"> B&nbsp;
					    </label>
					    <label class="checkbox">
					      	<input type="checkbox" name="answer[]" value="C"> C&nbsp;
					    </label>
					    <label class="checkbox">
					      	<input type="checkbox" name="answer[]" value="D"> D&nbsp;
					    </label>
					    <label class="checkbox hide">
					      	<input type="checkbox" name="answer[]" value="E"> E&nbsp;
					    </label>
					    <div class="pick_span">
								<span><a class="btn btn-success btn-mini option-add"><i class="glyphicon glyphicon-plus"></i> 增加选项</a></span>
								<span><a class="btn btn-success btn-mini option-remove"><i class="glyphicon glyphicon-minus"></i> 减少选项</a></span>
							 </div>
			        </div>
			    </div>
			    <div class="options form-group">
			        <label class="col-md-2 control-label">选项A:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="A" id="option-A" rows="5"></textarea>
			        </div>
			    </div>
			    
			    <div class="options form-group">
			        <label class="col-md-2 control-label">选项B:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="B" id="option-B" rows="5"></textarea>
			        </div>
			    </div>
			    
			    <div class="options form-group">
			        <label class="col-md-2 control-label">选项C:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="C" id="option-C" rows="5"></textarea>
			        </div>
			    </div>
			    
			    <div class="options form-group">
			        <label class="col-md-2 control-label">选项D:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="D" id="option-D" rows="5"></textarea>
			        </div>
			    </div>
				<div class="options form-group hide">
					<label class="col-md-2 control-label">选项E:</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="E" id="option-E" rows="5"></textarea>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-md-2 control-label">题目解析</label>
			        <div class="col-md-6">
			            <textarea class="form-control" name="analysis" id="analysis" rows="5"></textarea>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-md-4 control-label"></label>
			        <input type="hidden" name="lesson_id" value="{$data['lesson_info']['id']}">
			        <button type="submit" class="btn btn-primary col-md-2" id="question_submit" data-action="/course/submit">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
			    	<span class="statusMsg"></span>
			    </div>
			</form>
		</div>
	</div>
	<!--添加题目end-->
</div>