<style>
.question-item-box {
position: relative;
border: 1px solid #fff;
top: 30px;
}
.question-item-box:hover {
border-color: #f60;
background: #eee;
}
.question-item-box .question {
padding: 4px 18px;
}
.analysis-area {
background: #fff;
padding: 4px;
}
</style>
<div class="col-md-10">
	<div class="question-item-box">
		<div class="question ">
			<div class="answer undis">
				<p style="float:left">1、</p><p></p><p>Happiness and success often come to those <u>&nbsp; &nbsp; &nbsp; </u>&nbsp;are good at recognizing their own strengths.</p>
<p></p><p class="option-item"> A：</p><p></p><p>whom</p>
<p></p><p class="option-item"> B：</p><p></p><p>who</p>
<p></p><p class="option-item"> C：</p><p></p><p>what</p>
<p></p><p class="option-item"> D：</p><p></p><p>which</p>
<p></p>
				<div class="analysis-area" style="border: 1px dashed rgb(255, 102, 0); padding: 3px;"><p class="option-item-analysis">知识点：</p><p>语言知识语言知识-定语从句和名词性从句</p><p class="option-item-analysis">答案：</p><p>B</p><p class="option-item-analysis">解析：</p><p></p><p>考查定语从句。句意为:幸福与成功通常降临于那些擅长于认识到自己的长处的人。who在句中引导定语从句,且在从句中作主语。whom引导定语从句也指人,但是在从句中作宾语或用于介词+whom结构中。</p>
<p></p></div>
			</div>
		</div>
	</div>
	<div class="question-item-box">
		<div class="question ">
			<div class="answer undis">
				<p style="float:left">1、</p><p></p><p>Happiness and success often come to those <u>&nbsp; &nbsp; &nbsp; </u>&nbsp;are good at recognizing their own strengths.</p>
<p></p><p class="option-item"> A：</p><p></p><p>whom</p>
<p></p><p class="option-item"> B：</p><p></p><p>who</p>
<p></p><p class="option-item"> C：</p><p></p><p>what</p>
<p></p><p class="option-item"> D：</p><p></p><p>which</p>
<p></p>
				<div class="analysis-area" style="border: 1px dashed rgb(255, 102, 0); padding: 3px;"><p class="option-item-analysis">知识点：</p><p>语言知识语言知识-定语从句和名词性从句</p><p class="option-item-analysis">答案：</p><p>B</p><p class="option-item-analysis">解析：</p><p></p><p>考查定语从句。句意为:幸福与成功通常降临于那些擅长于认识到自己的长处的人。who在句中引导定语从句,且在从句中作主语。whom引导定语从句也指人,但是在从句中作宾语或用于介词+whom结构中。</p>
<p></p></div>
			</div>
		</div>
	</div>
	<div class="question-item-box">
		<div class="question ">
			<div class="answer undis">
				<p style="float:left">1、</p><p></p><p>Happiness and success often come to those <u>&nbsp; &nbsp; &nbsp; </u>&nbsp;are good at recognizing their own strengths.</p>
<p></p><p class="option-item"> A：</p><p></p><p>whom</p>
<p></p><p class="option-item"> B：</p><p></p><p>who</p>
<p></p><p class="option-item"> C：</p><p></p><p>what</p>
<p></p><p class="option-item"> D：</p><p></p><p>which</p>
<p></p>
				<div class="analysis-area" style="border: 1px dashed rgb(255, 102, 0); padding: 3px;"><p class="option-item-analysis">知识点：</p><p>语言知识语言知识-定语从句和名词性从句</p><p class="option-item-analysis">答案：</p><p>B</p><p class="option-item-analysis">解析：</p><p></p><p>考查定语从句。句意为:幸福与成功通常降临于那些擅长于认识到自己的长处的人。who在句中引导定语从句,且在从句中作主语。whom引导定语从句也指人,但是在从句中作宾语或用于介词+whom结构中。</p>
<p></p></div>
			</div>
		</div>
	</div>
	<div class="question-item-box">
		<div class="question ">
			<div class="answer undis">
				<p style="float:left">1、</p><p></p><p>Happiness and success often come to those <u>&nbsp; &nbsp; &nbsp; </u>&nbsp;are good at recognizing their own strengths.</p>
<p></p><p class="option-item"> A：</p><p></p><p>whom</p>
<p></p><p class="option-item"> B：</p><p></p><p>who</p>
<p></p><p class="option-item"> C：</p><p></p><p>what</p>
<p></p><p class="option-item"> D：</p><p></p><p>which</p>
<p></p>
				<div class="analysis-area" style="border: 1px dashed rgb(255, 102, 0); padding: 3px;"><p class="option-item-analysis">知识点：</p><p>语言知识语言知识-定语从句和名词性从句</p><p class="option-item-analysis">答案：</p><p>B</p><p class="option-item-analysis">解析：</p><p></p><p>考查定语从句。句意为:幸福与成功通常降临于那些擅长于认识到自己的长处的人。who在句中引导定语从句,且在从句中作主语。whom引导定语从句也指人,但是在从句中作宾语或用于介词+whom结构中。</p>
<p></p></div>
			</div>
		</div>
	</div>
	<div class="question-item-box">
		<div class="question ">
			<div class="answer undis">
				<p style="float:left">1、</p><p></p><p>Happiness and success often come to those <u>&nbsp; &nbsp; &nbsp; </u>&nbsp;are good at recognizing their own strengths.</p>
<p></p><p class="option-item"> A：</p><p></p><p>whom</p>
<p></p><p class="option-item"> B：</p><p></p><p>who</p>
<p></p><p class="option-item"> C：</p><p></p><p>what</p>
<p></p><p class="option-item"> D：</p><p></p><p>which</p>
<p></p>
				<div class="analysis-area" style="border: 1px dashed rgb(255, 102, 0); padding: 3px;"><p class="option-item-analysis">知识点：</p><p>语言知识语言知识-定语从句和名词性从句</p><p class="option-item-analysis">答案：</p><p>B</p><p class="option-item-analysis">解析：</p><p></p><p>考查定语从句。句意为:幸福与成功通常降临于那些擅长于认识到自己的长处的人。who在句中引导定语从句,且在从句中作主语。whom引导定语从句也指人,但是在从句中作宾语或用于介词+whom结构中。</p>
<p></p></div>
			</div>
		</div>
	</div>
</div>