<!-- Modal -->
<div class="modal fade" id="resource_upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="alert alert-info">上传课堂实录
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
            <div class="modal-body" id="resource_upload_area">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="file" name="resource_upload" id="resource_upload" class="form-control" multiple="true" >
                        </div>
                    </div>
                </form>
            </div>
            <div  class="modal-body" id="token_load_area">
                <div class="form-horizontal form-group">
                    <div class="col-md-4" id="token_display_area">
                        读取token中。。。
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
