<div class="alert alert-info">添加班次...</div>
<form class="form-horizontal" role="form" action="javascript:;">
    {if $action=='upate'}
        <input type="hidden" class="col-md-1 form-control" id="id" value="{$round.id}">
    {/if}
    <input type="hidden" class="col-md-1 form-control" id="course_id" value="{if $action=='create'}{$round.id}{else}{$round.course}{/if}">

    <div class="form-group">
        <label class="col-md-2 control-label">班次名称</label>
        <div class="col-md-4">
            <input type="text" class="col-md-1 form-control" id="title" value="{if isset($round)}{$round.title}{/if}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">教授科目</label>
        <div class="col-md-2">
            <select class="form-control" id="subject">
                <option value="">全部学科</option>
                {foreach $subjects as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.subject==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">课程类型</label>
        <div class="col-md-2">
            <select class="form-control" id="course_type">
                <option value="">全部课程类型</option>
                {foreach $course_types as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.course_type==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">添加教师</label>
        <div class="col-md-10" id="round_edit_teacher_select_div">
            {if isset($teachers)}
            {foreach $teachers as $k => $v}
            <botton class="btn btn-primary selected_teacher" data-teacher_id="{$v.id}">{$v.nickname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<botton class="btn-primary delete_teacher_btn">x</botton></botton>
            {/foreach}
            {/if}
            <!--<botton class="btn btn-primary selected_teacher" data-teacher_id="5">张三</botton>-->
            <!--<botton class="btn btn-primary selected_teacher" data-teacher_id="6">李四</botton>-->
            <botton class="btn btn-success" data-action="/teacher/teachers" id="round_edit_teacher_select_btn">添加&nbsp;&nbsp;+</botton>
        </div>
    </div>



    <div class="form-group">
        <label class="col-md-2 control-label">适用年级</label>

        <div class="col-md-2">
            <select class="form-control"  id="grade_from">
                <option value="0">开始年级</option>
                {foreach $grades as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.grade_from==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="grade_to">
                <option value="0">结束年级</option>
                {foreach $grades as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.grade_to==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">销售开始时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="sell_begin_time" value="{if isset($round.sell_begin_time) AND $round.sell_begin_time}{date('Y-m-d H:i:s',$round.sell_begin_time)}{else}{date('Y-m-d H:i:s',time())}{/if}" >
        </div>
        <label class="col-md-2 control-label">销售结束时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="sell_end_time" value="{if isset($round.sell_end_time) AND $round.sell_end_time}{date('Y-m-d H:i:s',$round.sell_end_time)}{else}{date('Y-m-d H:i:s',time())}{/if}" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">开课时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="start_time" value="{if isset($round.start_time) AND $round.start_time}{date('Y-m-d H:i:s',$round.start_time)}{else}{date('Y-m-d H:i:s',time())}{/if}" >
        </div>
        <label class="col-md-2 control-label">结束时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="end_time" value="{if isset($round.end_time) AND $round.end_time}{date('Y-m-d H:i:s',$round.end_time)}{else}{date('Y-m-d H:i:s',time())}{/if}" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">讲课课酬</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="reward" value="{if isset($round.reward)}{$round.reward}{/if}" >
                <span class="input-group-addon">.00元</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">课程价格</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="price" value="{if isset($round.price)}{$round.price}{/if}">
                <span class="input-group-addon">.00元</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">促销价格</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="sale_price" value="{if isset($round.sale_price) AND $round.sale_price}{$round.sale_price}{else}{$round.price}{/if}">
                <span class="input-group-addon">.00元</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">上限人数</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="caps" value="{if isset($round.caps) AND $round.caps}{$round.caps}{else}{$smarty.const.NH_CLASS_PEOPLE_CAPS}{/if}">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">一句话简介</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="subtitle" value="{if isset($round)}{$round.subtitle}{/if}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">课程简介</label>
        <div class="col-md-6">
            <textarea class="form-control" id="intro" rows="5">{if isset($round)}{$round.intro}{/if}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">适合人群</label>
        <div class="col-md-6">
            <textarea class="form-control" id="students" rows="5">{if isset($round)}{$round.students}{/if}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">授课提要</label>
        <div class="col-md-8">
            <textarea class="form-control" id="nahao_description" name="nahao_description" rows="10">{if isset($round)}{$round.description}{/if}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">添加图片</label>
        <input name="new_img_file_name" id="new_img_file_name" type="hidden" value="{$upload_img_key}">
        <input name="nahao_token" id="nahao_token" type="hidden" value="{$upload_token}">
        <div class="col-md-2">
            <input type="file" name="round_img" id="round_img" class="form-control" multiple="true" >
            <img id="img_url" src="{if isset($round.img)}{$round.img}{/if}" style="display:none;">img_url:{$round.img}
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            {$smarty.const.NH_COURSE_IMG_LARGE_WIDTH}*{$smarty.const.NH_COURSE_IMG_LARGE_HEIGHT}<img id="img_url_large" src="{get_course_img_by_size($round.img,'large')}" >
        </div>
        <div class="col-md-3">
            {$smarty.const.NH_COURSE_IMG_GENERAL_WIDTH}*{$smarty.const.NH_COURSE_IMG_GENERAL_HEIGHT}<img id="img_url_general" src="{get_course_img_by_size($round.img,'general')}" >
        </div>
        <div class="col-md-3">
            {$smarty.const.NH_COURSE_IMG_SMALL_WIDTH}*{$smarty.const.NH_COURSE_IMG_SMALL_HEIGHT}<img id="img_url_small" src="{get_course_img_by_size($round.img,'small')}" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">添加视频</label>
        <input name="new_video_file_name" id="new_video_file_name" type="hidden" value="{$upload_video_key}">
        <div class="col-md-2">
            <input type="file" name="round_video" id="round_video" class="form-control" multiple="true" >
        </div>
        <div class="col-md-3">
            <div id="video_url" >{if isset($round.video)}{$round.video}{/if}</div>
        </div>
    </div>

    <div id="round_edit_class_list_div">
        <div class="form-group">
            <label class="col-md-2 control-label">章节</label>
            <div class="col-md-2" id="round_edit_class_add_div">
                <botton class="btn btn-success" id="round_edit_class_add_btn">添加&nbsp;&nbsp;+</botton>
            </div>
        </div>
        {if isset($classes)}
        {foreach $classes as $k => $v}
        <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input type="text" class="form-control class" value="{$v.title}">
            </div>
            <div class="col-md-2">
                <label class="checkbox-inline">
                    <input type="checkbox" class="class_chapter" {if $v.parent_id==0}checked{/if}>是章
                    <input type="hidden" class="lesson_id" value="{$v.id}">
                    <input type="hidden" class="courseware_id" value="{$v.courseware_id}">


                </label>
                <label class="checkbox-inline">
                    <botton class="btn btn-danger btn-xs delete_class_btn">x</botton>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-2">
                <input type="text" class="form-control pick_date class_start_time" placeholder="本节开始时间">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control pick_date class_end_time" placeholder="本节结束时间">
            </div>
        </div>
        {/foreach}
        {/if}
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <button type="submit" class="btn btn-primary col-md-2" id="round_edit_submit_round" data-action="/round/submit">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
    </div>
</form>
{include file="admin/round_edit_teacher_select.html"}