<div class="alert alert-info">{if action eq 'create'}添加{else}修改{/if}班次</div>

<form class="form-horizontal" role="form" action="javascript:;">
    {if $action=='update'}
        <input type="hidden" class="col-md-1 form-control" id="id" value="{$round.id}">
    {/if}
    <input type="hidden" class="col-md-1 form-control" id="course_id" value="{if $action=='create'}{$round.id}{else}{$round.course_id}{/if}">

    <!--title-->
    <div class="form-group">
        <label class="col-md-2 control-label">班次名称</label>
        <div class="col-md-4">
            <input type="text" class="col-md-1 form-control" id="title" value="{if isset($round)}{$round.title}{/if}">
        </div>
    </div>

    <!--sequence-->
    <div class="form-group">
        <label class="col-md-2 control-label">排序</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="sequence" value="{if isset($round.sequence) AND $round.sequence}{$round.sequence}{else}0{/if}">
            </div>
        </div>
        <label class="col-md-2 control-label">(倒序，数字越大越靠前)</label>
    </div>

    <!--education_type-->
    <div class="form-group">
        <label class="col-md-2 control-label">教育类型</label>
        <div class="col-md-2">
            <select class="form-control" id="education_type">
                {foreach $education_types as $k => $v}
                <option value="{$k}" {if isset($round.education_type) AND $round.education_type==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--material_version-->
    <div class="form-group">
        <label class="col-md-2 control-label">教材版本</label>
        <div class="col-md-2">
            <select class="form-control" id="material_version">
                {foreach $material_versions as $k => $v}
                <option value="{$k}" {if isset($round.material_version) AND $round.material_version==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--subject-->
    <div class="form-group">
        <label class="col-md-2 control-label">学科辅导科目</label>
        <div class="col-md-2">
            <select class="form-control" id="subject">
                {foreach $subjects as $k => $v}
                <option value="{$k}" {if isset($round.subject) AND $round.subject==$k }selected{/if}>{$v['name']}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <!--quality-->
    <div class="form-group">
        <label class="col-md-2 control-label">素质教育科目</label>
        <div class="col-md-2">
            <select class="form-control" id="quality">
                {foreach $qualities as $k => $v}
                <option value="{$k}" {if isset($round.quality) AND $round.quality==$k }selected{/if}>{$v['name']}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--course_type-->
    <div class="form-group">
        <label class="col-md-2 control-label">课程类型</label>
        <div class="col-md-2">
            <select class="form-control" id="course_type">
                {foreach $course_types as $k => $v}
                <option value="{$k}" {if isset($round.course_type) AND $round.course_type==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--teachers-->
    <div class="form-group">
        <label class="col-md-2 control-label">添加教师</label>
        <div class="col-md-10" id="round_edit_teacher_select_div">
            {if isset($teachers)}
            {foreach $teachers as $k => $v}
            <botton class="btn btn-primary selected_teacher" data-teacher_id="{$v.id}">{$v.nickname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<botton class="btn-primary delete_teacher_btn">x</botton></botton>
            {/foreach}
            {/if}
            <botton class="btn btn-success" data-action="/teacher/teachers" id="round_edit_teacher_select_btn">添加&nbsp;&nbsp;+</botton>
        </div>
    </div>

    <!--stage-->
    <div class="form-group">
        <label class="col-md-2 control-label">适用学段</label>
        <div class="col-md-2">
            <select class="form-control"  id="stage">
                {foreach $stages as $k => $v}
                <option value="{$k}" {if isset($round.stage) AND $round.stage==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--grade_from grade_to-->
    <div class="form-group">
        <label class="col-md-2 control-label">适用年级</label>
        <div class="col-md-2">
            <select class="form-control"  id="grade_from">
                <!--<option value="0">开始年级</option>-->
                {foreach $grades as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.grade_from==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" id="grade_to">
                <!--<option value="0">结束年级</option>-->
                {foreach $grades as $k => $v}
                <option value="{$k}" {if isset($round) AND $round.grade_to==$k }selected{/if}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <!--reward-->
    <div class="form-group">
        <label class="col-md-2 control-label">讲课课酬</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="reward" value="{if isset($round.reward)}{$round.reward}{/if}" >
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>

    <!--price-->
    <div class="form-group">
        <label class="col-md-2 control-label">课程价格</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="price" value="{if isset($round.price)}{$round.price}{/if}">
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>

    <!--sale_price-->
    <div class="form-group">
        <label class="col-md-2 control-label">促销价格</label>
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">¥</span>
                <input type="text" class="form-control" id="sale_price" value="{if isset($round.sale_price) AND $round.sale_price}{$round.sale_price}{else}{$round.price}{/if}">
                <span class="input-group-addon">元</span>
            </div>
        </div>
    </div>

    <!--caps-->
    <div class="form-group">
        <label class="col-md-2 control-label">上限人数</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="caps" value="{if isset($round.caps) AND $round.caps}{$round.caps}{else}{$smarty.const.NH_CLASS_PEOPLE_CAPS}{/if}">
            </div>
        </div>
    </div>

    <!--extra_bought_count-->
    <div class="form-group">
        <label class="col-md-2 control-label">额外人数</label>
        <div class="col-md-2">
            <div class="input-group">
                <input type="text" class="form-control" id="extra_bought_count" value="{if isset($round.extra_bought_count) AND $round.extra_bought_count}{$round.extra_bought_count}{else}{$smarty.const.NH_CLASS_PEOPLE_CAPS}{/if}">
            </div>
        </div>
    </div>

    <!--subtitle-->
    <div class="form-group">
        <label class="col-md-2 control-label">一句话简介</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="subtitle" value="{if isset($round)}{$round.subtitle}{/if}">
        </div>
    </div>

    <!--intro-->
    <div class="form-group">
        <label class="col-md-2 control-label">课程简介</label>
        <div class="col-md-6">
            <textarea class="form-control" id="intro" rows="5">{if isset($round)}{$round.intro}{/if}</textarea>
        </div>
    </div>

    <!--students-->
    <div class="form-group">
        <label class="col-md-2 control-label">适合人群</label>
        <div class="col-md-6">
            <textarea class="form-control" id="students" rows="5">{if isset($round)}{$round.students}{/if}</textarea>
        </div>
    </div>

    <!--nahao_description-->
    <div class="form-group">
        <label class="col-md-2 control-label">授课提要</label>
        <div class="col-md-8">
            <textarea class="form-control" id="nahao_description" name="nahao_description" rows="10">{if isset($round)}{$round.description}{/if}</textarea>
            <textarea style="display:none" id="nahao_description_new" name="nahao_description_new"></textarea>
        </div>
    </div>

    <!--round_img-->
    <div class="form-group">
        <label class="col-md-2 control-label">添加图片</label>
        <input name="new_img_file_name" id="new_img_file_name" type="hidden" value="{$upload_img_key}">
        <input name="nahao_token" id="nahao_token" type="hidden" value="{$upload_token}">
        <div class="col-md-2">
            <input type="file" name="round_img" id="round_img" class="form-control" multiple="true" >
            <img id="img_url" src="{if isset($round.img)}{$round.img}{/if}" style="display:none;">img_url:{$round.img}
        </div>
    </div>

    <!--round_img_preview-->
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s1:{$smarty.const.NH_IMG_SIZE_COURSE_W1}*{$smarty.const.NH_IMG_SIZE_COURSE_H1}
            <img id="img_url_s1" src="{if $round.img}{get_img_url($round.img,'course_s1')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s2:{$smarty.const.NH_IMG_SIZE_COURSE_W2}*{$smarty.const.NH_IMG_SIZE_COURSE_H2}
            <img id="img_url_s2" src="{if $round.img}{get_img_url($round.img,'course_s2')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s3:{$smarty.const.NH_IMG_SIZE_COURSE_W3}*{$smarty.const.NH_IMG_SIZE_COURSE_H3}
            <img id="img_url_s3" src="{if $round.img}{get_img_url($round.img,'course_s3')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s4:{$smarty.const.NH_IMG_SIZE_COURSE_W4}*{$smarty.const.NH_IMG_SIZE_COURSE_H4}
            <img id="img_url_s4" src="{if $round.img}{get_img_url($round.img,'course_s4')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s5:{$smarty.const.NH_IMG_SIZE_COURSE_W5}*{$smarty.const.NH_IMG_SIZE_COURSE_H5}
            <img id="img_url_s5" src="{if $round.img}{get_img_url($round.img,'course_s5')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s6:{$smarty.const.NH_IMG_SIZE_COURSE_W6}*{$smarty.const.NH_IMG_SIZE_COURSE_H6}
            <img id="img_url_s6" src="{if $round.img}{get_img_url($round.img,'course_s6')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s7:{$smarty.const.NH_IMG_SIZE_COURSE_W7}*{$smarty.const.NH_IMG_SIZE_COURSE_H7}
            <img id="img_url_s7" src="{if $round.img}{get_img_url($round.img,'course_s7')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s8:{$smarty.const.NH_IMG_SIZE_COURSE_W8}*{$smarty.const.NH_IMG_SIZE_COURSE_H8}
            <img id="img_url_s8" src="{if $round.img}{get_img_url($round.img,'course_s8')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s9:{$smarty.const.NH_IMG_SIZE_COURSE_W9}*{$smarty.const.NH_IMG_SIZE_COURSE_H9}
            <img id="img_url_s9" src="{if $round.img}{get_img_url($round.img,'course_s9')}{/if}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-3">
            s10:{$smarty.const.NH_IMG_SIZE_COURSE_W10}*{$smarty.const.NH_IMG_SIZE_COURSE_H10}
            <img id="img_url_s10" src="{if $round.img}{get_img_url($round.img,'course_s10')}{/if}" >
        </div>
    </div>

    <!--<div class="form-group">
        <label class="col-md-2 control-label">添加视频</label>
        <input name="new_video_file_name" id="new_video_file_name" type="hidden" value="{$upload_video_key}">
        <div class="col-md-2">
            <input type="file" name="round_video" id="round_video" class="form-control" multiple="true" >
        </div>
        <div class="col-md-3">
            <div id="video_url" >{if isset($round.video)}{$round.video}{/if}</div>
        </div>
    </div>-->

    <!--sell_begin_time sell_end_time-->
    <div class="form-group">
        <label class="col-md-2 control-label">销售开始时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="sell_begin_time" value="{if isset($round.sell_begin_time) AND $round.sell_begin_time}{date('Y-m-d H:i:s',$round.sell_begin_time)}{/if}" required>
        </div>
        <label class="col-md-2 control-label">销售结束时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="sell_end_time" value="{if isset($round.sell_end_time) AND $round.sell_end_time}{date('Y-m-d H:i:s',$round.sell_end_time)}{/if}" required>
        </div>
    </div>

    <!--is_test-->
    <div class="form-group">
        <label class="col-md-2 control-label">是否测试轮</label>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="is_test" name="is_test" {if $round.is_test==1}checked{/if}>
                </label>
            </div>
        </div>
    </div>

    <!--is_live-->
    <div class="form-group">
        <label class="col-md-2 control-label">是否直播轮</label>
        <div class="col-md-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="is_live" name="is_live" {if $round.is_live==1}checked{/if}>
                </label>
            </div>
        </div>
    </div>

    <!--<div class="form-group">
        <label class="col-md-2 control-label">开课时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="start_time" value="{if isset($round.start_time) AND $round.start_time}{date('Y-m-d H:i:s',$round.start_time)}{/if}" required>
        </div>
        <label class="col-md-2 control-label">结束时间</label>
        <div class="col-md-2">
            <input type="text" class="form-control pick_date" id="end_time" value="{if isset($round.end_time) AND $round.end_time}{date('Y-m-d H:i:s',$round.end_time)}{/if}" required>
        </div>
    </div>-->

    <!--<div id="round_edit_class_list_div">
        <div class="form-group">
            <label class="col-md-2 control-label">章节</label>
            <div class="col-md-2" id="round_edit_class_add_div">
                &lt;!&ndash;<botton class="btn btn-success" id="round_edit_class_add_btn">添加&nbsp;&nbsp;+</botton>&ndash;&gt;
            </div>
        </div>
        {if isset($classes)}
        {foreach $classes as $k => $v}
        <div id="classes_{$k}">
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-6">
                    <input type="text" class="form-control class" value="{$v.title}">
                </div>
                <div class="col-md-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="class_chapter" {if $v.parent_id==0}checked{/if}>是章
                        <input type="hidden" class="lesson_id" value="{$v.id}">
                        <input type="hidden" class="courseware_id" value="{$v.courseware_id}">
                    </label>
                    <label class="checkbox-inline">
                        <botton class="btn btn-danger btn-xs delete_class_btn">x</botton>
                    </label>
                </div>
            </div>

            <div class="form-group" {if $v.parent_id==0}style="display:none"{/if}>
                <label class="col-md-4 control-label"></label>
                <div class="col-md-2">
                    <input type="text" class="form-control pick_date class_start_time" placeholder="本节开始时间" {if (isset($v.begin_time) AND $v.begin_time)}value="{date('Y-m-d H:i',$v.begin_time)}"{/if}>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control pick_date class_end_time" placeholder="本节结束时间" {if (isset($v.end_time) AND $v.end_time)}value="{date('Y-m-d H:i',$v.end_time)}"{/if}>
                </div>
            </div>
        </div>
        {/foreach}
        {/if}
    </div>-->

    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <button type="submit" class="btn btn-primary col-md-2" id="round_edit_submit_round" data-action="/round/submit">提&nbsp;&nbsp;&nbsp;&nbsp;交</button>
    </div>
</form>

{include file="admin/round_edit_teacher_select.html"}