共{$total}个试讲申请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今日新增{$time_day}个试讲申请<br /><br />
<form action="/lecture/sea_lecture" method="get">
    <div class="col-md-2">
       <select name="term" class="form-control">
           <option value=0>搜索条件</option>
           <option value=1 {if isset($search_term.term) && $search_term.term==1}selected{/if}>试讲课程名称</option>
           <option value=2 {if isset($search_term.term) && $search_term.term==2}selected{/if}>姓名</option>
           <option value=3 {if isset($search_term.term) && $search_term.term==3}selected{/if}>手机号</option>
       </select>
    </div>
    <div class="col-md-2"><input type="text" name="basis" placeholder="请输入搜索内容" class="form-control" value="{if isset($search_term.basis)}{$search_term.basis}{/if}" /></div>
    <div class="col-md-2">
   <select name="subject" class="form-control">
       <option value=0>全部科目</option>
      {foreach $subject as $k=>$v}
            <option value={$v.id} {if isset($search_term.subject) && $search_term.subject==$k+1}selected{/if}>{$v.name}</option>
      {/foreach}
   </select></div>
    <div class="col-md-2">
    <select name="teach_type" class="form-control">
        <option value=0>全部授课方式</option>
        <option value=1 {if isset($search_term.teach_type) && $search_term.teach_type==1}selected{/if}>一对一</option>
        <option value=2 {if isset($search_term.teach_type) && $search_term.teach_type==2}selected{/if}>小班</option>
        <option value=3 {if isset($search_term.teach_type) && $search_term.teach_type==3}selected{/if}>大班</option>
    </select></div>
    <div class="col-md-2">
    <select name="province" class="form-control">
        <option value=0>全部省份</option>
        {foreach $province as $k=>$v}
        <option value={$v.id} {if isset($search_term.province) && $search_term.province==$k+2}selected{/if}>{$v.name}</option>
        {/foreach}
    </select></div>
    <div class="col-md-2">
    <select name="status" class="form-control">
        <option value=0>全部状态</option>
        <option value=1 {if isset($search_term.status) && $search_term.status==1}selected{/if}>等待试讲</option>
        <option value=2 {if isset($search_term.status) && $search_term.status==2}selected{/if}>允许试讲</option>
        <option value=3 {if isset($search_term.status) && $search_term.status==3}selected{/if}>拒绝试讲</option>
        <option value=4 {if isset($search_term.status) && $search_term.status==4}selected{/if}>审核未通过</option>
        <option value=5 {if isset($search_term.status) && $search_term.status==5}selected{/if}>审核通过</option>
        <option value=6 {if isset($search_term.status) && $search_term.status==6}selected{/if}>已试讲</option>
    </select></div>
    <div class="col-md-15">&nbsp;</div>
    <div class="col-md-2"><input type="text" name="create_time1" class="form-control" id="lecture_datetimepicker1" readonly placeholder="请选择申请开始时间" value="{if isset($search_term.create_time1)}{$search_term.create_time1}{/if}" /></div><div class="col-md-2"><input type="text" name="create_time2" class="form-control" id="lecture_datetimepicker2" placeholder="请选择申请结束时间" readonly value="{if isset($search_term.create_time2)}{$search_term.create_time2}{/if}" /></div>
    <button type="submit" class="btn btn-info">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/lecture" class="btn btn-warning" role="button">重置</a>

 </form><br />
<label class="control-label" for="inputSuccess">符合条件的共有{$sea_total}条数据</label>
<table class="table table-hover">
    <thead>
    <tr>
        <th width="50">序号</th>
        <th width="110">试讲课程名称</th>
        <th width="110">qq<br />邮箱</th>
        <th width="80">教师姓名</th>
        <th width="100">手机号</th>
        <th width="90">职称</th>
        <th width="50">教龄</th>
        <th width="80">科目</th>
        <th width="80">授课方式</th>
        <th width="120">所在学校</th>
        <th width="95">申请日期</th>
        <th width="80">申请状态</th>
        <th width="60">地区</th>
        <th width="50">操作</th>
    </tr>
    </thead>
    {foreach $lecture as $k=>$v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.course}</td>
        <td>{$v.qq}<br />{$v.email}</td>
        <td>{$v.tea_name}</td>
        <td>{$v.phone}</td>
        <td>{$config_title[{$v.title}]}</td>
        <td>{$v.teach_years}</td>
        <td>{$config_stage[{$v.stage}]}{$v.sub_name}</td>
        <td>{$config_tea_type[{$v.teach_type}]}</td>
        <td>{$v.schoolname}</td>
        <td>{$v.create_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
        <td>{$config_status[{$v.status}]}</td>
        <td>{$v.name}</td>
        <td><a href="/lecture/lecture_details?lecture_id={$v.id}">详情</a></td>
    </tr>
    {/foreach}
</table>
{$page}