<table border="0">
    <tr height="35">
        <td width="200">真实姓名</td>
        <td id="tea_name">{$details.tea_name}</td>
    </tr>
    <tr height="35">
        <td width="200">所在地区</td>
        <td>{$details.name}{$city_area['city'].name}{$city_area['area'].name}</td>
    </tr>
    <tr height="35">
        <td width="200">性别</td>
        <td>{$con_gender[$details.gender]}</td>
    </tr>
    <tr height="35">
        <td width="200">年龄</td>
        <td>{$details.age}</td>
    </tr>
    <tr height="35">
        <td width="200">教学阶段</td>
        <td>{$con_stage[$details.stage]}</td>
    </tr>
    <tr height="35">
        <td width="200">所在学校</td>
        <td>{$details.schoolname}</td>
    </tr>
    <tr height="35">
        <td width="200">教师职称</td>
        <td>{$con_title[$details.title]}</td>
    </tr>
    <tr height="35">
        <td width="200">实际教龄</td>
        <td>{$details.teach_years}</td>
    </tr>
    <tr height="35">
        <td width="200">手机</td>
        <td>{$details.phone}</td>
    </tr>
    <tr height="35">
        <td width="200">邮箱</td>
        <td id="email_lec">{$details.email}</td>
    </tr>
    <tr height="35">
        <td width="200">qq</td>
        <td>{$details.qq}</td>
    </tr>
    <tr height="35">
        <td width="200">个人简介</td>
        <td><textarea class="form-control" rows="1" disabled>{$details.resume}</textarea></td>
    </tr>
    <tr height="35">
        <td width="200">讲课方式</td>
        <td>{$con_teach_type[$details.teach_type]}</td>
    </tr>
    <tr height="35">
        <td width="200">试讲科目</td>
        <td>{$con_stage[$details.stage]}{$details.subject}</td>
    </tr>
    <tr height="35">
        <td width="200">预约时间</td>
        <td>{$details.start_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
    </tr>
    <tr height="35">
        <td width="200">课程名称</td>
        <td>{$details.course}</td>
    </tr>
    <tr height="35">
        <td width="200">课程介绍</td>
        <td>{$details.course_intro}</td>
    </tr>
    <tr height="35">
        <td width="200">老师基本课酬</td>
        <td>{if $details.status!=4}<input type="text" id="basic_reward" />&nbsp;&nbsp;&nbsp;&nbsp;<span id="span_basic_reward">{else}该用户已通过审核,课酬不在此显示{/if}</span></td>
    </tr>
</table>

<hr>
    审核状态&nbsp;&nbsp;&nbsp;&nbsp;
        {if $details.status!=5}
            <button type="button" class="btn btn-danger" id="nopass">不通过</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success" id="pass">通过</button>&nbsp;&nbsp;&nbsp;&nbsp;
            当前状态:<span id="curr_status">{$con_lecture_status[$details.status]}</span>
        {else}
            <span id="pass_lecture">{$con_lecture_status[$details.status]}</span>
        {/if}

<hr>
<h4>备注信息</h4>
{foreach $notes as $k=>$v}
    <label class="control-label" for="inputSuccess"> {$v.username}&nbsp;&nbsp;&nbsp;&nbsp;{$v.create_time|date_format:'%Y-%m-%d %H:%M:%S'}&nbsp;&nbsp;&nbsp;&nbsp;{$v.note}</label><br />
{/foreach}

<textarea class="form-control" rows="3" id="lectrue_notes" placeholder="在此添加备注信息"></textarea><br />
{for $i=0 to 134}
         &nbsp;
{/for}
<button type="button" class="btn btn-success" id="keep">保存</button>
<input type="hidden" value="{$details.id}" id="lecture_id" />
<input type="hidden" value="{$details.user_id}" id="user_id" />
<input type="hidden" value="{$details.gender}" id="gender" />
<input type="hidden" value="{$details.age}" id="age" />
<input type="hidden" value="{$details.resume}" id="resume" />
<input type="hidden" value="{$details.title}" id="title" />
<input type="hidden" value="{$details.teach_years}" id="teach_years" />
<input type="hidden" value="{$details.school}" id="school" />
<input type="hidden" value="{$details.stage}" id="stage" />
<input type="hidden" value="{$details.province}" id="province" />
<input type="hidden" value="{$details.city}" id="city" />
<input type="hidden" value="{$details.area}" id="area" />
<input type="hidden" value="{$details.subject}" id="subject" />