共{$total}个试讲申请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今日新增{$time_day}个试讲申请<br /><br />
<form action="/lecture/sea_lecture" method="get">
       <select name="term" style="width:150px">
           <option value=0>搜索条件</option>
           <option value=1>试讲课程名称</option>
           <option value=2>姓名</option>
           <option value=3>手机号</option>
       </select>
    <input type="text" name="basis" placeholder="请输入搜索内容" style="width:150px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <select name="subject" style="width:150px">
       <option value=0>全部科目</option>
      {foreach $subject as $k=>$v}
            <option value={$v.id}>{$v.name}</option>
      {/foreach}
   </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="teach_type" style="width:150px">
        <option value=0>全部授课方式</option>
        <option value=1>一对一</option>
        <option value=2>小班</option>
        <option value=3>大班</option>
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="province" style="width:150px">
        <option value=0>全部省份</option>
        {foreach $province as $k=>$v}
        <option value={$v.id}>{$v.name}</option>
        {/foreach}
    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="status" style="width:150px">
        <option value=0>全部状态</option>
        <option value=1>未审核</option>
        <option value=2>审核通过</option>
        <option value=3>审核未通过</option>
    </select><br /><br />
    申请日期:<input type="text" name="create_time1" id="lecture_datetimepicker1" style="width:150px" readonly placeholder="请选择搜索开始时间" />- - - -<input type="text" name="create_time2" id="lecture_datetimepicker2" placeholder="请选择搜索结束时间" style="width:150px" readonly />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn">搜索</button>
 </form><br />
<label class="control-label" for="inputSuccess">符合条件的共有{$sea_total}条数据</label>
<table class="table table-bordered">
    <tr class="active">
        <td width="45">序号</td>
        <td width="105">试讲课程名称</td>
        <td width="105">预约上课时间</td>
        <td width="80">教师姓名</td>
        <td width="100">手机号</td>
        <td width="90">职称</td>
        <td width="45">教龄</td>
        <td width="80">科目</td>
        <td width="80">授课方式</td>
        <td width="120">所在学校</td>
        <td width="95">申请日期</td>
        <td width="80">申请状态</td>
        <td width="60">地区</td>
        <td width="45">操作</td>
    </tr>
    {foreach $lecture as $k=>$v}
    <tr>
        <td>{$v.id}</td>
        <td>{$v.course}</td>
        <td>{$v.start_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
        <td>{$v.tea_name}</td>
        <td>{$v.phone}</td>
        <td>{$config_title[{$v.title}]}</td>
        <td>{$v.teach_years}</td>
        <td>{$config_stage[{$v.stage}]}{$v.subject}</td>
        <td>{$config_tea_type[{$v.teach_type}]}</td>
        <td>{$v.schoolname}</td>
        <td>{$v.create_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
        <td>{$config_status[{$v.status}]}</td>
        <td>{$v.name}</td>
        <td><a href="/lecture/lecture_details?lecture_id={$v.id}">详情</a></td>
    </tr>
    {/foreach}
</table>
{$page}