<h4>教师总数{$total_count}人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今日新增老师{$day_count}人</h4>
        <form method="get" action="/teacher">
            <div class="form-group">
                <div class="col-md-2">
                    <select name="term" class="form-control">
                        <option value=0>选择搜索条件</option>
                        <option value=1 {if isset($arr_query_param.term) && $arr_query_param.term==1}selected{/if}>姓名</option>
                        <option value=2 {if isset($arr_query_param.term) && $arr_query_param.term==2}selected{/if}>昵称</option>
                        <option value=3 {if isset($arr_query_param.term) && $arr_query_param.term==3}selected{/if}>邮箱</option>
                        <option value=4 {if isset($arr_query_param.term) && $arr_query_param.term==4}selected{/if}>手机</option>
                        <option value=5 {if isset($arr_query_param.term) && $arr_query_param.term==5}selected{/if}>ID</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" name="reason" value="{if isset($arr_query_param.reason)}{$arr_query_param.reason}{/if}" class="form-control" placeholder="请输入搜索条件" />
                </div>
                <div class="col-md-2">
                    <select name="province" class="form-control">
                        <option value=0>选择省份</option>
                        {foreach $province as $k=>$v}
                            <option value={$v.id} {if isset($arr_query_param.province) &&
                        $arr_query_param.province==$k+2}selected{/if}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="subject" class="form-control">
                        <option value=0>选择可授课学科</option>
                        {foreach $subject as $k=>$v}
                        <option value={$v.id} {if isset($arr_query_param.subject) && $arr_query_param.subject==$k+1}selected{/if}>{$v.name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="gender" class="form-control">
                        <option value=0>选择性别</option>
                        <option value=1 {if isset($arr_query_param.gender) && $arr_query_param.gender==1}selected{/if}>男</option>
                        <option value=2 {if isset($arr_query_param.gender) && $arr_query_param.gender==2}selected{/if}>女</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="title" class="form-control">
                        <option value=0>选择职称</option>
                        <option value=1 {if isset($arr_query_param.title) && $arr_query_param.title==1}selected{/if}>无职称</option>
                        <option value=2 {if isset($arr_query_param.title) && $arr_query_param.title==2}selected{/if}>正高级教师</option>
                        <option value=3 {if isset($arr_query_param.title) && $arr_query_param.title==3}selected{/if}>高级教师</option>
                        <option value=4 {if isset($arr_query_param.title) && $arr_query_param.title==4}selected{/if}>一级教师</option>
                        <option value=5 {if isset($arr_query_param.title) && $arr_query_param.title==5}selected{/if}>二级教师</option>
                        <option value=6 {if isset($arr_query_param.title) && $arr_query_param.title==6}selected{/if}>三级教师</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <div class="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <select name="account" class="form-control">
                        <option value=0>选择账户状态</option>
                        <option value=1 {if isset($arr_query_param.account) && $arr_query_param.account==1}selected{/if}>禁用</option>
                        <option value=2 {if isset($arr_query_param.account) && $arr_query_param.account==2}selected{/if}>启用</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" name="add_time1" id="teacher_datetimepicker1" placeholder="请选择添加开始时间" class="form-control" readonly value="{if isset($arr_query_param.add_time1)}{$arr_query_param.add_time1}{/if}">
                </div>
                <div class="col-md-2">
                    <input type="text" name="add_time2" id="teacher_datetimepicker2" placeholder="请选择添加结束时间" class="form-control" readonly value="{if isset($arr_query_param.add_time2)}{$arr_query_param.add_time2}{/if}">
                </div>
                <button type="submit" class="btn btn-info">搜索</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/teacher" class="btn btn-warning" role="button">重置</a>

            </div>
        </form>
            <div class="form-group"></div>
            <label class="control-label" for="inputSuccess">符合条件的有{$count}条数据</label>
            {for $i=0 to 90}
            &nbsp;
            {/for}
    <a href="/teacher/create" target="_blank"><button type="button" class="btn btn-success" id="insert_account">添加老师</button></a>
    <button type="button" class="btn btn-warning" id="close_account">禁用账户</button>
    <button type="button" class="btn btn-info" id="open_account">解除禁用</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="30"><input type="checkbox" id="all"></th>
            <th widyh="50">教师ID</th>
            <th width="100">邮箱<br />手机号</th>
            <th width="80">教师姓名</th>
            <th width="80">教师昵称</th>
            <th>性别</th>

            <th>教龄</th>
            <th width="80">教师职称</th>
            <th width="80">所在地区</th>
            <th width="80">教授学科</th>
            <th width="95">添加时间</th>
            <th width="80">账户状态</th>
            <th width="50">操作</th>
            <th width="100">修改密码<br />修改手机</th>
        </tr>
        </thead>
            {foreach $list as $k=>$v}
        <tr>
            <td><input type="checkbox" value={$v.id} class="all"></td>
            <td>{$v.id}</td>
            <td>{$v.email}<br />{$v.phone_mask}</td>
            <td>{$v.realname}</td>
            <td>{$v.nickname}</td>
            <td>{$config_gender[$v.gender]}</td>

            <td>{$v.teacher_age}</td>
            <td>{$config_title[$v.title]}</td>
            <td>{$v.name}</td>
            <td>{$config_stage[$v.stage]}{$v.subject_name}</td>
            <td>{$v.register_time|date_format:'%Y-%m-%d %H:%M:%S'}</td>
            <td>{if $v.status==0}<font color="red">{$config_account[$v.status]}</font>
                {else if $v.status==1}
                    {$config_account[$v.status]}
                {/if}</td>
            <td><a href="/teacher/modify?user_id={$v.id}">修改</a></td>
            <td><button class="btn btn-primary btn-xs modify_password" id="{$v.id}">修改密码</button><br /><button class="btn btn-success btn-xs modify_phone" user_id="{$v.id}">修改手机</button></td>
        </tr>
            {/foreach}
    </table>
{$page}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请输入修改内容</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-5">
                    请输新密码:<input type="password" value="" name="new_password" placeholder="请输新密码" class="form-control" id="new_password" />
                </div>
                <div class="col-md-5">
                    请再次输新密码:<input type="password" value="" class="form-control" name="two_password" placeholder="请再次输新密码" id="two_password" />
                </div><br /><br /><br /><br />
                <button type="button" class="btn btn-success" id="edit_password">修改</button>
            </div>
            <input type="hidden" value="" id="pwd_id" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="edit_phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">修改手机</h4>
            </div>

            <div class="modal-body">
                <div class="col-md-5">
                    请输新手机号:<input type="text" value="" name="new_password" placeholder="请输新手机" class="form-control" id="new_phone" />
                </div>
                <input type="hidden" id="old_phone" />
                <br /><br /><br /><br />
                <button type="button" class="btn btn-success" id="edit_tel">修改</button>
            </div>
            <input type="hidden" value="" id="phone_id" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

