<script>
    //var _url = 'http://' + window.location.host + '/';
    var _url = 'http://' + "{$static_url}" + 'debug';
    var staticPath = _url + '/';
    var aliasContent = {
        "jquery": "lib/jquery/1.8.2/jquery",
        "naHaoDialog": "lib/artDialog/4.1.7/artDialog",
        "validForm": "lib/Validform/5.3.2/Validform",
        "kindEditor": "lib/kindeditor/4.1.10/kindeditor",
        "select": "module/lib/select",
        "flashUploader": "lib/uploadify/2.2/jquery.uploadify"
    }

    var ck_image_upload = '/course/upload';
</script>