<script>
    //var _url = 'http://' + window.location.host + '/';

    var staticUrl = "{$static_url}";
    var staticVersion = "{$static_version}";
    var staticPath = staticUrl + staticVersion + "/";

//    var _url = "{$static_url}" + 'debug';
    var _swf_url = "{$admin_url}" + 'static/debug';
    var _qiniu_url = "{$qiniu_url}";
    var _qiniu_video_url = "{$qiniu_video_url}";

    var _meeting_url = "{$smarty.const.NH_MEETING_URL}";
//    var staticPath = _url + '/';
    var aliasContent = {
        "jquery": "lib/jquery/1.8.2/jquery",
        "naHaoDialog": "lib/artDialog/4.1.7/artDialog",
        "validForm": "lib/Validform/5.3.2/Validform",
        "kindEditor": "lib/kindeditor/4.1.10/kindeditor",
        "select": "module/lib/select",
        "flashUploader": "lib/uploadify/2.2/jquery.uploadify"
    }

    var ck_image_upload = '/course/upload';
    var teacher_auth_width ="{$smarty.const.TEACHER_AUTH_WIDTH}";
    var teacher_auth_height = "{$smarty.const.TEACHER_AUTH_HEIGHT}";
    var teacher_title_width = "{$smarty.const.TEACHER_TITLE_WIDTH}";
    var teacher_title_height = "{$smarty.const.TEACHER_TITLE_HEIGHT}";
    var index_focus_width = "{$smarty.const.INDEX_FOCUS_WIDTH}";
    var index_focus_height = "{$smarty.const.INDEX_FOCUS_HEIGHT}";

    var _img_url_general_width = '{$smarty.const.NH_COURSE_IMG_GENERAL_WIDTH}';
    var _img_url_general_height = '{$smarty.const.NH_COURSE_IMG_GENERAL_HEIGHT}';
    var _img_url_live_width = '{$smarty.const.NH_COURSE_IMG_LIVE_WIDTH}';
    var _img_url_live_height = '{$smarty.const.NH_COURSE_IMG_LIVE_HEIGHT}';
    var _img_url_index_width = '{$smarty.const.NH_COURSE_IMG_INDEX_WIDTH}';
    var _img_url_index_height = '{$smarty.const.NH_COURSE_IMG_INDEX_HEIGHT}';
    var _img_url_bug_before_top_width = '{$smarty.const.NH_BUY_BEFORE_TOP_BIG_IMG_WIDTH}';
    var _img_url_bug_before_top_height = '{$smarty.const.NH_BUY_BEFORE_TOP_BIG_IMG_HEIGHT}';
    var _img_url_buy_before_recommend_width = '{$smarty.const.NH_BUY_BEFORE_RIGHT_RECOMMEND_IMG_WIDTH}';
    var _img_url_buy_before_recommend_height = '{$smarty.const.NH_BUY_BEFORE_RIGHT_RECOMMEND_IMG_HEIGHT}';
    var _img_url_recent_view_width = '{$smarty.const.NH_RECENT_VIEW_IMG_WIDTH}';
    var _img_url_recent_view_height = '{$smarty.const.NH_RECENT_VIEW_IMG_HEIGHT}';
</script>