<html>
	<head>
		<style type="text/css">
		
			#logo{
				position:relative;
				left:450px;
				top:46px;
			}
			#headId{
				position:relative;
				left:560px;
				top:0px;
				width:220px;
				height:20px;
			}
			
			#contextId{
				position:relative;
				left:420px;
				top:0px;
				width:400px;
				background-color: #1079bc
			}
			
			#endclassId{
				position:relative;
				left:500px;
				top:5px;
			}
			
			#createlinkId{
				position:relative;
				left:500px;
				top:5px;
			}
			td{
				color:white;
				padding-left:10px;
				font-family: Arial;
			}

		</style>
		
		<script type="text/javascript">
		var flag = false;

		function showMore(){
			if(flag == false){
				mcuTRID.style.visibility ="visible";  
				mgTRID.style.visibility ="visible";  
				demoTRId.style.visibility ="visible";  
				contextId.style.height = 300 ;
				flag = true;
			}else{
				mcuTRID.style.visibility ="hidden";  
				mgTRID.style.visibility ="hidden";  
				demoTRId.style.visibility ="hidden";  
				contextId.style.height = 200 ;
				flag = false;
			}
		}

		// 进入教室
		function enterClass(types){
			
			var userDBID = document.getElementById("UserDBID").value;
			var userName = document.getElementById("UserName").value;
			var userType = document.getElementById("UserType").value;
			var classID = document.getElementById("ClassID").value;
			var className = document.getElementById("ClassName").value;
			if(!isValid())
				return ; 
			if(types == 0)
			{
				if(userType == 1)
				{
					document.location.href="main.html?UserDBID="+userDBID+"&UserName="+userName+"&UserType="+userType+"&ClassID="+classID+"&ClassName="+className;
				}
				else
				{
					document.location.href="main.html?UserDBID="+userDBID+"&UserName="+userName+"&UserType="+userType+"&ClassID="+classID+"&ClassName="+className;
				}
			}
			else
			{
				if(userType== 1)
					document.getElementById("messageId").innerHTML +="<br>http://www.91waijiao.com/classroom/main.html?UserDBID="+userDBID+"&UserName="+userName+"&UserType="+userType+"&ClassID="+classID+"&ClassName="+className;
				else
					document.getElementById("messageId").innerHTML +="<br>http://www.91waijiao.com/classroom/main.html?UserDBID="+userDBID+"&UserName="+userName+"&UserType="+userType+"&ClassID="+classID+"&ClassName="+className;
			}
		}
		// 验证输入框
		function isValid(){
			// 清空debug
			clear();
			var flag = 0;
			var userDBID = document.getElementById("UserDBID").value;
			var userName = document.getElementById("UserName").value;
			var userType = document.getElementById("UserType").value;
			var classID = document.getElementById("ClassID").value;
			var className = document.getElementById("ClassName").value;
			var reg01 = /^[0-9]*[1-9][0-9]*$/;　　//正整数 

			if(userDBID != "0"){
				if(!reg01.test(userDBID))
				{
					document.getElementById("UserDBIDErr").innerHTML = "请输入整数";
					flag = 1;
				}
			}

			if(classID != "0"){
				if(!reg01.test(classID))
				{
					document.getElementById("ClassIDErr").innerHTML = "请输入整数";
					flag = 1;
				}
			}
			
			if(userName == null || userName == "")
			{
				document.getElementById("UserNameErr").innerHTML = "用户名不能为空";
				flag = 1;
			}

			if(className == null || className == "")
			{
				document.getElementById("ClassNameErr").innerHTML = "教室名称不能为空";
				flag = 1;
			}

			if(flag == 1)
			{
				return false;
			}
			else
			{
				return true;
			}
		}

		// 清空错误信息
		function clear(){
			document.getElementById("ClassIDErr").innerHTML = "";
			document.getElementById("ClassNameErr").innerHTML = "";
			document.getElementById("UserNameErr").innerHTML = "";
			document.getElementById("UserDBIDErr").innerHTML = "";
		}

		function selectChange(obj){
			document.getElementById("ClassID").value = obj.value;
		}
		
		</script>
	</head>
	<body>
	
		<img id="logo" alt="图片不存在" src="91logo.png">
		<h3 id="headId" >欢迎您登陆课堂教室</h3>
		<div id="contextId" style="height:200px;" >
			<table>
				<tr>
					<td>
						教室号:
					</td>
					<td>
						<input type="text" value="6" id="ClassID" style="width: 70px;"/>
						<select style="width: 70px;" onchange="selectChange(this)">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6" selected="selected">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
						</select>
					</td>
					<td>
						<div id="ClassIDErr" style="color: red;"></div>
					</td>
				</tr>
				<tr>
					<td>
						教室名称:
					</td>
					<td>
						<input type="text" value="thenewclass" id="ClassName"/>
					</td>
					<td>
						<div id="ClassNameErr" style="color: red;"></div>
					</td>
				</tr>
				<tr>
					<td>
						用户名称:
					</td>
					<td>
						<input type="text" value="name" id="UserName">
					</td>
					<td>
						<div id="UserNameErr" style="color: red;"></div>
					</td>
				</tr>
				<tr>
					<td>
						用户Id:
					</td>
					<td>
						<input type="text" value="20" id="UserDBID" />
					</td>
					<td>
						<div id="UserDBIDErr" style="color: red;"></div>
					</td>
				</tr>
				<tr>
					<td>
						用户类型:
					</td>
					<td><select id="UserType">
						<option value="0"> 学生</option>
						<option value="1"> 老师</option>
						<option value="2"> 管理员</option>
						<option value="3"> 旁听用户</option>
					</select>
					</td>
				</tr>
				<tr>
					<td>
						<input id="moreId" type="button" value="更多设置" onClick="showMore()">
					</td>
				</tr>
				<tr id="mcuTRID" style="visibility:hidden;">
					<td>
						指定mcu服务器:
					</td>
					<td>
						<div style="position:relative;">  
							<span style="margin-left:100px;width:18px;overflow:hidden;">  
							<select style="width:118px;margin-left:-100px" onchange="this.parentNode.nextSibling.value=this.value">  
								<option value="42.121.34.105:1443">42.121.34.105:1443</option>  
								<option value="42.121.34.105:2443">42.121.34.105:2443</option>  
								<option value="58.68.229.42:5443">58.68.229.42:5443</option>  
							</select>
							</span><input name="box" style="width:100px;position:absolute;left:0px;">  
						</div>
					</td>
				</tr>
				<tr id="mgTRID" style="visibility:hidden;">
					<td>
						指定mg服务器:
					</td>
					<td>
						<input type="text" value="" id="MGID" /> 
					</td>
				</tr>
				<tr id="demoTRId" style="visibility:hidden;">
					<td>
						指定域名地址:
					</td>
					<td>
						<input type="text" value="" id="DemoID" />
					</td>
				</tr>
				<tr>
				<!-- 	<td>
						<input type="button" value="进入教室" onClick="enterClass(0)">
					</td>
					<td>
						<input type="button" value="生成链接" onClick="enterClass(1)">
					</td> -->
				</tr>
			</table>
		</div> 
		
		<input id="endclassId" type="button" value="进入教室" onClick="enterClass(0)">
		<input id="createlinkId" type="button" value="生成链接" onClick="enterClass(1)">
		<div id="messageId">链接:</div>
	</body>
</html>