.loginPage{}
/*老师登陆样式开始*/
.loginPage .md_login{clear:both;overflow:hidden;}
.loginPage .md_login h2{margin-bottom: 20px;}
.loginPage .md_login .md_bd{text-align: center;width: 95%;margin:0 auto;}
.loginPage .md_login .md_bd ul{list-style: none;}
.loginPage .md_login .md_bd ul li{margin-bottom:20px;position: relative;}
.loginPage .md_login .md_bd ul li h3{margin-right:240px;margin-bottom: 10px;color: #0e455e;font-size: 14px; font-weight: normal;}
.loginPage .md_login .md_bd li input{border-radius: 5px;font-size:14px;line-height: 38px;width:295px;border:1px solid #c4c5c4;box-shadow:1px 1px 1px #dadddc inset;padding-left:5px;}
.loginPage .md_login .md_bd .bottomLogin{padding:10px 0 15px 0px;}
.loginPage .md_login .md_bd .submitBtn{cursor: pointer;width:300px;height:45px;font-size:18px;border: 0 none;margin-left:5px;}
/*老师登陆样式结束*/
/*登陆样式开始*/
.login .loginWrap{padding:70px 60px 00;margin-bottom:20px;}
.login .loginWrap .loginBox{border:1px solid #dbdbdb;border-top:3px solid #ce0000;width:345px;padding: 46px 28px 12px 25px;box-shadow: 1px 1px 10px #e7e7e7}
.login .loginWrap li {line-height:50px;}
.login .loginWrap li.regLink .btn{margin-bottom: 10px;}
.login .loginWrap li.tiziLoginLInk{line-height: 25px;height: 25px;background: url(../../images/login/tizi_icon.png) scroll 240px center no-repeat; }
.login .loginWrap li .userName,
.login .loginWrap li .pwd{font-size:16px;height:50px;line-height:50px;padding:0 15px 0 55px;display: block;border: 0;width:275px;background: url(../../images/login/loginInputBg.png) no-repeat #f1f1f1;_background: url(../../images/login/loginInputBg-ie.png) no-repeat #f1f1f1;}
.login .loginWrap li .userName{background-position: 15px 0px;border-bottom:1px solid #dfdede;}
.login .loginWrap li .pwd{background-position: 15px -50px;}
.login .loginWrap li .userName:focus,
.login .loginWrap li .pwd:focus{background-color: #f8f8f8}
.login .loginWrap .autoLi{font-size:14px;}
.login .loginWrap .autoLi a:hover{color:#ce0000;}
.login .loginWrap li .autoLogin{margin:20px 10px 0 0;}
.login .loginWrap li .btn{width:345px;height:46px;line-height:46px;margin-bottom:20px;}
.login .loginWrap li .submit{border:0;cursor:pointer;}
.login .loginWrap .msgInfo{height:20px;line-height: 20px;margin-bottom:5px;}
/*登陆样式结束*/
/*注册样式开始*/
.login .regWrap{padding:20px 0 0 110px;margin-bottom:20px;}
.login .regWrap .regBox h2{font-size:24px;height:50px;line-height:50px;font-weight:normal;}
.login .regWrap .regBox h2 span{font-size:16px;margin-left:10px;}
.login .regWrap .regTab{border:1px solid #d5d5d5;width: 490px}
.login .regWrap .tabBox a{display: inline-block;width:245px;border-top:3px solid #f7f7f7;height:47px;background: #f7f7f7;font-size:18px;text-align: center;line-height:47px;}
.login .regWrap .tabBox a.active{border-top-color:#ce0000;background: #fff;color:#ce0000;font-weight:bold;}
.login .regWrap .contentBox .box{padding:20px 55px;height: 387px;}
.login .regWrap .box li {font-size:16px;margin-bottom:20px; position: relative;*zoom:1;}
.login .regWrap .box .fixIe6{line-height: 40px;height: 40px;width: 380px;overflow: hidden;}
.login .regWrap .emailBox li{margin-bottom: 10px;}
.login .regWrap .box li .Validform_checktip{ position: absolute; top: 0px;right:0px;}
.login .regWrap .box li .Validform_tip_info{ position: absolute; top: 0px;right:0px;}
.login .regWrap .box li.liPhoneCode{padding-top:27px;}
.login .regWrap .box li p{height:22px;line-height:22px;margin-bottom:5px;}
.login .regWrap .box li .regInput{width: 90%;border:1px solid #6dcde6;height:38px;line-height:38px;padding:0 5%;font-size:16px;}
.login .regWrap .box li .pnoneCode{height:40px;line-height:40px;font-size:16px;width:165px;}
.login .regWrap .box li .codeInput{width:140px;border-color:#d5d5d5;}
.login .regWrap .box li .authCode{width: 100px;}
.login .regWrap .box li .codeImg{height: 40px;}
.login .regWrap .box li .codeImg img{cursor: pointer; height: 40px;display: inline-block;margin-left: 10px;margin-right: 10px;}
.login .reg_validate_code{width:156px;}
.login .regWrap .box li .undis{display: none;}
.login .regWrap .box li.agreementLi {font-size: 14px;;margin-top: 15px;text-align: center;}
.login .regWrap .box li.agreementLi a{color: #ce0000}
.login .regWrap .box li.agreementLi a:hover{color: #da1e1e}
.login .regWrap .box li.emailRegAgreen{margin-top: 20px;}
.login .regWrap .box li.authCodeLi{margin-bottom: 0px;padding-top: 20px;}
.login .regWrap .box li.agreementLi .Validform_checktip{right: auto;left:40px;top:-26px;}
.login .regWrap .box li .submit{border:none;width:100%;padding:0;font-size:20px;cursor:pointer;}
.login .regWrap .goLogin {width:410px;text-align: center;padding-top: 390px;}
.login .regWrap .goLogin p{line-height: 22px;font-size:14px;margin-bottom:15px;}
.login .regWrap .goLogin a{width:190px;height:40px;line-height:40px;}
/*注册样式结束*/

/*   新的登录注册页面  */
.loginPage{background: #eee;}
.loginPage .login{padding-bottom: 40px;}
.login .loginWrap {margin:0 auto;margin-top: 66px;border-top: 3px solid #ce0000;box-shadow: 2px 2px 6px rgba(6,7,7,.35), -2px 0px 2px rgba(6,7,7,.35);background: #fff;padding:0 90px;}
.login .loginWrap .loginBox{border: none;box-shadow: none;}
.login .loginBgIco{width: 322px;height: 231px;background:url(../../images/login/loginadIco.png) no-repeat;margin-top: 62px;}
.login .regWrap .regTab{background: #fff;}
.login .regWrap .regTab .Validform_checktip {line-height: 21px;}
.loginPage .login .regWrap{margin-bottom: 0px;padding-left: 0px;}

.loginPage .login .regRight{padding: 40px 0 0 98px;width: 388px;border: 1px solid #d5d5d5;border-left: none;background: #fff url(../../images/login/regBg.png) 10px 62px no-repeat;margin-top: 50px;height: 437px;}
.loginPage .login .regRight .redText{font-size: 16px;margin-bottom: 21px;}
.loginPage .login .regRight li{font-size: 12px;margin-bottom: 22px;}
.loginPage .login .regRight li span{margin-right: 9px;color: #777;}
.loginPage .login .regRight li span.usename{color: #333;}
.loginPage .rollPar{height: 340px;overflow: hidden;}
.loginPage .rollBox{position: absolute;}












