<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我要开课</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentStartClass/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap  studentStartClass" id="nahaoModule" module="studentStartClass">
	<div class="writeInfo">
		<div class="box layout">
			<h2>请填写试讲信息<span>(以下信息会严格保密，请您放心填写）</span></h2>
			<form action="{$site_url}index/save_apply_teach" method="POST" class="writeInfoForm" onsubmit="return false">
				<ul class="Oul">
					<li class="cf">
						<p class="fl">真实姓名</p>
						<div class="cf">
							<input type="text" name="name" class="wUname fl textInput" validName="text" value="{if $user_detail['realname'] && $user_detail['realname']!='undefined'}{$user_detail['realname']}{/if}">
							<div class="Validform_tip_info fl undis">请输入真实姓名</div>
                          	<div class="Validform_checktip fl"></div>
						</div>
						<p class="tips fl">保密，方便我们与您电话沟通详细情况</p>
					</li>
					<li class="cf">
						<p class="fl">所在地区与学校</p>
						<div class="cf">
							<div class="cf schoolPar">
								<input class="schoolFullName cInput yh" validName="text" readonly="readonly" value="{foreach $data['school_area'] as $key => $val}{$val.name}{/foreach}{$data['school_name']}"/>
								<a href="javascript:void(0);" class="resetSchool optional" set="1" province="2" city="" county="500">就读学校</a>
								<div class="Validform_tip_info undis">请选择就读学校</div>
                          		<div class="Validform_checktip"></div>
								<input type="hidden" value="{if $data['school']['province_id']}{$data['school']['province_id']}{/if}" name="province_id" id="province_id" />
								<input type="hidden" value="{if $data['school']['city_id']}{$data['school']['city_id']}{/if}" name="city_id" id="city_id" />
								<input type="hidden" value="{if $data['school']['id']}{$data['school']['id']}{/if}" name="school_id" id="schoolVal" />
								<input type="hidden" value="{if $data['school']['county_id']}{$data['school']['county_id']}{/if}" name="area_county_id" id="area_county_id"/>
								<input type="hidden" value="{if $data['school']['sctype']}{$data['school']['sctype']}{/if}" name="school_type" id="school_type">
								<input type="hidden" value="" name="schoolname" id="schoolname" />
							</div>
						</div>
					</li>
					<li class="cf">
						<p class="fl">选择性别</p>
						<div class="cf">
							<div class="cf">
								<input checked type="radio" name="gender" id="male" value="1" class="radioInput fl" validName="radio" /><label for="male" class="fl">男</label> 
								<input type="radio" name="gender" id="female" value="2" class="radioInput fl" validName="radio"/><label for="female" class="fl">女</label>  
							</div>
							<span class="Validform_checktip fl"></span>
						</div>
					</li>
					<li class="cf">
						<p class="fl">年龄</p>
						<div class="cf">
							<input type="text" name="age" class="wage fl textInput" validName="text" value="">
							<div class="Validform_tip_info fl undis">请输入年龄</div>
                      		<div class="Validform_checktip fl"></div>
						</div>
					</li>
					<li class="cf">
						<p class="fl">教学阶段</p>
						<div class="cf">
							{foreach $data['data']['stage'] as $key=>$val}
							<div class="fl">
				    			<input type="radio" {if $key==1}checked{/if} value="{$key}" name="stage" id="high-{$key}" class="fl checkInput" validName="radio">
								<label for="high-{$key}" class="fl">{$val}</label>
				    		</div>
							{/foreach}
				    		<span class="Validform_checktip fl"></span>
				    	</div>
					</li>
					<li class="cf">
						<p class="fl">教师职称</p>
						<div class="fl">
							<div>
								<select name="title" id="" validName="select" class="teaTitle">
									<option value="">请选择职称</option>
									{foreach $data['data']['teacher_title'] as $key=>$val}
										<option value="{$key}">{$val}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>								
					</li>
					<li class="cf">
						<p class="fl">实际教龄</p>
						<div class="fl">
							<div>
								<select name="teach_years" id="" validName="select" class="seniority">
									<option value="">请选择教龄</option>
									{section name=loop loop=$data['data']['teach_years']}
										<option value="1">{$smarty.section.loop.index+1}年</option>
									{/section}
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>		
						<p class="tips fl">提示：那好每年7月1日自动为您更新教龄，如果信息有误，请您及时调整</p>			
					</li>
					<li class="cf">
						<p class="fl">手机号码</p>						
						<div class="cf">
							<input type="text" name="phone" class="wphone textInput fl" validName="text" value="{if $data['user_info']['phone']}{$data['user_info']['phone']}{/if}">
							<div class="Validform_tip_info fl undis">请输入手机号码</div>
                      		<div class="Validform_checktip fl"></div>
						</div>
						<p class="tips fl">保密，方便我们与您电话沟通详细情况</p>	
					</li>
					<li class="cf">
						<p class="fl">常用邮箱</p>
						<div class="cf">
							<input type="text" name="email" class="wEmail textInput fl" validName="text" value="{if $data['user_info']['email']}{$data['user_info']['email']}{/if}">
							<div class="Validform_tip_info fl undis">请输入常用邮箱</div>
                      		<div class="Validform_checktip fl"></div>
						</div>
					</li>
					<li class="cf">
						<p class="fl">QQ号</p>		
						<div class="cf">
							<input type="text" name="qq" class="wQQ textInput fl" validName="text" value="">
							<div class="Validform_tip_info fl undis">请输入QQ号</div>
                      		<div class="Validform_checktip fl"></div>
						</div>
					</li>
					<li class="cf">
						<p class="fl">讲课方式</p>
						<div class="fl">
							<div>
								<select name="teach_type" id="" validName="select" class="lecture">
									<option value="">请选择讲课方式</option>
									{foreach $data['data']['teacher_type'] as $key=>$val}
									<option value="{$key}">{$val}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>
					</li>
					<li class="cf">
						<p class="fl">试讲科目</p>
						<div class="fl">
							<div>
								<select name="subject" id="" validName="select" class="lectureSub">
									<option value="">请选择试讲科目</option>
									{foreach $data['data']['subject'] as $val}
									{if $val['status']==1}
										<option value="{$val['id']}">{$val['name']}</option>
									{/if}
									{/foreach}
								</select>
							</div>
						</div>
						<span class="Validform_checktip fl"></span>			
					</li>
					<li class="cf cookedTime">
						<p>试讲时间</p>							
						<div class="cf">
							<div class="fl wtimeBox">
								<input type="text" name="date_time" class="wtime textInput" validName="text">
								<div class="Validform_tip_info fl undis">请输入试讲时间</div>
	                      		<div class="Validform_checktip fl"></div>
							</div>
							<div class="fl timeSecelt">
								<div>
									<div>
										<select name="start_time" id="" validName="select" class="startTime">
											<option value="">选择开始时间</option>
											<option value="08:00">08:00</option>
											<option value="09:00">09:00</option>
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
											<option value="13:00">13:00</option>
											<option value="14:00">14:00</option>
											<option value="15:00">15:00</option>
											<option value="16:00">16:00</option>
											<option value="17:00">17:00</option>
											<option value="18:00">18:00</option>
											<option value="19:00">19:00</option>
											<option value="20:00">20:00</option>
											<option value="21:00">21:00</option>
											<option value="22:00">22:00</option>
										</select>
									</div>
								</div>
								<span class="Validform_checktip"></span>	
							</div>
							<span class="fl underLine">—</span>
							<div class="fl timeSecelt">
								<div>
									<div>
										<select name="end_time" id="" validName="select" class="endTime">
											<option value="">选择结束时间</option>
											<option value="08:00">08:00</option>
											<option value="09:00">09:00</option>
											<option value="10:00">10:00</option>
											<option value="11:00">11:00</option>
											<option value="12:00">12:00</option>
											<option value="13:00">13:00</option>
											<option value="14:00">14:00</option>
											<option value="15:00">15:00</option>
											<option value="16:00">16:00</option>
											<option value="17:00">17:00</option>
											<option value="18:00">18:00</option>
											<option value="19:00">19:00</option>
											<option value="20:00">20:00</option>
											<option value="21:00">21:00</option>
											<option value="22:00">22:00</option>
										</select>
									</div>
								</div>
								<span class="Validform_checktip"></span>	
							</div>
						</div>
						<p class="tips">约定大概试讲时间，具体讲课时间需与工作人员协商</p>
					</li>
					<li class="cf">
						<p class="fl">课程名称</p>
						<div class="cf">
							<input type="text" name="course" class="subname textInput fl" validName="text">
							<div class="Validform_tip_info fl undis">请输入课程名称</div>
                      		<div class="Validform_checktip fl"></div>
						</div>
					</li>
					<li>
						<p>课程介绍</p>
						<textarea name="course_intro" id="postEditor" style="visibility: hidden;"></textarea>		
					</li>
					<li>
						<p>个人简介</p>
						<textarea name="resume" id="introEditor" style="visibility: hidden;"></textarea>		
					</li>
					<li class="cf">
						<input id="apply_teach_submit" type="submit" value="提交申请" class="noShowBtn redBtn submit fl">
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
<!--选择学校-->
{include file='common/setSchool.html'}
</body>
</html>