.studentStartClass .wtimeBox{text-align: left;width: 188px;}
.studentStartClass .jqTransformSelectWrapper{background: #fff;border: 1px solid #a2a2a2;}
.studentStartClass .Validform_right{width:16px;height:16px;display:inline-block;margin-top:6px;margin-left:10px;}
/*开课成功样式开始*/
.studentStartClass .startSuccess,
.studentStartClass .writeInfo{padding:40px 0;text-align: center;color:#0e455e;}
.studentStartClass .startSuccess .box,
.studentStartClass .writeInfo .box{background: #fff;border: 1px solid #d5d5d5;padding-top:40px;}
.studentStartClass .startSuccess .box h2{margin-bottom:20px;height:46px;line-height:46px;background: url(../../images/cart/orderFormIcon2.png) no-repeat 360px center;}
.studentStartClass .startSuccess .tips{font-size: 16px;}
.studentStartClass .startSuccess .process{padding:0 0 80px 20px;}
.studentStartClass .startSuccess .process h3{font-size: 20px;color:#9f9f9f;text-align: left;font-weight: normal;margin-bottom:10px;}
.studentStartClass .startSuccess .process span{font-size:20px;font-weight:bold;width:148px;height:98px;line-height: 98px;border: 1px solid #c0c0c0;background: #fde3d7}
.studentStartClass .startSuccess .process em{width:40px;height:100px;background: url(../../images/studentStartClass/arrowIcon.png) no-repeat;}
.studentStartClass .startSuccess .process .arrowRight{background-position: -50px 20px}
.studentStartClass .startSuccess .process .arrowLeft{background-position: 12px 20px}
.studentStartClass .startSuccess .process .arrowDown{background-position: -120px 10px;height:70px;margin-right: 95px}
/*开课成功样式结束*/
/*填写信息样式开始*/
.studentStartClass .cookedTime .timeSecelt{width: 178px;}
.studentStartClass .writeInfo .box{padding-top: 0}
.studentStartClass .writeInfo h2{height:50px;line-height: 50px;padding-left: 80px;font-size: 18px;background: #f7f7f7;text-align: left;}
.studentStartClass .writeInfo h2 span{font-size: 14px;font-weight: normal;margin-left: 10px;}
.studentStartClass .writeInfo ul.Oul{padding:20px 0px 0 80px;}
.studentStartClass .writeInfo li {margin-bottom:15px;}
.studentStartClass .writeInfo li p{display: block;height:22px;line-height:22px;width: 100%;font-size:16px;color:#0e455e;margin-bottom:5px;text-align: left}
.studentStartClass .writeInfo li .textInput{width: 228px;height:31px;line-height:31px;border:1px solid #a2a2a2;padding:0 15px;}
.studentStartClass .writeInfo li .tips{font-size: 14px;color:#919191;}
.studentStartClass .writeInfo li label{height:30px;line-height:30px;font-size: 14px;margin-right: 20px;}
.studentStartClass .jqTransformSelectWrapper{display: inline-block;margin-right: 20px;text-align: left;float: left;}
.studentStartClass .jqTransformSelectWrapper span{font-size: 14px;color:#919191}
.studentStartClass .jqTransformSelectWrapper li{margin-bottom:0px;}
.studentStartClass .jqTransformRadioWrapper{float:left;margin: 6px 10px  0 0px;}
.studentStartClass .jqTransformCheckboxWrapper{float:left;margin: 6px 10px  0 0px;}
.studentStartClass .writeInfo li .submit{width:130px;height: 40px;line-height: 40px;border: 0;cursor:pointer;}
.studentStartClass .writeInfo .cookedTime .textInput{width:155px;margin-right:20px;}
.studentStartClass .writeInfo .cookedTime .underLine{line-height: 30px;}
.studentStartClass .writeInfo .cookedTime .jqTransformSelectWrapper{margin-left:20px;}
.studentStartClass .cookedTime .Validform_checktip{display: block;text-align: left;padding-top: 4px;}
.studentStartClass .cookedTime .timeSecelt .Validform_checktip{padding-left: 30px;}
.studentStartClass .cookedTime .timeSecelt .Validform_right{margin-left: 26px;}
/*填写信息样式结束*/
/*老师弹窗注册样式开始*/
.regTeacher{width: 443px;border:1px solid #d5d5d5;}
.regTeacher h2{height:50px;line-height: 50px;background: #f7f7f7;text-align: center;font-size:18px;color:#0e455e;}
.regTeacher ul{padding:25px 45px;}
.regTeacher ul li{margin-bottom:20px;}
.regTeacher ul li p{width: 100%;font-size: 16px;margin-bottom: 5px}
.regTeacher ul li p a{font-size: 14px;}
.regTeacher ul li p a:hover{color:#f14211;text-decoration: underline;}
.regTeacher ul li input{width: 90%;padding:0 5%;height:38px;line-height:38px;border:1px solid #6dcde6;font-size: 16px;}
.regTeacher ul li .vfCode{width:150px;border: 1px solid #d5d5d5;height:38px;}
.regTeacher ul li .submit{width:100%;border:0;padding:0;cursor:pointer;}
/*老师弹窗注册样式结束*/