<div class="footer">
	<div class="ftNav">
		<a href="{$student_url}">那好首页</a>
		<span> | </span>
		<a href="{$student_url}about/aboutus">关于我们</a> 
		<span> | </span> 
		<a href="{$student_url}about/classmode">上课模式</a>
		<span> | </span> 
		<a href="{$student_url}about/userhelp">用户帮助</a> 
		<span> | </span> 
		<a href="{$student_url}about/advise">意见反馈</a> 
		<span> | </span>
		<a href="{$student_url}about/contactus">联系我们</a> 
		<span> | </span>
		<a href="{$student_url}about/service">服务我们</a>
	</div>
	<div class="fm">
		<a href="" class="sina">官方微博</a>
		<a href="" class="wx">官方微信</a>
		<a href="javascript:vold(0);" class="phoneHref">400-864-8686</a>
	</div>
	<div class="fb">
        <span class="fbSpan">北京那好教育科技有限公司</span>
		<span class="fbSpan">京ICP备12050551号</span>
		<span>京公网安备11010802012731号</span>
	</div>
</div>