<div class="header">
    <div class="headNav">
        <div class="layout">
            <!--那好 logo开始-->
            <h1 class="fl"><img src="{static_url('/images/common/header/teacher_header_logo.gif')}" alt="nahao"></h1>
            <!--那好 logo结束-->
            <!--那好 nav开始-->
            <ul class="fl">
                <li class="fl nav_homePage curNav"><a href="/welcome/index" class="first">首页</a></li>
                <li class="fl nav_orderList"><a href="/orderList/index">班次列表</a></li>
                <li class="fl nav_selfInfo"><a href="/selfInfo/index">个人资料</a></li>
                <li class="fl nav_pay"><a href="/pay/index">课酬结算</a></li>
            </ul>
            <!--那好 nav结束-->
            <!--那好 info开始-->
            <div class="rightTips fr">
                <span><a href="/welcome/apply_teach" class="btn redBtn">我要开课</a></span>
                <a class="hd_info">您好，<b>王小乐</b>老师</a>|<a class="logout" href="#">退出</a>
            </div>
            <!--那好 info结束-->
        </div>
    </div>
</div>