<!-- 加载全站公共变量开始 -->
{include file="common/include/var.htm"}
<!-- 加载全站公共变量结束 -->
<!-- 加载老师端公共别名开始 -->
<script>
	var aliasContent = {
		"jquery": "lib/jquery/1.8.2/jquery",
	    "naHaoDialog": "lib/artDialog/4.1.7/artDialog",
	    "validForm": "lib/Validform/5.3.2/Validform",
	    "kindEditor": "lib/kindeditor/4.1.10/kindeditor",
	    "select": "module/lib/select",
        "ckEditorUploader": "lib/ckeditor/4.3/ckeditor",
        "ckSourceUploader": "lib/ckeditor/4.3/adapters/jquery",
        "flashUploader": "lib/uploadify/2.2/jquery.uploadify",
        "jQDate": "lib/My97DatePicker/4.8/WdatePicker",
        "cryptoJs": "lib/cryptoJs/3.1.2/sha1",
        "placeHolder":"lib/JPlaceholder/0.0.2/JPlaceholder",
        "lazyload":"lib/lazyload/0.0.1/jquery.lazyload"
	}
    var ck_image_upload = '/xxxx/upload_image?type=img';
    var ck_flash_upload = '/xxxx/upload_image?type=flash';
</script>
<!-- 加载老师端公共别名结束 -->