<div class="footer">
	<div class="layout">
		<p>
			<a href="{$student_url}">那好首页</a>
			<span> | </span>
			<a href="{$student_url}about/aboutus" target="_blank">关于我们</a>
			<span> | </span> 
			<a href="{$student_url}about/classmode" target="_blank">加入我们</a>
			<span> | </span> 
			<a href="{$student_url}about/userhelp" target="_blank">用户帮助</a>
			<span> | </span> 
			<a href="{$student_url}about/advise" target="_blank">意见反馈</a>
			<span> | </span>
			<a href="{$student_url}about/contactus" target="_blank">联系我们</a>
			<span> | </span>
			<a href="{$student_url}about/service" target="_blank">服务协议</a>
			<span> | </span>
			<a href="{$student_url}about/link" target="_blank">友情链接</a>
		</p>
		<p>
			<span>北京一朵云文化咨询有限公司</span>
			<span>京ICP备12050551号</span>
			<span>京公网安备11010802012731号</span>
		</p>
	</div>
</div>
<!-- 全站登录弹出层的html开始 -->
{include file="common/include/commonLogin.htm"}
{include file="common/include/stat.htm"}
<!-- 全站登录弹出层的html结束 -->