<div class="header">
	<div class="headLogin">
		<div class="layout headInfor">
			<a href="javascript:vold(0);" class="fl phoneHref">400-123-1122</a>
			<div class="fr headLoginBox">
				<!--登录之前 开始-->
				<div class="loginBefor ">
					<a href="/login" class="blueText">登录</a>
					<span>|</span>
					<a href="/register" class="blueText">注册</a>
				</div>
				<!--登录之前 结束-->
				<!--登录之后 开始-->
				<div class="loginAfter undis">
					<a href="" class="blueText">pine小丸子</a>
					<span>|</span>
					<a href="" class="grayText">退出</a>
				</div>
				<!--登录之后 结束-->
			</div>
			<a href="/index/apply_teach" class="fr studentStartClass redText">我要开课</a>
		</div>
	</div>
	<div class="headNav">
		<div class="layout">
			<!--那好 logo-->
			<h1 class="fl"><a href="http://www.nahaodev.com/"></a></h1>
			<!--那好 nav-->
			<ul class="fl">
				<li class="fl studentHomePage"><a href="/index/index">首页</a></li>
				<li class="fl studentMyCourse"><a href="/member/my_course">我的课程</a></li>
				<!-- <li class="fl startClass"><a href="">我要开课</a></li> -->
				<li class="fl studentStudy"><a href="http://diaocha.tizi.com/survey/41" target="_blank">我要学习</a></li>
			</ul>
			<!--那好 cart-->
			<!-- <div class="headCart fr">
				<span class="redText cartBg">13</span>
				<a href="" class="redBtn">去购物车结算</a>
			</div> -->
		</div>
	</div>
</div>
