.classRoom{font-size: 14px;color: #4b4b4b;} 
.classRoom .Validform_right{width:16px;height:16px;display:inline-block;margin-top:6px;margin-left:10px;}
.classRoomPage,html{height: 100%;}
.classRoomPage .greenText{color: #3fa612;}
/*  做题 --*/
.classRoomPage img{max-width:645px;}
.classRoomPage .doWorkBox{padding: 0 60px 45px 66px;width: 676px;margin-top:30px;}
.classRoomPage .doWorkBox img{max-width:645px;}
.classRoomPage .answerList li{min-height: 28px;/*height: 28px;line-height: 28px;*/border:1px solid #e1e1e1;color:#4b4b4b;font-size: 16px;font-weight: bold;padding-left: 12px;margin-bottom: 7px;cursor: pointer;}
.classRoomPage .answerList li p{width: 541px;}
.classRoomPage .scoreBoxList .answerList li{margin-left: 51px;}
.classRoomPage .answerList li .options{margin-right: 40px;}
.classRoomPage .answerList li:hover,
.classRoomPage .answerList .curAnswer{border-color:#6dcde6;background: #dbdbdb;}
.classRoomPage .answerList .ansIco{width: 27px;height: 28px;margin-left: -51px;}
.classRoomPage .answerList .ansRight .ansIco{background:url(../../images/classRoom/ansIco.png) left -24px no-repeat;}
.classRoomPage .answerList .ansError .ansIco{background:url(../../images/classRoom/ansIco.png) left 4px no-repeat;}
.classRoomPage .overBtn{text-align: right;padding-right: 14px;margin-top: 15px;}
.classRoomPage .overBtn .btn{width: 148px;margin-left: 30px;}
.classRoomPage .overBtn .subAns{background: #f14211;}
.classRoomPage .overBtn .nextBtn{background: #6dcde6;}
/*  得分 --*/
.classRoomPage .promTextBox{text-align: center;width: 475px;height:292px;border:1px solid #b9b9b9;margin-left: 15px;}
.classRoomPage .promTextBox h3{color: #4b4b4b;font-size: 20px;font-weight: normal;margin-bottom: 16px;padding-top: 166px;background: url(../../images/classRoom/happy.png) center 38px no-repeat;}
.classRoomPage .promTextBox h3.comeOnBg{background-image: url(../../images/classRoom/nohappy.png);}
.classRoomPage .promTextBox h3 .comeOn,
.classRoomPage .promTextBox h3.comeOnBg .reward{display: none;}
.classRoomPage .promTextBox h3.comeOnBg .comeOn{display: block;}
.classRoomPage .scoreCon .promText{color: #999;line-height: 22px;}

.classRoomPage .scoreBox{width: 850px;margin-top:30px;}
.classRoomPage .optionNav{width: 75px;text-align: center;color:#fff;}
.classRoomPage .scoreCon{width: 715px;padding: 0 30px 0 30px;}
.classRoomPage .answerList{margin:50px 0 0;}
.classRoomPage .optionNav .result{height: 74px;background: #6dcde6;font-weight: normal;font-size: 16px;line-height: 74px;}
.classRoomPage .itemscore .result{cursor: pointer;}
.classRoomPage .optionNav li{width:;font-size: 14px;height: 40px;line-height: 40px;border-top: 1px solid #f5f5f5;background: #8bb320;cursor: pointer;}
.classRoomPage .optionNav li:hover{background: #a3ca39;border-left: 5px solid #678d00;}
.classRoomPage .optionNav .curitme{background: #ed4111;}
.classRoomPage .optionNav .curitme:hover{background: #f86035;border-left: 5px solid #c93107;}
.classRoomPage .itemscore .scoreCon{padding: 0 30px 0px;}
.classRoomPage .itemscore{padding-bottom: 28px;}
.classRoomPage .scoreShow{width: 222px;}
.classRoomPage .chanText{padding-left: 50px;}
.classRoomPage .ansShow{width: 476px;border: 1px solid #b9b9b9;}
.classRoomPage .itemscore .score{height: 222px;background: #ed4111;color: #fff;text-align: center;}
.classRoomPage .itemscore .score h3{font-size: 24px;padding: 26px 0 13px;}
.classRoomPage .itemscore .score strong{font-size: 48px;width: 120px;height: 120px;border: 1px solid #fff;border-radius: 60px;line-height: 120px;text-align: center;display: inline-block;}
.classRoomPage .itemscore .resultArrow span{background:url(../../images/classRoom/rearrow.png) left center no-repeat;width: 9px;height: 74px;margin-right: -9px;}
.classRoomPage .scoref{border: 1px solid #b9b9b9;height: 70px;font-size: 18px;}
.classRoomPage .scoref span{width: 109px;border-right: 1px solid #e5e5e5;text-align: center;padding: 14px 0 16px;height: 40px;}
.classRoomPage .scoref span strong{font-size: 14px;}
/*.classRoomPage .scoref .average{border-right: none;}*/
.classRoomPage .scoref .errorItem{border-right: none;}
.classRoomPage .scoref .ansIco{background:url(../../images/classRoom/ansIco.png) center -24px no-repeat;display: inline-block;height:20px;padding: 0;}
.classRoomPage .asHead{height: 46px;padding: 0 120px 0 100px;background: #ebebeb;color: #808080;}
.classRoomPage .selfans span{display: block;text-align: center;}
.classRoomPage .whosAns{font-size: 14px;margin-bottom:0px;}
.classRoomPage .asheadR{text-align: center;width: 158px;}
.classRoomPage .asheadRBox{margin:0px -30px 0 0;}
.classRoomPage .asheadR div span{margin-right: 30px;}
.classRoomPage .ansShow ul{padding: 2px 10px 0 13px;}
.classRoomPage .ansShow li{height: 48px;line-height: 48px;border-bottom: 1px solid #eaeaea;padding: 0 10px 0 35px;}
.classRoomPage .ansShow li .items{font-size: 16px;width: 53px;}
.classRoomPage .ansShow li .ansIco{width: 27px;height: 23px;background:url(../../images/classRoom/ansIco.png) center -24px no-repeat;margin:12px 80px 0 0;}
.classRoomPage .ansShow li .scoreSBox span{font-size: 18px;margin-right: 16px;min-width: 33px;color: #8bb320;}
.classRoomPage .ansShow li a.fr{width: 32px;height: 32px;background: url(../../images/classRoom/look.png) no-repeat;margin-top: 8px;}
.classRoomPage .scoref .errorItem .ansIco,
.classRoomPage .ansShow li .error{background-position: center -2px;}
/*  老师-答案统计  */
.classRoomPage .ansCount{font-size: 14px;padding: 14px 25px 24px 35px;width: 742px;margin-top:30px;}
.classRoomPage .ansCount .countTitle{color: #677381;font-weight: normal;font-size: 14px;height: 28px;line-height: 28px;}
.classRoomPage .ansCount .countTitle em{margin:0 5px;}
.classRoomPage .ansCount .countTitle span{margin-right:12px;}
.classRoomPage .ansCount .CitemCon{width: 716px;}
.classRoomPage .ansCount .CitemList{background: #f4f4f4;border: 1px solid #d5d5d5;margin-bottom: 9px;padding: 0 25px 10px;}
.classRoomPage .ansCount .ansList{margin:10px 0;}
.classRoomPage .ansCount .ansList span{display: block;}
.classRoomPage .ansCount .ansList em{margin-right: 14px;float:left}
.classRoomPage .ansCount .pName{color: #677381;}
.classRoomPage .ansCount .ansTable{margin-top: 25px;}
.classRoomPage .ansCount .ansTable li{width: 131px;}
.classRoomPage .ansCount .ansTable span{width: 130px;height: 42px;line-height: 42px;text-align: center;border-color:#d5d5d5;border-style: solid;border-width: 0 1px 1px 0;background: #fff;}
.classRoomPage .ansCount .ansTable .listHead{height: 36px;line-height: 36px;color: #fff;font-weight: bold;font-size: 16px;background: #f14211;border-width: 0 0 0 1px;}
.classRoomPage .ansCount .ansTable .firstList span{border-left: 1px solid #d5d5d5;width: 129px;}
.classRoomPage .ansCount .ansTable .firstList .listHead{border-left: none;width: 131px;}
.classRoomPage .ansCount .ansTable .rightSpan{background:#8cb422 url(../../images/classRoom/right.png) 75px center no-repeat;}
/*.classRoomPage .ansCount .citemBox{height: 605px;}*/
/*  练习题 */
.classRoomPage .exercise{width: 800px;margin-top:30px;}
.classRoomPage .exercise .itemTab{padding:8px 12px;}
.classRoomPage .exercise .itemTabBox{border:1px solid #f14211;margin:0 auto;width: 690px;overflow: hidden;}
.classRoomPage .exercise .itemTabBox ul{/*width:1000%;*/position: absolute;}
.classRoomPage .exercise .itemTabBox li{width: 645px;padding: 20px 25px 20px 20px;cursor: pointer;max-height: 300px;overflow-y: scroll;}
.classRoomPage .exercise .itemTabBox li.itemOn{background: #fef2f2;}
.classRoomPage .exercise .itemTabBox li img{max-width:645px;}
.classRoomPage .exercise .clickBtn{width: 20px;height: 33px;position: absolute;top:45%;}
.classRoomPage .exercise .clickL{background: url(../../images/classRoom/cleft.png) no-repeat;left:12px;}
.classRoomPage .exercise .clickL:hover,
.classRoomPage .exercise .clickL:active{background: url(../../images/classRoom/hcleft.png) no-repeat;}
.classRoomPage .exercise .clickR{background: url(../../images/classRoom/cright.png) no-repeat;right: 12px;}
.classRoomPage .exercise .clickR:hover,
.classRoomPage .exercise .clickR:active{background: url(../../images/classRoom/hcright.png) no-repeat;}
.classRoomPage .exercise .eAns{font-size: 18px;font-weight: bold;}
.classRoomPage .exercise .eAns strong{margin-right: 45px;}
.classRoomPage .exercise .eAns p{width: 585px;}
.classRoomPage .exercise .ef{padding: 17px 0 30px;background: #f7f7f7;border-top:1px solid #d7d7d7;box-shadow: 0 -1px 3px #d7d7d7;text-align: center;}
.classRoomPage .exercise .ef .Titem a{width: 38px;height: 38px;margin-right: 7px;border-radius: 2px;border:1px solid #f14211;display: inline-block;font-size: 18px;text-align: center;line-height: 38px;}
.classRoomPage .exercise .ef .Titem a:hover{font-weight: bold;}
.classRoomPage .exercise .ef a.titemOn{background: #f14211;color: #fff;}
.classRoomPage .exercise .ef .Titem{margin-right: -7px;}
.classRoomPage .exercise .ef p{text-align: right;margin-top: 15px;}
.classRoomPage .exercise .ef p .btn{margin:0 54px 0 25px;width: 190px;}
.classRoomPage .exercise .ef p span.btn{background: #dedede;color: #4b4b4b;cursor: inherit;}
.classRoomPage .exercise .ef p em{margin:0 6px;}
/* 评价 */
.classRoomPage .evalu{padding: 14px 48px 88px;width: 602px;margin-top:30px;}
.classRoomPage .evalu h3{font-weight: normal;font-size: 18px;}
.classRoomPage .evalu .starBg{display: inline-block;margin:16px 0 26px;}
.classRoomPage .evalu .starBg span{float:left;width: 32px;height: 30px;margin-right: 2px;background: url(../../images/classRoom/evalBg.png) no-repeat;cursor: pointer;}
.classRoomPage .evalu .starBg span.cStar{background: url(../../images/classRoom/cevalBg.png) no-repeat;}
.classRoomPage .evalu textarea{width: 560px;height: 238px;}
/*  滚动条  */
.classRoomPage .sconParl{max-height: 476px;/*overflow-y: scroll;*/}
.classRoomPage .sparent,
.classRoomPage .cparent{/*position:absolute;*/width: 4px;background: #c9c9c9;}
.classRoomPage .sparent{right: 0;top:0;height: 476px;}
.classRoomPage .cparent{right: 34px;top:0;height: 528px;}
.classRoomPage .sparent .sbar,
.classRoomPage .cparent .cbar{width: 4px;height: 30px;background: #0e455e;position: absolute;left: 0;top:0;}
.classRoomPage .scoreBoxList{/*position:absolute;*/right: 0;top:0;width: 675px;height: 400px;overflow-y: scroll;}
.classRoomPage .scoreBoxPar{max-height: 528px;/*min-height:300px;*//*overflow-y: scroll;*/}
/*.classRoomPage .optionNav ul{position: absolute;left:0;top:0;width: 75px;}*/
.classRoomPage .optionNav .sconl{height: 328px;overflow-y: scroll;}
.classRoomPage .blackBack{background-color: #788595;}