.classRoom{font-size: 14px;color: #4b4b4b;        background: rgba(0,0,0,.5); } /*  后面会删了 我为了 现在看着方便0*/
/*  做题 --*/
.classRoom .doWorkBox{padding: 0 60px 45px 66px;width: 676px;       /*  后面会删了 我为了 现在看着方便0*/background: #fff;margin:30px auto;}
.classRoom .answerList li{height: 28px;line-height: 28px;border:1px solid #e1e1e1;color:#4b4b4b;font-size: 16px;font-weight: bold;padding-left: 12px;margin-bottom: 7px;cursor: pointer;}
.classRoom .answerList li .options{margin-right: 40px;}
.classRoom .answerList li:hover,
.classRoom .answerList .curAnswer{border-color:#6dcde6;background: #dbdbdb;}
.classRoom .answerList .ansIco{width: 27px;height: 28px;margin-left: -51px;}
.classRoom .answerList .ansRight .ansIco{background:url(../../images/classRoom/ansIco.png) left -24px no-repeat;}
.classRoom .answerList .ansError .ansIco{background:url(../../images/classRoom/ansIco.png) left 4px no-repeat;}
.classRoom .overBtn{text-align: right;padding-right: 14px;margin-top: 15px;}
.classRoom .overBtn .btn{width: 148px;margin-left: 30px;}
.classRoom .overBtn .subAns{background: #f14211;}
.classRoom .overBtn .nextBtn{background: #6dcde6;}
/*  得分 --*/
.classRoom .scoreBox{width: 850px;     height: 550px;  background: #fff;margin:40px auto;}
.classRoom .optionNav{width: 75px;text-align: center;color:#fff;}
.classRoom .scoreCon{width: 675px;padding: 0 40px 0 60px;}
.classRoom .scorePage .scoreCon{width: 711px;}
.classRoom .optionNav ul{width: 70px;}
.classRoom .optionNav .result{height: 74px;background: #6dcde6;font-weight: normal;font-size: 16px;line-height: 74px;}
.classRoom .optionNav li{font-size: 14px;height: 40px;line-height: 40px;border-top: 1px solid #f5f5f5;background: #8bb320;}
.classRoom .optionNav li:hover{background: #a3ca39;border-left: 5px solid #678d00;}
.classRoom .optionNav .curitme{background: #ed4111;}
.classRoom .optionNav .curitme:hover{background: #f86035;border-left: 5px solid #c93107;}
.classRoom .scorePage .scoreCon{padding: 0 32px 28px;}
.classRoom .scoreShow{width: 222px;}
.classRoom .ansShow{width: 476px;border: 1px solid #b9b9b9;}
.classRoom .scorePage .score{height: 222px;background: #ed4111;}
.classRoom .scorePage .result span{background:url(../../images/classRoom/rearrow.png) left center no-repeat;width: 9px;height: 74px;margin-right: -9px;}
.classRoom .scoref{border: 1px solid #b9b9b9;height: 70px;font-size: 18px;}
.classRoom .scoref span{width: 72px;border-right: 1px solid #e5e5e5;text-align: center;padding: 14px 0 16px;height: 40px;}
.classRoom .scoref span strong{font-size: 14px;}
.classRoom .scoref .average{border-right: none;}
.classRoom .scoref .ansIco{background:url(../../images/classRoom/ansIco.png) center -24px no-repeat;display: inline-block;height:20px;padding: 0;}
.classRoom .asHead{height: 46px;padding: 0 120px 0 100px;background: #ebebeb;color: #808080;}
.classRoom .selfans span{display: block;text-align: center;}
.classRoom .whosAns{font-size: 14px;margin-bottom: 6px;}
.classRoom .asheadR{text-align: center;width: 152px;}
.classRoom .asheadRBox{margin:6px -30px 0 0;}
.classRoom .asheadR div span{margin-right: 30px;}
.classRoom .ansShow ul{padding: 0 10px 0 13px;}
.classRoom .ansShow li{height: 48px;line-height: 48px;border-bottom: 1px solid #eaeaea;padding: 0 10px 0 35px;}
.classRoom .ansShow li .items{font-size: 16px;width: 53px;}
.classRoom .ansShow li .ansIco{width: 27px;height: 23px;background:url(../../images/classRoom/ansIco.png) center -24px no-repeat;margin:12px 80px 0 0;}
.classRoom .ansShow li .scoreSBox span{font-size: 18px;margin-right: 16px;min-width: 33px;color: #8bb320;}
.classRoom .ansShow li a.fr{width: 32px;height: 32px;background: url(../../images/classRoom/look.png) no-repeat;margin-top: 8px;}
.classRoom .scoref .errorItem .ansIco,
.classRoom .ansShow li .error{background-position: center -2px;}
/*  老师-答案统计  */
.classRoom .ansCount{font-size: 14px;padding: 14px 25px 24px 35px;width: 742px;      background: #fff;margin:30px auto;}
.classRoom .ansCount .countTitle{color: #677381;font-weight: normal;font-size: 14px;height: 28px;line-height: 28px;}
.classRoom .ansCount .countTitle em{margin:0 5px;}
.classRoom .ansCount .countTitle span{margin-right:12px;}
.classRoom .ansCount .CitemCon{width: 716px;}
.classRoom .ansCount .CitemList{background: #f4f4f4;border: 1px solid #d5d5d5;margin-bottom: 9px;padding: 0 25px 10px;}
.classRoom .ansCount .ansList{margin:10px 0;}
.classRoom .ansCount .ansList span{display: block;}
.classRoom .ansCount .ansList em{margin-right: 14px;}
.classRoom .ansCount .pName{color: #677381;}
.classRoom .ansCount .ansTable{margin-top: 25px;}
.classRoom .ansCount .ansTable li{width: 131px;}
.classRoom .ansCount .ansTable span{width: 130px;height: 42px;line-height: 42px;text-align: center;border-color:#d5d5d5;border-style: solid;border-width: 0 1px 1px 0;background: #fff;}
.classRoom .ansCount .ansTable .listHead{height: 36px;line-height: 36px;color: #fff;font-weight: bold;font-size: 16px;background: #f14211;border-width: 0 0 0 1px;}
.classRoom .ansCount .ansTable .firstList span{border-left: 1px solid #d5d5d5;width: 129px;}
.classRoom .ansCount .ansTable .firstList .listHead{border-left: none;width: 131px;}
.classRoom .ansCount .ansTable .rightSpan{background:#8cb422 url(../../images/classRoom/right.png) 75px center no-repeat;}
.classRoom .ansCount .citemBox{height: 605px;}
/*  练习题 */
.classRoom .exercise{width: 800px;       background: #fff;margin: 30px auto;}
.classRoom .exercise .itemTab{padding:8px 12px;}
.classRoom .exercise .itemTabBox{border:1px solid #f14211;margin:0 auto;width: 690px;overflow: hidden;}
.classRoom .exercise .itemTabBox ul{width:1000%;position: absolute;}
.classRoom .exercise .itemTabBox li{width: 645px;padding: 20px 25px 20px 20px;cursor: pointer;}
.classRoom .exercise .itemTabBox li.itemOn{background: #fef2f2;}
.classRoom .exercise .clickBtn{width: 20px;height: 33px;position: absolute;top:45%;}
.classRoom .exercise .clickL{background: url(../../images/classRoom/cleft.png) no-repeat;left:12px;}
.classRoom .exercise .clickL:hover,
.classRoom .exercise .clickL:active{background: url(../../images/classRoom/hcleft.png) no-repeat;}
.classRoom .exercise .clickR{background: url(../../images/classRoom/cright.png) no-repeat;right: 12px;}
.classRoom .exercise .clickR:hover,
.classRoom .exercise .clickR:active{background: url(../../images/classRoom/hcright.png) no-repeat;}
.classRoom .exercise .eAns{font-size: 18px;font-weight: bold;}
.classRoom .exercise .eAns strong{margin-right: 45px;}
.classRoom .exercise .eAns p{width: 585px;}
.classRoom .exercise .ef{padding: 17px 0 8px;background: #f7f7f7;border-top:1px solid #d7d7d7;box-shadow: 0 -1px 3px #d7d7d7;text-align: center;}
.classRoom .exercise .ef .Titem a{width: 38px;height: 38px;margin-right: 7px;border-radius: 2px;border:1px solid #f14211;display: inline-block;font-size: 18px;text-align: center;line-height: 38px;}
.classRoom .exercise .ef .Titem a:hover{font-weight: bold;}
.classRoom .exercise .ef a.titemOn{background: #f14211;color: #fff;}
.classRoom .exercise .ef .Titem{margin-right: -7px;}
.classRoom .exercise .ef p{text-align: right;margin-top: 15px;}
.classRoom .exercise .ef p a{margin:0 54px 0 25px;width: 190px;}
.classRoom .exercise .ef p em{margin:0 6px;}
/* 意见反馈 */
.classRoom .feedback{padding:14px 76px 44px 72px;width: 652px;                background: #fff;margin: 30px auto;}
.classRoom .feedback h2{font-size: 20px;padding:13px 0 0 33px;height: 22px;line-height: 22px;margin-bottom: 7px;background: url(../../images/classRoom/feedback.png) 3px top no-repeat;}
.classRoom .feedback form .fbText{height: 28px;line-height: 28px;}
.classRoom .feedback form textarea{width: 610px;height: 228px;}
.classRoom .feedback form input{width:288px;}
.classRoom .feedback .formName{font-size: 16px;}
.classRoom .feedback .submit,
.classRoom .evalu .submit{width: 140px;margin-top: 12px;height: 40px;line-height: 40px;font-weight: bold;font-size: 20px;}
/* 评价 */
.classRoom .evalu{padding: 14px 48px 88px;width: 602px;                          background: #fff;margin: 30px auto;}
.classRoom .evalu h3{font-weight: normal;font-size: 18px;}
.classRoom .evalu .starBg{width: 170px;background: url(../../images/classRoom/evalBg.png);display: inline-block;margin:16px 0 26px;}
.classRoom .evalu .starBg span{float:left;width: 32px;height: 30px;margin-right: 2px;background: url(../../images/classRoom/cevalBg.png) no-repeat;}
.classRoom .evalu textarea{width: 560px;height: 238px;}