<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>浏览器下载页</title>
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentHomePage/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="browserPage">
<!-- 头部开始 -->
{include file="www/include/min_header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap studentHomePage iebrowserBox" id="nahaoModule" module="studentHomePage">
	<div class="browserBox layout">
		<h2>您正在使用的浏览器无法支持那好的正常使用</h2>
		<ul class="cf">
			<li class="fl iniBrow">
				<h3>360极速浏览器</h3>
				<a href="http://down.360safe.com/cse/360cse_7.5.3.176.exe">马上下载</a>
			</li>
			<li class="fl ieBrow">
				<h3>IE（8.0以上版本）</h3>
				<a href="http://dlsw.baidu.com/sw-search-sp/gaosu/2014_06_18_16/bind1/23253/IE8-WindowsXP-x86-CHS_23253_BDdl.exe">马上下载</a>
			</li>
			<li class="fl chromBrow">
				<h3>Chrome</h3>
				<a href="http://dlsw.baidu.com/sw-search-sp/aladin/2014_06_29_11/bind1/14744/ChromeStandaloneSetup35.0.1916.114.1401167998.exe">马上下载</a>
			</li>
			<li class="fl safaBrow">
				<h3>Safari</h3>
				<a href="http://dlsw.baidu.com/sw-search-sp/gaosu/2014_06_30_15/bind1/12966/Safari_5.34.57.2_12966_BDdl.exe">马上下载</a>
			</li>
		</ul>
	</div>
</div>
<!-- 主要内容结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
{include file="common/include/commonLogin.htm"}
<!--js引入结束-->
</body>
</html>