<div class="cListWrap list_tabs" name="index_course_list">
    <!-- 课程列表的头部tab开始 -->
    <div class="cf chTitle" name="list" id="list">
        <ul class="cf fl tabList ">
            <li class="tabItem firstTab {if (isset($query_params['stage']) && $query_params['stage'] eq 0) || !isset($query_params['stage'])}active{/if}" link="cl_all_list">
                <a href="/stage.html#list" name="list">
                    全部课程
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem {if isset($query_params['stage']) && $query_params['stage'] eq $smarty.const.CATE_STAGE_PRIMARY}active{/if}" link="cl_primary_list">
                <a href="/stage_{$smarty.const.CATE_STAGE_PRIMARY}.html#list">
                    小学
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem {if isset($query_params['stage']) && $query_params['stage'] eq $smarty.const.CATE_STAGE_JUNIOR}active{/if}" link="cl_middle_list">
                <a href="/stage_{$smarty.const.CATE_STAGE_JUNIOR}.html#list">
                    初中
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem {if isset($query_params['stage']) && $query_params['stage'] eq $smarty.const.CATE_STAGE_SENIOR}active{/if}" link="cl_high_list">
                <a href="/stage_{$smarty.const.CATE_STAGE_SENIOR}.html#list">
                    高中
                    <span class="bBr"></span>
                </a>
                <span class="bottomBr"></span>
            </li>
        </ul>
        <a href="/list_t1.html" class="fr moreLink">更多</a>
    </div>
    <!-- 课程列表的头部tab结束 -->
    <!-- 课程列表开始 -->
    <div class="cf listCont">
        <!-- 的tab内容区开始 -->
        <div class="cf tabContent">
            <!-- 全部课程开始 -->
            <div class="cf item active" itemname="cl_all_list"><!-- cl_primary_list cl_middle_list cl_high_list-->
                <div class="cf">
                    {if empty($round_list)}
                    <div class="courseListEmpty">
                    该类别暂时没有课程，请试试其他类别
                    </div>
                    {else}
                    {foreach $round_list as $v}
                    <!-- 单个课程信息开始 -->
                    <div class="cItem">
                        <!-- 标签列表开始 -->
								<span class="markList">
                                    <!--限时抢购-->
                                    {if $v.start_time lt $today_begin_time+5*86400}
									    <span class="mark mark{$smarty.const.ROUND_ICON_XIANSHIQIANGGOU}">{$round_icons[$smarty.const.ROUND_ICON_XIANSHIQIANGGOU]}</span>
                                    {/if}
                                    <!--免费试听-->
                                    {if $v.sale_price eq 0}
									    <span class="mark mark{$smarty.const.ROUND_ICON_MIANFEISHITING}">{$round_icons[$smarty.const.ROUND_ICON_MIANFEISHITING]}</span>
                                    {/if}
                                    <!--今日新课-->
                                    {if $v.sell_begin_time gt $today_begin_time && $v.start_time lt $today_end_time}
									    <span class="mark mark{$smarty.const.ROUND_ICON_JINRIXINKE}">{$round_icons[$smarty.const.ROUND_ICON_JINRIXINKE]}</span>
                                    {/if}
                                    <!--疯狂热卖-->
                                    {if $v.bought_count+$v.extra_bought_count gt $smarty.const.ROUND_ICON_FENGKUANGREMAI_EDGE}
									    <span class="mark mark{$smarty.const.ROUND_ICON_FENGKUANGREMAI}">{$round_icons[$smarty.const.ROUND_ICON_FENGKUANGREMAI]}</span>
                                    {/if}
									{if isset($course_types[$v.course_type])}<span class="mark mark7">{$course_types[$v.course_type]}</span>{/if}
									{if isset($material_versions[$v.material_version]) && ($v.material_version gt 1)}<span class="mark mark8">{$material_versions[$v.material_version]}</span>{/if}
								</span>
                        <!-- 标签列表结束 -->
                        <a target="_blank" href="/ke_{$v.id}.html" class="courseDesc">
                            <img src="{if empty($v.img)}{static_url($smarty.const.HOME_IMG_DEFAULT)}{else}{get_course_img_by_size($v.img,'index')}{/if}" alt="123" class="cDescImg">
                            <!-- hover时候显示的教师信息开始 -->
                            <div class="hoverDesc">
                                <div class="innerDesc">
                                    <!-- 教师图像和简介开始 -->
                                    <div class="cf teacherWrap">
                                        <img src="{if empty($v.avatar)}{static_url($smarty.const.DEFAULT_TEACHER_AVATER)}{else}{get_course_img_by_size($v.avatar,'index_avatar')}{/if}"
                                             alt="{$v.nickname}" class="fl">
                                        <!-- 教师姓名和教龄开始 -->
												<span class="fl teacherName">
													<strong>{$v.nickname}</strong>
													<span>
														{$v.teacher_age}年教龄
													</span>
												</span>
                                        <!-- 教师姓名和教龄结束 -->
                                    </div>
                                    <!-- 教师图像和简介结束 -->
                                    <!-- 教师介绍开始 -->
                                    <div class="teacherDesc" href="#" title="{$v.teacher_intro|htmlspecialchars_decode}">{$v.teacher_intro|htmlspecialchars_decode}</div>
                                    <!-- 教师介绍结束 -->
                                </div>
                            </div>
                            <!-- hover时候显示的教师信息结束 -->
                        </a>

                        <!-- 课程标题和简介开始 -->
                        <h3 class="ctitle">
                            <a target="_blank" href="/ke_{$v.id}.html">
                                <span class="cTitleName">{$v.title}</span>
                                <span class="cTitleDesc">{$v.subtitle}</span>
                            </a>
                        </h3>
                        <!-- 课程标题和简介结束 -->
                        <!-- 课程价格开始 -->
                        <p class="cDetail">
                            <span class="price">￥<strong>{$v.sale_price|intval}</strong></span>
									<span class="cVal">价值<span>￥{$v.price|intval}</span>
									</span>
                            <a target="_blank" href="/ke_{$v.id}.html" class="cRedBtn learnBtn">马上学习</a>
                        </p>
                        <!-- 课程价格结束 -->
                        <div class="cf cBottom">
                            {if $smarty.const.TIME_STAMP gt $v.sell_end_time-5*86400 && $smarty.const.TIME_STAMP lt $v.sell_end_time}
                                <span class="fl countDown" time="{$v.sell_end_time}" time_id="{$v.id}"></span>
                            {else}
                                <span class="fl">开课时间：{date('m月d日',$v.start_time)}<span class="time">{date('H:i',$v.start_time)}</span></span>
                            {/if}

									<span class="fr">
										<strong>{$v.bought_count+$v.extra_bought_count}</strong>人已学习
									</span>
                        </div>
                    </div>
                    <!-- 单个课程信息结束 -->
                    {/foreach}
                    {/if}
                </div>
                <!-- 全部课程分页开始 -->
                <div class="pager">
                    {$page}
                </div>
                <!-- 全部课程分页结束 -->
            </div>
            <!-- 全部课程结束 -->
        </div>
    </div>
</div>