<div class="floatBox">
    <a href="javascript:void(0);" class="returnTop" title="返回顶部">返回顶部</a>
    <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwOTkzNF8xNjEzODlfNDAwODY0ODY4Nl8yXw" target="_blank" class="ansQue" title="咨询答疑">咨询答疑</a>
    <!-- <a href="http://diaocha.tizi.com/survey/41" class="courSurvey" target="_blank">开课调查</a> -->
    <a href="javascript:void(0);" class="weixinCode">
		<span class="wxWrap">
			<span class="wxBg"></span>
			<span class="wxDesc">
				<img src="{$static_url}{$static_version}/images/common/wxCode.gif" alt="梯子二维码">
				<span class="codeText">
					扫描二维码关注<br>
					梯子网官方微信
				</span>
				<span class="arrow"></span>
			</span>
		</span>
    </a>
    <a href="javascript:void(0);" class="feedback">意见反馈</a>
</div>