<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>那好在线课堂官网_网络课堂_网络课程_家教在线-那好网</title>
<meta name="keywords" content="那好网,网络课堂,网络课程,在线课堂"/>
<meta name="description" content="那好网荟萃全国名师，为教师提供实现自己教育梦想的在线课堂平台。致力于搭建最好的在线课堂网站，打造那好网络课堂，提供精品网络课程，为学生提供方便、高效，愉悦的网络学习体验。"/>
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentHomePage/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="navHomepage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="cf wrap layout studentHomePage" id="nahaoModule" module="studentHomePage" data_page="studentPage">
	<!-- 左侧内容区开始 -->
	<div class="fl content cf">
		<!-- banner轮播开始 -->
		<div class="cf">
			<div class="fr banner bannerScroll" id="indexBanner">
				<ul class="cf rollList">
                    {foreach $focus_photo as $k=>$v}
		            <li class="fl {if $k==0}rollshow{/if}" >
		            	<a href="{$v.link}">
		            		<img src="{$smarty.const.NH_QINIU_URL}{$v.img_src}" alt="" width="570" height="293">
		            	</a>
		            </li>
                    {/foreach}
	        	</ul>
				<!-- banner焦点开始 -->
				<ol class="cf rollNav indexlist">
                    {foreach $focus_photo as $k=>$v}
	            	<li class="fl {if $k==0}active{/if}">{$k+1}</li>
                    {/foreach}
	        	</ol>
				<!-- banner焦点结束 -->
				<!-- 左右切换开始 -->
				<a class="bannerSlide next" href="javascript:void(0)"></a>
				<a class="bannerSlide prev" href="javascript:void(0)"></a>
				<!-- 左右切换结束 -->
			</div>
		</div>
		<!-- banner轮播结束 -->
		<!-- 进行中的直播课开始 -->
		<div class="cf liveLessonWrap bannerScroll">
			<!-- 直播课的header开始 -->
			<div class="hd cf liveLessHead">
				<h2 class="fl liveTitle">
					进行中的直播课
				</h2>
				<!-- 直播课的slide序列号开始 -->
				<ol class="cf fr bannerOrder">
				</ol>
				<!-- 直播课的slide序列号结束 -->
			</div>
			<!-- 直播课的header开始 -->
			<!-- 直播课的切换开始 -->
			<div class="liveViewWrap bannerView">
				<div class="bd innerWrap">
					<ul class="cf liveList">
						{for $i=0 to 3}
						<li class="bItem">
							<div class="liveLess">
								<a href="#">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic1.gif" alt="" class="liveClassImg">
									<!-- 标签列表开始 -->
									<span class="markList">
										<span class="mark blueMark">正在直播</span>
									</span>
									<!-- 标签列表结束 -->
								</a>
								<!-- 直播课的简介开始 -->
								<a href="#">
									<span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
									<!-- 直播课时间开始 -->
									<span>08月16日<span class="time">16:00-16:45</span></span>
									<!-- 直播客时间结束 -->
								</a>
								<!-- 直播课的简介结束 -->
							</div>
						</li>
						<li class="bItem">
							<div class="liveLess">
								<a href="#">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic2.gif" alt="" class="liveClassImg">
									<!-- 标签列表开始 -->
									<span class="markList">
										<span class="mark greenMark">即将开始</span>
									</span>
									<!-- 标签列表结束 -->
								</a>
								<!-- 直播课的简介开始 -->
								<a href="#">
									<span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
									<!-- 直播课时间开始 -->
									<span>08月16日<span class="time">16:00-16:45</span></span>
									<!-- 直播客时间结束 -->
								</a>
								<!-- 直播课的简介结束 -->
							</div>
						</li>
						<li class="bItem">
							<div class="liveLess">
								<a href="#">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic3.gif" alt="" class="liveClassImg">
									<!-- 标签列表开始 -->
									<span class="markList">
										<!-- 单个标签开始 -->
										<span></span>
										<!-- 单个标签结束 -->
									</span>
									<!-- 标签列表结束 -->
								</a>
								<!-- 直播课的简介开始 -->
								<a href="#">
									<span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
									<!-- 直播课时间开始 -->
									<span>08月16日<span class="time">16:00-16:45</span></span>
									<!-- 直播客时间结束 -->
								</a>
								<!-- 直播课的简介结束 -->
							</div>
						</li>
						{/for}
					</ul>
				</div>
			</div>
			<!-- 直播课的切换结束 -->
			<!-- 左右切换开始 -->
			<a class="bannerSlide next" href="javascript:void(0)"></a>
			<a class="bannerSlide prev" href="javascript:void(0)"></a>
			<!-- 左右切换结束 -->
		</div>
		<!-- 进行中的直播课结束 -->

		<!-- 课程列表开始 -->
		<div class="cListWrap list_tabs">
			<!-- 课程列表的头部tab开始 -->
			<div class="cf chTitle">
				<ul class="cf fl tabList ">
					<li class="tabItem firstTab active" link="cl_all_list">
						<a href="#">
							全部课程
							<span class="bBr"></span>
						</a>
					</li>
					<li class="tabItem" link="cl_primary_list">
						<a href="#">
							小学
							<span class="bBr"></span>
						</a>
					</li>
					<li class="tabItem" link="cl_middle_list">
						<a href="#">
							初中
							<span class="bBr"></span>
						</a>
					</li>
					<li class="tabItem" link="cl_high_list">
						<a href="#">
							高中
							<span class="bBr"></span>
						</a>
						<span class="bottomBr"></span>
					</li>
				</ul>
				<a href="#" class="fr moreLink">更多</a>
			</div>
			<!-- 课程列表的头部tab结束 -->
			<!-- 课程列表开始 -->
			<div class="cf listCont">
				<!-- 的tab内容区开始 -->
				<div class="cf tabContent">
					<!-- 全部课程开始 -->
					<div class="cf item active" itemname="cl_all_list">
						<div class="cf">
							{for $i=0 to 59}
							<!-- 单个课程信息开始 -->
							<div class="cItem">
								<!-- 标签列表开始 -->
								<span class="markList">
									<span class="mark greenMark">限时抢购</span>
									<span class="mark blueMark">正在直播</span>
								</span>
								<!-- 标签列表结束 -->
								<a href="#" class="courseDesc">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/cpic1.gif" alt="" class="cDescImg">
									<!-- hover时候显示的教师信息开始 -->
									<div class="hoverDesc">
										<div class="innerDesc">
											<!-- 教师图像和简介开始 -->
											<div class="cf teacherWrap">
												<img src="{$static_url}{$static_version}/images/studentHomePage/course/teacher-pic.gif" alt="贺加贝" class="fl">
												<!-- 教师姓名和教龄开始 -->
												<span class="fl teacherName" >
													<strong>
														贺加贝1
													</strong>
													<span>
														10年教龄
													</span>
												</span>
												<!-- 教师姓名和教龄结束 -->
											</div>
											<!-- 教师图像和简介结束 -->
											<!-- 教师介绍开始 -->
											<p class="teacherDesc" href="#">
												80后，麻辣女教师<br/>
												8年教龄，曾在学而思等知名机构任教<br/>
												她认真负责、教学严谨，曾获“魅力教师”称号<br/>
												她重点大学英语专业，拥有多年一线教学经验<br/>
												她所教学生多混迹北京，有人大附清华附也有四中八中<br/>
												有人大附清华附也有四中八中
											</p>
											<!-- 教师介绍结束 -->
										</div>
									</div>
									<!-- hover时候显示的教师信息结束 -->
								</a>
								
								<!-- 课程标题和简介开始 -->
								<h3 class="ctitle">
									<a href="#">
										<span class="cTitleName">谁不忆故人——唐诗中思念故人的诗歌鉴赏</span>
										<span class="cTitleDesc">本课程拟围绕“忆故人”这一主题，带领学生领略唐诗
			之美。</span>
									</a>
								</h3>
								<!-- 课程标题和简介结束 -->
								<!-- 课程价格开始 -->
								<p class="cDetail">
									<span class="price">￥<strong>258</strong></span>
									<span class="cVal">价值<span>￥500</span>
									</span>
									<a href="#" class="cRedBtn learnBtn">马上学习</a>
								</p>
								<!-- 课程价格结束 -->
								<div class="cf cBottom">
									<span class="fl">09月18日<span class="time">10:00</span></span>
									<span class="fr">
										<strong>438</strong>人已学习
									</span>
								</div>
							</div>
							<!-- 单个课程信息结束 -->
							{/for}
						</div>
						<!-- 全部课程分页开始 -->
						<div class="pager">
							全部课程分页
						</div>
						<!-- 全部课程分页结束 -->
					</div>
					<!-- 全部课程结束 -->
					<!-- 小学课程开始 -->
					<div class="cf item" itemname="cl_primary_list">
						<div class="cf">
							{for $i=0 to 5}
							<!-- 单个课程信息开始 -->
							<div class="cItem">
								<!-- 标签列表开始 -->
								<span class="markList">
									<span class="mark greenMark">限时抢购</span>
									<span class="mark blueMark">正在直播</span>
								</span>
								<!-- 标签列表结束 -->
								<a href="#" class="courseDesc">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/cpic1.gif" alt="" class="cDescImg">

								</a>
								<!-- hover时候显示的教师信息开始 -->
								<div class="hoverDesc">
									<div class="innerDesc">
										<!-- 教师图像和简介开始 -->
										<div class="cf teacherWrap">
											<a href="#" class="fl">
												<img src="{$static_url}{$static_version}/images/studentHomePage/course/teacher-pic.gif" alt="贺加贝">
											</a>
											<!-- 教师姓名和教龄开始 -->
											<a class="fl teacherName" href="#">
												<strong>
													贺加贝2
												</strong>
												<span>
													10年教龄
												</span>
											</a>
											<!-- 教师姓名和教龄结束 -->
										</div>
										<!-- 教师图像和简介结束 -->
										<!-- 教师介绍开始 -->
										<a class="teacherDesc" href="#">
											80后，麻辣女教师<br/>
											8年教龄，曾在学而思等知名机构任教<br/>
											她认真负责、教学严谨，曾获“魅力教师”称号<br/>
											她重点大学英语专业，拥有多年一线教学经验<br/>
											她所教学生多混迹北京，有人大附清华附也有四中八中<br/>
											有人大附清华附也有四中八中
										</a>
										<!-- 教师介绍结束 -->
									</div>
								</div>
								<!-- hover时候显示的教师信息结束 -->
								<!-- 课程标题和简介开始 -->
								<h3 class="ctitle">
									<a href="#">
										<span class="cTitleName">谁不忆故人——唐诗中思念故人的诗歌鉴赏</span>
										<span class="cTitleDesc">本课程拟围绕“忆故人”这一主题，带领学生领略唐诗
			之美。</span>
									</a>
								</h3>
								<!-- 课程标题和简介结束 -->
								<!-- 课程价格开始 -->
								<p class="cDetail">
									<span class="price">￥<strong>258</strong></span>
									<span class="cVal">价值<span>￥500</span>
									</span>
									<a href="#" class="cRedBtn learnBtn">马上学习</a>
								</p>
								<!-- 课程价格结束 -->
								<div class="cf cBottom">
									<span class="fl">09月18日<span class="time">10:00</span></span>
									<span class="fr">
										<strong>438</strong>人已学习
									</span>
								</div>
							</div>
							<!-- 单个课程信息结束 -->
							{/for}
						</div>
						<!-- 小学课程分页开始 -->
						<div class="pager">
							小学课程分页
						</div>
						<!-- 小学课程分页结束 -->
					</div>
					<!-- 小学课程结束 -->
					<!-- 初中课程开始 -->
					<div class="cf item" itemname="cl_middle_list">
						<div class="cf">
							{for $i=0 to 5  }
							<!-- 单个课程信息开始 -->
							<div class="cItem">
								<!-- 标签列表开始 -->
								<span class="markList">
									<span class="mark greenMark">限时抢购</span>
									<span class="mark blueMark">正在直播</span>
								</span>
								<!-- 标签列表结束 -->
								<a href="#" class="courseDesc">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/cpic1.gif" alt="" class="cDescImg">
								</a>
								<!-- hover时候显示的教师信息开始 -->
								<div class="hoverDesc">
									<div class="innerDesc">
										<!-- 教师图像和简介开始 -->
										<div class="cf teacherWrap">
											<a href="#" class="fl">
												<img src="{$static_url}{$static_version}/images/studentHomePage/course/teacher-pic.gif" alt="贺加贝">
											</a>
											<!-- 教师姓名和教龄开始 -->
											<a class="fl teacherName" href="#">
												<strong>
													贺加贝3
												</strong>
												<span>
													10年教龄
												</span>
											</a>
											<!-- 教师姓名和教龄结束 -->
										</div>
										<!-- 教师图像和简介结束 -->
										<!-- 教师介绍开始 -->
										<a class="teacherDesc" href="#">
											80后，麻辣女教师<br/>
											8年教龄，曾在学而思等知名机构任教<br/>
											她认真负责、教学严谨，曾获“魅力教师”称号<br/>
											她重点大学英语专业，拥有多年一线教学经验<br/>
											她所教学生多混迹北京，有人大附清华附也有四中八中<br/>
											有人大附清华附也有四中八中
										</a>
										<!-- 教师介绍结束 -->
									</div>
								</div>
								<!-- hover时候显示的教师信息结束 -->
								<!-- 课程标题和简介开始 -->
								<h3 class="ctitle">
									<a href="#">
										<span class="cTitleName">谁不忆故人——唐诗中思念故人的诗歌鉴赏</span>
										<span class="cTitleDesc">本课程拟围绕“忆故人”这一主题，带领学生领略唐诗
			之美。</span>
									</a>
								</h3>
								<!-- 课程标题和简介结束 -->
								<!-- 课程价格开始 -->
								<p class="cDetail">
									<span class="price">￥<strong>258</strong></span>
									<span class="cVal">价值<span>￥500</span>
									</span>
									<a href="#" class="cRedBtn learnBtn">马上学习</a>
								</p>
								<!-- 课程价格结束 -->
								<div class="cf cBottom">
									<span class="fl">09月18日<span class="time">10:00</span></span>
									<span class="fr">
										<strong>438</strong>人已学习
									</span>
								</div>
							</div>
							<!-- 单个课程信息结束 -->
							{/for}
						</div>
						<!-- 初中课程分页开始 -->
						<div class="pager">
							初中课程分页
						</div>
						<!-- 初中课程分页结束 -->
					</div>
					<!-- 初中课程结束 -->
					<!-- 高中课程开始 -->
					<div class="cf item" itemname="cl_high_list">
						<div class="cf">
							{for $i=0 to 5  }
							<!-- 单个课程信息开始 -->
							<div class="cItem">
								<!-- 标签列表开始 -->
								<span class="markList">
									<span class="mark greenMark">限时抢购</span>
									<span class="mark blueMark">正在直播</span>
								</span>
								<!-- 标签列表结束 -->
								<a href="#" class="courseDesc">
									<img src="{$static_url}{$static_version}/images/studentHomePage/course/cpic1.gif" alt="" class="cDescImg">
								</a>
								<!-- hover时候显示的教师信息开始 -->
								<div class="hoverDesc">
									<div class="innerDesc">
										<!-- 教师图像和简介开始 -->
										<div class="cf teacherWrap">
											<a href="#" class="fl">
												<img src="{$static_url}{$static_version}/images/studentHomePage/course/teacher-pic.gif" alt="贺加贝">
											</a>
											<!-- 教师姓名和教龄开始 -->
											<a class="fl teacherName" href="#">
												<strong>
													贺加贝4
												</strong>
												<span>
													10年教龄
												</span>
											</a>
											<!-- 教师姓名和教龄结束 -->
										</div>
										<!-- 教师图像和简介结束 -->
										<!-- 教师介绍开始 -->
										<a class="teacherDesc" href="#">
											80后，麻辣女教师<br/>
											8年教龄，曾在学而思等知名机构任教<br/>
											她认真负责、教学严谨，曾获“魅力教师”称号<br/>
											她重点大学英语专业，拥有多年一线教学经验<br/>
											她所教学生多混迹北京，有人大附清华附也有四中八中<br/>
											有人大附清华附也有四中八中
										</a>
										<!-- 教师介绍结束 -->
									</div>
								</div>
								<!-- hover时候显示的教师信息结束 -->
								<!-- 课程标题和简介开始 -->
								<h3 class="ctitle">
									<a href="#">
										<span class="cTitleName">谁不忆故人——唐诗中思念故人的诗歌鉴赏</span>
										<span class="cTitleDesc">本课程拟围绕“忆故人”这一主题，带领学生领略唐诗
			之美。</span>
									</a>
								</h3>
								<!-- 课程标题和简介结束 -->
								<!-- 课程价格开始 -->
								<p class="cDetail">
									<span class="price">￥<strong>258</strong></span>
									<span class="cVal">价值<span>￥500</span>
									</span>
									<a href="#" class="cRedBtn learnBtn">马上学习</a>
								</p>
								<!-- 课程价格结束 -->
								<div class="cf cBottom">
									<span class="fl">09月18日<span class="time">10:00</span></span>
									<span class="fr">
										<strong>438</strong>人已学习
									</span>
								</div>
							</div>
							<!-- 单个课程信息结束 -->
							{/for}
						</div>
						<!-- 高中课程分页开始 -->
						<div class="pager">
							高中课程分页
						</div>
						<!-- 高中课程分页结束 -->
					</div>
					<!-- 高中课程结束 -->
				</div>
				
			</div>
		</div>
			<!-- 课程列表结束 -->
			<!-- 学员风采开始 -->
			<div class="stuListWrap">
				<!-- 学员风采header开始 -->
				<div class="cf tHeader">
					<h2 class="fl stusTitle">学员风采</h2>
				</div>
				<!-- 学员风采header结束 -->
				<!-- 学员风采内容开始 -->
				<div class="stuListCont bannerScroll">
					<div class="stuListView bannerView">
						<div class="innerWrap stuListInner">
							<ul class="cf stuList">
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/1.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/2.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/3.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/4.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/5.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/6.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/7.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/8.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/9.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/10.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/11.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/12.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/13.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/14.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/15.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/16.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/17.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
								<li class="bItem">
									<img src="{$static_url}{$static_version}/images/studentHomePage/stus/18.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
								</li>
							</ul>
						</div>
					</div>
					<!-- 左右切换开始 -->
					<a class="bannerSlide next" href="javascript:void(0)"></a>
					<a class="bannerSlide prev" href="javascript:void(0)"></a>
					<!-- 左右切换结束 -->
				</div>
				<!-- 学员风采内容结束 -->
			</div>
			<!-- 学员风采结束 -->
			<!-- 媒体报道开始 -->
			<div class="mediaListWrap">
				<!-- 媒体报道头部开始 -->
				<div class="cf tHeader">
					<h2 class="fl mediaTitle">媒体报道</h2>
				</div>
				<!-- 媒体报道头部结束 -->
				<div class="mediaCont bannerScroll">
					<div class="mediaListView bannerView">
						<div class="innerWrap mediaListInner">
							<ul class="mediaList">
								{for $i=0 to 0}
								<li class="bItem">
									<a href="#" title="cctv">
										<img src="{$static_url}{$static_version}/images/studentHomePage/media/md1.gif" alt="cctv">
									</a>
								</li>
								<li class="bItem">
									<a href="#" title="创业邦">
										<img src="{$static_url}{$static_version}/images/studentHomePage/media/md2.gif" alt="创业邦">
									</a>
								</li>
								<li class="bItem">
									<a href="#" title="搜狐">
										<img src="{$static_url}{$static_version}/images/studentHomePage/media/md3.gif" alt="搜狐">
									</a>
								</li>
								<li class="bItem">
									<a href="#" title="腾讯网">
										<img src="{$static_url}{$static_version}/images/studentHomePage/media/md4.gif" alt="腾讯网">
									</a>
								</li>
								<li class="bItem">
									<a href="#" title="凤凰网">
										<img src="{$static_url}{$static_version}/images/studentHomePage/media/md5.gif" alt="凤凰网">
									</a>
								</li>
								{/for}
							</ul>
						</div>
					</div>
					
					<!-- 左右切换开始 -->
					<a class="bannerSlide next" href="javascript:void(0)"></a>
					<a class="bannerSlide prev" href="javascript:void(0)"></a>
					<!-- 左右切换结束 -->
				</div>
			</div>
			<!-- 媒体报道结束 -->
	</div>
	<!-- 左侧内容区结束 -->
	<!-- 右侧边栏开始 -->
	<div class="cf fr rSlide">
		<!-- 登录框开始 -->
		<div class="loginWrap">
			<h4 class="loginTitle">快速注册,免费送学习诊断</h4>
			<!--错误提示开始-->
			<div class="msgTip" id="span_warning">
				
			</div>
			<!-- 错误提示结束 -->
			<div class="inputWrap">
				<input type="text" placeholder="邮箱，可用邮箱直接登录" id="email">
			</div>
			<div class="inputWrap">
				<input type="password" placeholder="密码" id="password">
			</div>
			<div class="inputWrap">
				<input type="text" placeholder="手机号(方便对您个性化诊断)" id="phone">
			</div>
			<div class="hasNophone">
				<a href="#">没有手机，请点击这里！</a>
			</div>
			<div>
				<input type="button" value="免费注册，立即获得诊断" class="cRedBtn loginBtn" id="register_button">
			</div>
		</div>
		<!-- 登录框结束 -->
		<!-- 登录之后的状态开始 -->
		<div class="cf loginedWrap">
			<div class="cf userInfo">
				<!-- 用户图像开始 -->
				<a href="#" title="李天一" class="fl">
					<img src="{$static_url}{$static_version}/images/studentHomePage/user-img.gif" alt="李天一" class="UserImg">
				</a>
				<!-- 用户图像结束 -->
				<span class="fl userDesc">
					<!-- 姓名开始 -->
					<a class="name" href="#" title="李天一">李天一</a>
					<!-- 姓名结束 -->
					<!-- 年级开始 -->
					<a class="grade" href="#">初三</a>
					<!-- 年级结束 -->
				</span>
			</div>
			<ul class="cf myCtrlList">
				<li class="fl myCourses">
					<a href="#" title="我的课程">
						<span class="icon"></span>
						我的课程
					</a>
				</li>
				<li class="fl myOrder">
					<a href="#" title="我的订单">
						<span class="icon"></span>
						我的订单
					</a>
				</li>
				<li class="fl myInfo">
					<a href="#" title="我的资料">
						<span class="icon"></span>
						我的资料
					</a>
				</li>
			</ul>
			<a href="#" class="cRedBtn enterMyCenter">进入个人中心</a>
			<a href="#" class="fr loginOut">退出</a>
		</div>
		<!-- 登录之后的状态结束 -->
		<!-- 服务保障开始 -->
		<div class="assuranceWrap">
			<div class="tHeader">
				服务保障
			</div>
			<ul class="cf bd contList">
				<li>
					<a href="#">
						<img src="{$static_url}{$static_version}/images/studentHomePage/server1.gif" alt="">
						<span class="serverName">专业师资</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{$static_url}{$static_version}/images/studentHomePage/server2.gif" alt="">
						<span class="serverName">互动直播</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{$static_url}{$static_version}/images/studentHomePage/server3.gif" alt="">
						<span class="serverName">免费试听</span>
					</a>
				</li>
				<li>
					<a href="#">
						<img src="{$static_url}{$static_version}/images/studentHomePage/server4.gif" alt="">
						<span class="serverName">随时退款</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- 服务保障结束 -->
		<!-- 关于我们开始 -->
		<div class="aboutUsWrap">
			<div class="tHeader">
				关于我们
			</div>
			<ul class="ourList">
				<li class="cf">
					<a href="http://weibo.com/gonghaiyan" target="_blank" class="fl picWrap">
						<img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/ghy.gif" alt="小龙女龚海燕">
					</a>
					<div class="text fr">
						<h3>
							<a href="http://weibo.com/gonghaiyan" target="_blank" class="sv">
								小龙女龚海燕
							</a>
						</h3>
						<p class="cf bottom">
							<a href="http://weibo.com/gonghaiyan" target="_blank" class="attention fl">
								<span>
									<em class="addicon">+</em>
									关注
								</span>
							</a>
							<a href="http://v.youku.com/v_show/id_XNjQxMzcyMTE2.html" class="dream fl" target="_blank">
								<span>
									追梦人
								</span>
							</a>
						</p>
					</div>
				</li>
				<li class="cf">
					<a href="http://weibo.com/xuxiaoping" target="_blank" class="fl picWrap">
						<img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/xxp.gif" alt="徐小平老师">
					</a>
					<div class="text fr">
						<h3>
							<a href="http://weibo.com/xuxiaoping" target="_blank">
								徐小平老师
							</a>
						</h3>
						<p class="cf">
							天使投资
						</p>
					</div>
				</li>
				<li class="cf">
					<span class="fl picWrap">
						<img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/bdjy.gif" alt="北京大学教育学院战略合作">
					</span>
					<div class="text fr">
						<h3>
							<span>
								北京大学教育学院<br>战略合作
							</span>
						</h3>
					</div>
				</li>
			</ul>
		</div>
		<!-- 关于我们结束 -->
		<!-- 广告列表开始 -->
		<div class="adListWrap">
			<div class="adItem">
				<img src="{$static_url}{$static_version}/images/studentHomePage/ad/advertise1.gif" alt="">
			</div>
		</div>
		<!-- 广告列表结束 -->
		<!-- 浏览记录开始 -->
		<div class="historyWrap">
			<div class="historyListWrap">
				<!-- 浏览记录的头部开始 -->
				<div class="hd hHeader">
					最近浏览
					<a href="#" class="fr deletHistory">清空</a>
				</div>
				<!-- 浏览记录的头部结束 -->
				<!-- 无浏览记录开始 -->
				<div class="noHistory">
					暂无浏览记录
				</div>
				<!-- 无浏览记录结束 -->
				<!-- 有浏览记录开始 -->
				<div class="bd historyList">
					<!-- 单条浏览记录开始 -->
					<a class="cf hItem" href="#">
						<img class="hPic" src="{$static_url}{$static_version}/images/studentHomePage/history/history1.png" alt="" class="fl">
						<span class="fr hDesc">
							<span class="hSmallTitle">针对高考，重新建
	立语文的学习...</span>
							<span class="valList">
								<strong class="price">￥128</strong>
								<span class="val">2000</span>
							</span>
						</span>
					</a>
					<!-- 单条浏览记录结束 -->
					<!-- 单条浏览记录开始 -->
					<a class="cf hItem" href="#">
						<img class="hPic" src="{$static_url}{$static_version}/images/studentHomePage/history/history1.png" alt="" class="fl">

						<span class="fr hDesc">
							<span class="hSmallTitle">针对高考，重新建
	立语文的学习...</span>
							<span class="valList">
								<strong class="price">￥128</strong>
								<span class="val">2000</span>
							</span>
						</span>
					</a>
					<!-- 单条浏览记录结束 -->
				</div>
			</div>
		</div>
		<!-- 浏览记录结束 -->
	</div>
	<!-- 右侧边栏结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
<!-- 悬浮框开始 -->
<div class="floatBox">
	<a href="javascript:void(0);" class="returnTop">返回顶部</a>
	<!-- <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwOTkzNF8xNjEzODlfNDAwODY0ODY4Nl8yXw" target="_blank" class="ansQue">咨询答疑</a>
	<a href="http://diaocha.tizi.com/survey/41" class="courSurvey" target="_blank">开课调查</a> -->
	<a href="javascript:void(0);" class="weixinCode"></a>
	<a href="javascript:void(0);" class="feedback">意见反馈</a>
	
</div>
<!-- 悬浮框结束 -->
<!--意见反馈 开始-->
<div class="feedbackHtml undis">
	<div class="feedback">
		<h2>意见反馈</h2>
		<form action="{$student_url}index/feedback" class="feedbackForm" method="post">
			<ul>
				<li class="cf posr">
					<p class="fbText">如果您对我们的产品服务想提出意见或建议，或使用中遇到问题，可以在这里自由吐槽</p>
					<div class="cf">
						<textarea name="content" class="fTextarea fl ctextarea" validName="textarea"></textarea>
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="posr">
					<p class="formName">您的称呼</p>
					<div class="cf">
						<input type="text" placeholder="请输入您的称呼，以便我们和您联系" name="nickname" class="fname fl cInput" validName="text">
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li class="cf posr">
					<p class="formName">您的邮箱</p>
					<div class="cf">
						<input type="text" placeholder="请输入您的邮箱，以便尽快为您解决问题" name="email" class="fEmail fl cInput" validName="text">
						<span class="Validform_checktip fl"></span>
					</div>
				</li>
				<li>
					<input type="submit" class="noShowBtn redBtn submit" value="提交">
				</li>
			</ul>
		</form>
	</div>
</div>
<!--意见反馈 结束-->
</body>
</html>
