<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>那好在线课堂官网_网络课堂_网络课程_家教在线-那好网</title>
    <meta name="keywords" content="那好网,网络课堂,网络课程,在线课堂"/>
    <meta name="description"
          content="那好网荟萃全国名师，为教师提供实现自己教育梦想的在线课堂平台。致力于搭建最好的在线课堂网站，打造那好网络课堂，提供精品网络课程，为学生提供方便、高效，愉悦的网络学习体验。"/>
    <link rel="stylesheet" type="text/css" href="{static_url('/css/studentHomePage/style.css')}"/>
    <!-- 加载头部公共变量定义开始 -->
    {include file="www/include/var.htm"}
    <!-- 加载头部公共变量定义结束 -->
</head>
<body class="navHomepage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="cf wrap layout studentHomePage" id="nahaoModule" module="studentHomePage" data_page="studentPage">

<!-- 左侧内容区开始 -->
<div class="fl content cf">
    <!-- banner轮播开始 -->
        {include file="www/studentHomePage/focus_photo.html"}
    <!-- banner轮播结束 -->
    <!-- 进行中的直播课开始 -->
        {include file="www/studentHomePage/live_show.html"}
    <!-- 进行中的直播课结束 -->

<!-- 课程列表开始 -->
<div class="cListWrap list_tabs">
    <!-- 课程列表的头部tab开始 -->
    <div class="cf chTitle">
        <ul class="cf fl tabList ">
            <li class="tabItem firstTab active" link="cl_all_list">
                <a href="/">
                    全部课程
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem" link="cl_primary_list">
                <a href="/?stage=1">
                    小学
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem" link="cl_middle_list">
                <a href="/?stage=2">
                    初中
                    <span class="bBr"></span>
                </a>
            </li>
            <li class="tabItem" link="cl_high_list">
                <a href="/?stage=3">
                    高中
                    <span class="bBr"></span>
                </a>
                <span class="bottomBr"></span>
            </li>
        </ul>
        <a href="#" class="fr moreLink">更多</a>
    </div>
    <!-- 课程列表的头部tab结束 -->
    <!-- 课程列表开始 -->
    <div class="cf listCont">
        <!-- 的tab内容区开始 -->
        <div class="cf tabContent">
            <!-- 全部课程开始 -->
            <div class="cf item active" itemname="cl_all_list"><!-- cl_primary_list cl_middle_list cl_high_list-->
                <div class="cf">
                    {foreach $round_list as $v}
                    <!-- 单个课程信息开始 -->
                    <div class="cItem">
                        <!-- 标签列表开始 -->
								<span class="markList">
                                    {if $v.start_time gt $today_begin_time && $v.start_time lt $today_end_time}
									    <span class="mark mark3">今日新课</span>
                                    {elseif $v.start_time lt $today_begin_time+5*86400}
									    <span class="mark mark3">限时抢购</span>
                                    {/if}

									<span class="mark mark7">{$v.course_type}</span>
									<span class="mark mark8">{$v.material_version}</span>
								</span>
                        <!-- 标签列表结束 -->
                        <a href="/ke_{$v.id}.html" class="courseDesc">
                            <img src="{if empty($v.img)}{static_url($smarty.const.HOME_IMG_DEFAULT)}{else}{get_course_img_by_size($v.img,'index')}{/if}" alt="123" class="cDescImg">
                            <!-- hover时候显示的教师信息开始 -->
                            <div class="hoverDesc">
                                <div class="innerDesc">
                                    <!-- 教师图像和简介开始 -->
                                    <div class="cf teacherWrap">
                                        <img src="{$v.avatar}"
                                             alt="{$v.nickname}" class="fl">
                                        <!-- 教师姓名和教龄开始 -->
												<span class="fl teacherName">
													<strong>{$v.nickname}</strong>
													<span>
														{$v.teacher_age}年教龄
													</span>
												</span>
                                        <!-- 教师姓名和教龄结束 -->
                                    </div>
                                    <!-- 教师图像和简介结束 -->
                                    <!-- 教师介绍开始 -->
                                    <p class="teacherDesc" href="#">{$v.teacher_intro}</p>
                                    <!-- 教师介绍结束 -->
                                </div>
                            </div>
                            <!-- hover时候显示的教师信息结束 -->
                        </a>

                        <!-- 课程标题和简介开始 -->
                        <h3 class="ctitle">
                            <a href="/ke_{$v.id}.html">
                                <span class="cTitleName">{$v.title}</span>
								<span class="cTitleDesc">{$v.subtitle}</span>
                            </a>
                        </h3>
                        <!-- 课程标题和简介结束 -->
                        <!-- 课程价格开始 -->
                        <p class="cDetail">
                            <span class="price">￥<strong>{$v.sale_price}</strong></span>
									<span class="cVal">价值<span>￥{$v.price}</span>
									</span>
                            <a href="/ke_{$v.id}.html" class="cRedBtn learnBtn">马上学习</a>
                        </p>
                        <!-- 课程价格结束 -->
                        <div class="cf cBottom">
                            <span class="fl">{date('m月d日',$v.start_time)}<span class="time">{date('H:i',$v.start_time)}</span></span>
									<span class="fr">
										<strong>{$v.bought_count+$v.extra_bought_count}</strong>人已学习
									</span>
                        </div>
                    </div>
                    <!-- 单个课程信息结束 -->
                    {/foreach}
                </div>
                <!-- 全部课程分页开始 -->
                <div class="pager">
                    {$page}
                </div>
                <!-- 全部课程分页结束 -->
            </div>
            <!-- 全部课程结束 -->
        </div>
    </div>
</div>
<!-- 课程列表结束 -->
<!-- 学员风采开始 -->
<div class="stuListWrap">
    <!-- 学员风采header开始 -->
    <div class="cf tHeader">
        <h2 class="fl stusTitle">学员风采</h2>
    </div>
    <!-- 学员风采header结束 -->
    <!-- 学员风采内容开始 -->
    <div class="stuListCont bannerScroll">
        <div class="stuListView bannerView">
            <div class="innerWrap stuListInner">
                <ul class="cf stuList">
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/1.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/2.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/3.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/4.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/5.png" alt="杨同学">
									<span class="stuName">
										杨同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/6.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/7.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/8.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/9.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/10.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/11.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/12.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/13.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/14.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/15.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/16.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/17.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                    <li class="bItem">
                        <img src="{$static_url}{$static_version}/images/studentHomePage/stus/18.png" alt="张同学">
									<span class="stuName">
										张同学
									</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左右切换开始 -->
        <a class="bannerSlide next" href="javascript:void(0)"></a>
        <a class="bannerSlide prev" href="javascript:void(0)"></a>
        <!-- 左右切换结束 -->
    </div>
    <!-- 学员风采内容结束 -->
</div>
<!-- 学员风采结束 -->
<!-- 媒体报道开始 -->
<div class="mediaListWrap">
    <!-- 媒体报道头部开始 -->
    <div class="cf tHeader">
        <h2 class="fl mediaTitle">媒体报道</h2>
    </div>
    <!-- 媒体报道头部结束 -->
    <div class="mediaCont bannerScroll">
        <div class="mediaListView bannerView">
            <div class="innerWrap mediaListInner">
                <ul class="mediaList">
                    {for $i=0 to 0}
                    <li class="bItem">
                        <a href="#" title="cctv">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md1.gif" alt="cctv">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="创业邦">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md2.gif" alt="创业邦">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="搜狐">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md3.gif" alt="搜狐">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="腾讯网">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md4.gif" alt="腾讯网">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="凤凰网">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md5.gif" alt="凤凰网">
                        </a>
                    </li>
                    {/for}
                </ul>
            </div>
        </div>

        <!-- 左右切换开始 -->
        <a class="bannerSlide next" href="javascript:void(0)"></a>
        <a class="bannerSlide prev" href="javascript:void(0)"></a>
        <!-- 左右切换结束 -->
    </div>
</div>
<!-- 媒体报道结束 -->
</div>
<!-- 左侧内容区结束 -->
<!-- 右侧边栏开始 -->
<div class="cf fr rSlide">
{include file='www/studentHomePage/right_login.html'}
<!-- 服务保障开始 -->
<div class="assuranceWrap">
    <div class="tHeader">
        服务保障
    </div>
    <ul class="cf bd contList">
        <li>
            <a href="#">
                <img src="{$static_url}{$static_version}/images/studentHomePage/server1.gif" alt="">
                <span class="serverName">专业师资</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{$static_url}{$static_version}/images/studentHomePage/server2.gif" alt="">
                <span class="serverName">互动直播</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{$static_url}{$static_version}/images/studentHomePage/server3.gif" alt="">
                <span class="serverName">免费试听</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{$static_url}{$static_version}/images/studentHomePage/server4.gif" alt="">
                <span class="serverName">随时退款</span>
            </a>
        </li>
    </ul>
</div>
<!-- 服务保障结束 -->
<!-- 关于我们开始 -->
<div class="aboutUsWrap">
    <div class="tHeader">
        关于我们
    </div>
    <ul class="ourList">
        <li class="cf">
            <a href="http://weibo.com/gonghaiyan" target="_blank" class="fl picWrap">
                <img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/ghy.gif" alt="小龙女龚海燕">
            </a>
            <div class="text fr">
                <h3>
                    <a href="http://weibo.com/gonghaiyan" target="_blank" class="sv">
                        小龙女龚海燕
                    </a>
                </h3>

                <p class="cf bottom">
                    <a href="http://weibo.com/gonghaiyan" target="_blank" class="attention fl">
								<span>
									<em class="addicon">+</em>
									关注
								</span>
                    </a>
                    <a href="http://v.youku.com/v_show/id_XNjQxMzcyMTE2.html" class="dream fl" target="_blank">
								<span>
									追梦人
								</span>
                    </a>
                </p>
            </div>
        </li>
        <li class="cf">
            <a href="http://weibo.com/xuxiaoping" target="_blank" class="fl picWrap">
                <img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/xxp.gif" alt="徐小平老师">
            </a>

            <div class="text fr">
                <h3>
                    <a href="http://weibo.com/xuxiaoping" target="_blank">
                        徐小平老师
                    </a>
                </h3>

                <p class="cf">
                    天使投资
                </p>
            </div>
        </li>
        <li class="cf">
					<span class="fl picWrap">
						<img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/bdjy.gif"
                             alt="北京大学教育学院战略合作">
					</span>

            <div class="text fr">
                <h3>
							<span>
								北京大学教育学院<br>战略合作
							</span>
                </h3>
            </div>
        </li>
    </ul>
</div>
<!-- 关于我们结束 -->
<!-- 广告列表开始 -->
<div class="adListWrap">
    <div class="adItem">
        <img src="{$static_url}{$static_version}/images/studentHomePage/ad/advertise1.gif" alt="">
    </div>
</div>
<!-- 广告列表结束 -->
<!-- 浏览记录开始 -->
<div class="historyWrap">
    <div class="historyListWrap">
        <!-- 浏览记录的头部开始 -->
        <div class="hd hHeader">
            最近浏览
            <a href="#" class="fr deletHistory">清空</a>
        </div>
        <!-- 浏览记录的头部结束 -->
        <!-- 无浏览记录开始 -->
        <div class="noHistory">
            暂无浏览记录
        </div>
        <!-- 无浏览记录结束 -->
        <!-- 有浏览记录开始 -->
        <div class="bd historyList">
            <!-- 单条浏览记录开始 -->
            <a class="cf hItem" href="#">
                <img class="hPic" src="{$static_url}{$static_version}/images/studentHomePage/history/history1.png"
                     alt="" class="fl">
						<span class="fr hDesc">
							<span class="hSmallTitle">针对高考，重新建
	立语文的学习...</span>
							<span class="valList">
								<strong class="price">￥128</strong>
								<span class="val">2000</span>
							</span>
						</span>
            </a>
            <!-- 单条浏览记录结束 -->
            <!-- 单条浏览记录开始 -->
            <a class="cf hItem" href="#">
                <img class="hPic" src="{$static_url}{$static_version}/images/studentHomePage/history/history1.png"
                     alt="" class="fl">

						<span class="fr hDesc">
							<span class="hSmallTitle">针对高考，重新建
	立语文的学习...</span>
							<span class="valList">
								<strong class="price">￥128</strong>
								<span class="val">2000</span>
							</span>
						</span>
            </a>
            <!-- 单条浏览记录结束 -->
        </div>
    </div>
</div>
<!-- 浏览记录结束 -->
</div>
<!-- 右侧边栏结束 -->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
    <!-- 悬浮框开始 -->
        {include file='www/studentHomePage/float.html'}
    <!-- 悬浮框结束 -->
<!--意见反馈 开始-->
    {include file='www/studentHomePage/feedback.html'}
<!--意见反馈 结束-->
</body>
</html>
