<div class="cf liveLessonWrap bannerScroll">
    <!-- 直播课的header开始 -->
    <div class="hd cf liveLessHead">
        <h2 class="fl liveTitle">
            进行中的直播课
        </h2>
        <!-- 直播课的slide序列号开始 -->
        <ol class="cf fr bannerOrder">
        </ol>
        <!-- 直播课的slide序列号结束 -->
    </div>
    <!-- 直播课的header开始 -->
    <!-- 直播课的切换开始 -->
    <div class="liveViewWrap bannerView">
        <div class="bd innerWrap">
            <ul class="cf liveList">
                {for $i=0 to 3}
                <li class="bItem">
                    <div class="liveLess">
                        <a href="/course/go?cid=2">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic1.gif" alt=""
                                 class="liveClassImg">
                            <!-- 标签列表开始 -->
									<span class="markList">
										<span class="mark blueMark">正在直播</span>
									</span>
                            <!-- 标签列表结束 -->
                        </a>
                        <!-- 直播课的简介开始 -->
                        <a href="#">
                            <span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
                            <!-- 直播课时间开始 -->
                            <span>08月16日<span class="time">16:00-16:45</span></span>
                            <!-- 直播客时间结束 -->
                        </a>
                        <!-- 直播课的简介结束 -->
                    </div>
                </li>
                <li class="bItem">
                    <div class="liveLess">
                        <a href="#">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic2.gif" alt=""
                                 class="liveClassImg">
                            <!-- 标签列表开始 -->
									<span class="markList">
										<span class="mark greenMark">即将开始</span>
									</span>
                            <!-- 标签列表结束 -->
                        </a>
                        <!-- 直播课的简介开始 -->
                        <a href="#">
                            <span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
                            <!-- 直播课时间开始 -->
                            <span>08月16日<span class="time">16:00-16:45</span></span>
                            <!-- 直播客时间结束 -->
                        </a>
                        <!-- 直播课的简介结束 -->
                    </div>
                </li>
                <li class="bItem">
                    <div class="liveLess">
                        <a href="#">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/course/live-pic3.gif" alt=""
                                 class="liveClassImg">
                            <!-- 标签列表开始 -->
									<span class="markList">
										<!-- 单个标签开始 -->
										<span></span>
										<!-- 单个标签结束 -->
									</span>
                            <!-- 标签列表结束 -->
                        </a>
                        <!-- 直播课的简介开始 -->
                        <a href="#">
                            <span class="cTitle">辋川闲居赠裴秀才迪（王维）</span>
                            <!-- 直播课时间开始 -->
                            <span>08月16日<span class="time">16:00-16:45</span></span>
                            <!-- 直播客时间结束 -->
                        </a>
                        <!-- 直播课的简介结束 -->
                    </div>
                </li>
                {/for}
            </ul>
        </div>
    </div>
    <!-- 直播课的切换结束 -->
    <!-- 左右切换开始 -->
    <a class="bannerSlide next" href="javascript:void(0)"></a>
    <a class="bannerSlide prev" href="javascript:void(0)"></a>
    <!-- 左右切换结束 -->
</div>