<div class="cf liveLessonWrap bannerScroll">
    <!-- 直播课的header开始 -->
    <div class="hd cf liveLessHead">
        <h2 class="fl liveTitle">
            进行中的直播课
        </h2>
        <!-- 直播课的slide序列号开始 -->
        <ol class="cf fr bannerOrder">
        </ol>
        <!-- 直播课的slide序列号结束 -->
    </div>
    <!-- 直播课的header开始 -->
    <!-- 直播课的切换开始 -->
    <div class="liveViewWrap bannerView">
        <div class="bd innerWrap">
            <ul class="cf liveList">
                {foreach $live_list as $v}
                <li class="bItem">
                    <div class="liveLess">
                        <a href="/course/go?cid={$v.id}">
                            <img src="{if empty($v.img)}{static_url($smarty.const.HOME_IMG_DEFAULT)}{else}{get_course_img_by_size($v.img,'live')}{/if}" alt=""
                                 class="liveClassImg">
                            <!-- 标签列表开始 -->
									<span class="markList">
										<span class="mark mark1">正在直播</span>
									</span>
                            <!-- 标签列表结束 -->
                        </a>
                        <!-- 直播课的简介开始 -->
                        <a href="#">
                            <span class="cTitle">{$v.class_name}</span>
                            <!-- 直播课时间开始 -->
                            <span>{date('m月d日',$v.begin_time)}<span class="time">{date('H:i',$v.begin_time)}-{date('H:i',$v.end_time)}</span></span>
                            <!-- 直播客时间结束 -->
                        </a>
                        <!-- 直播课的简介结束 -->
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <!-- 直播课的切换结束 -->
    <!-- 左右切换开始 -->
    <a class="bannerSlide next" href="javascript:void(0)"></a>
    <a class="bannerSlide prev" href="javascript:void(0)"></a>
    <!-- 左右切换结束 -->
</div>