<div class="mediaListWrap">
    <!-- 媒体报道头部开始 -->
    <div class="cf tHeader">
        <h2 class="fl mediaTitle">媒体报道</h2>
    </div>
    <!-- 媒体报道头部结束 -->
    <div class="mediaCont bannerScroll">
        <div class="mediaListView bannerView">
            <div class="innerWrap mediaListInner">
                <ul class="mediaList">
                    {for $i=0 to 0}
                    <li class="bItem">
                        <a href="#" title="cctv">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md1.gif"
                                 alt="cctv">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="创业邦">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md2.gif"
                                 alt="创业邦">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="搜狐">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md3.gif" alt="搜狐">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="腾讯网">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md4.gif"
                                 alt="腾讯网">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="#" title="凤凰网">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/md5.gif"
                                 alt="凤凰网">
                        </a>
                    </li>
                    {/for}
                </ul>
            </div>
        </div>

        <!-- 左右切换开始 -->
        <a class="bannerSlide next" href="javascript:void(0)"></a>
        <a class="bannerSlide prev" href="javascript:void(0)"></a>
        <!-- 左右切换结束 -->
    </div>
</div>