<div class="mediaListWrap">
    <!-- 媒体报道头部开始 -->
    <div class="cf tHeader">
        <h2 class="fl mediaTitle">媒体报道</h2>
    </div>
    <!-- 媒体报道头部结束 -->
    <div class="mediaCont bannerScroll">
        <div class="mediaListView bannerView">
            <div class="innerWrap mediaListInner">
                <ul class="mediaList">
                    {for $i=0 to 0}
                    <li class="bItem">
                        <a href="http://tech.qq.com/a/20140714/050912.htm" title="腾讯网" target="_blank">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/txw.png"
                                 alt="腾讯网">
                        </a>
                    </li>
                    <li class="bItem" >
                        <a href="http://tech.sina.com.cn/i/2014-07-14/12369492693.shtml" title="新浪网" target="_blank">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/xlw.png"
                                 alt="新浪网">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="http://money.163.com/14/0715/15/A172V1HU002526O3_all.html" title="网易" target="_blank">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/wy.png" alt="网易">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="http://news.ifeng.com/a/20140724/41281090_0.shtml" title="凤凰网" target="_blank">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/fhw.png"
                                 alt="凤凰网">
                        </a>
                    </li>
                    <li class="bItem">
                        <a href="http://news.china.com.cn/rollnews/education/live/2014-07/17/content_27683744.htm" title="中国网" target="_blank">
                            <img src="{$static_url}{$static_version}/images/studentHomePage/media/zgw.gif"
                                 alt="中国网">
                        </a>
                    </li>
                    {/for}
                </ul>
            </div>
        </div>

        <!-- 左右切换开始 -->
        <a class="bannerSlide next" href="javascript:void(0)"></a>
        <a class="bannerSlide prev" href="javascript:void(0)"></a>
        <!-- 左右切换结束 -->
    </div>
</div>