<div class="aboutUsWrap">
    <div class="tHeader">
        关于我们
    </div>
    <ul class="ourList">
        <li class="cf">
            <a href="http://weibo.com/gonghaiyan" target="_blank" class="fl picWrap">
                <img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/ghy.gif"
                     alt="小龙女龚海燕">
            </a>

            <div class="text fr">
                <h3>
                    <a href="http://weibo.com/gonghaiyan" target="_blank" class="sv">
                        小龙女龚海燕
                    </a>
                </h3>

                <p class="cf bottom">
                    <a href="http://weibo.com/gonghaiyan" target="_blank" class="attention fl">
								<span>
									<em class="addicon">+</em>
									关注
								</span>
                    </a>
                    <a href="http://v.youku.com/v_show/id_XNjQxMzcyMTE2.html" class="dream fl" target="_blank">
								<span>
									追梦人
								</span>
                    </a>
                </p>
            </div>
        </li>
        <li class="cf">
            <a href="http://weibo.com/xuxiaoping" target="_blank" class="fl picWrap">
                <img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/xxp.gif"
                     alt="徐小平老师">
            </a>

            <div class="text fr">
                <h3>
                    <a href="http://weibo.com/xuxiaoping" target="_blank">
                        徐小平老师
                    </a>
                </h3>

                <p class="cf">
                    天使投资
                </p>
            </div>
        </li>
        <li class="cf">
					<span class="fl picWrap">
						<img class="aboutImg" src="{$static_url}{$static_version}/images/studentHomePage/bdjy.gif"
                             alt="北京大学教育学院战略合作">
					</span>

            <div class="text fr">
                <h3>
							<span>
								北京大学教育学院<br>战略合作
							</span>
                </h3>
            </div>
        </li>
    </ul>
</div>