<div class="assuranceWrap">
    <div class="tHeader">
        服务保障
    </div>
    <ul class="cf bd contList">
        <li>
            <img src="{$static_url}{$static_version}/images/studentHomePage/server1.gif" alt="">
            <span class="serverName">专业师资</span>
        </li>
        <li>
            <img src="{$static_url}{$static_version}/images/studentHomePage/server2.gif" alt="">
            <span class="serverName">互动直播</span>
        </li>
        <li>
            <img src="{$static_url}{$static_version}/images/studentHomePage/server3.gif" alt="">
            <span class="serverName">免费试听</span>
        </li>
        <li>
            <img src="{$static_url}{$static_version}/images/studentHomePage/server4.gif" alt="">
            <span class="serverName">随时退款</span>
        </li>
    </ul>
</div>