<div class="stuListWrap">
    <!-- 学员风采header开始 -->
    <div class="cf tHeader">
        <h2 class="fl stusTitle">学员风采</h2>
    </div>
    <!-- 学员风采header结束 -->
    <!-- 学员风采内容开始 -->
    <div class="stuListCont bannerScroll">
    <div class="stuListView bannerView">
        <div class="innerWrap stuListInner">
            <ul class="cf stuList">
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/1.png" alt="张同学">
					<span class="stuName">
						    杨同学
                    </span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/2.png" alt="张同学">
					<span class="stuName">
						张同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/3.jpg" alt="王同学">
					<span class="stuName">
						  李同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/4.jpg" alt="王同学">
					<span class="stuName">
						   朱同学
                    </span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/5.jpg" alt="王同学">
					<span class="stuName">
						王同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/6.png" alt="姜同学">
					<span class="stuName">
						姜同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/7.png" alt="何同学">
					<span class="stuName">
						何同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/8.png" alt="朱同学">
					<span class="stuName">
						朱同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/9.png" alt="赵同学">
					<span class="stuName">
						赵同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/10.png" alt="孙同学">
					<span class="stuName">
						孙同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/11.png" alt="张同学">
					<span class="stuName">
						张同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/12.png" alt="李同学">
					<span class="stuName">
						李同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/13.png" alt="陈同学">
					<span class="stuName">
						陈同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/14.png" alt="冯同学">
					<span class="stuName">
						冯同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/15.png" alt="吴同学">
					<span class="stuName">
						吴同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/16.png" alt="刘同学">
					<span class="stuName">
						刘同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/17.png" alt="张同学">
					<span class="stuName">
						张同学
					</span>
                    <span class="imgFilter"></span>
                </li>
                <li class="bItem">
                    <img src="{$static_url}{$static_version}/images/studentHomePage/stus/18.png" alt="马同学">
					<span class="stuName">
						马同学
					</span>
                    <span class="imgFilter"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左右切换开始 -->
    <a class="bannerSlide next" href="javascript:void(0)"></a>
    <a class="bannerSlide prev" href="javascript:void(0)"></a>
    <!-- 左右切换结束 -->
</div>
    <!-- 学员风采内容结束 -->
</div>