
{if $array_evaluate}
	<h3 id="review">学员评价</h3>
	<ul class="stuComments">                   		
	{foreach from=$array_evaluate item=item key=key}
		{if $key == 0}
		<li class="cf b_t_0">
		{else}
		<li class="cf ">
		{/if}
	   
		   <img src="{if empty($item.avatar)}{static_url($smarty.const.DEFAULT_STUDENT_AVATER,'avatar_s4')}{else}{get_img_url($item.avatar,'avatar_s4')}{/if}" alt="" class="fl">
		   <div class="fl revCon">
			   <div class="cf">
				   <h2 class="fl">
					   <strong>{$item.nickname}</strong>
				   </h2>
				   <div class="fr">
					   <span class="fl">综合评分：</span>
					   <span class="starBg fl">
				  {if $item.score}
			{section name=loops loop=$item.score}
				<span class="hreview"></span>
			{/section}
			{/if}
					   </span>
					   <span class="revTimt">{$item.create_time|date_format:'%Y-%m-%d %H:%M'}</span>
				   </div>
			   </div>
			   <p>{$item.content}</p>
		   </div>
	   </li>
	   {/foreach}                    		
	</ul>                      
	{$page}
{else}
	<h3 id="review">学员评价</h3>
	<div class="hasNoContent">快来参加第一堂课，把你的切身感受告诉你的朋友们，我们在这里等你来！</div>
{/if}

