<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>我的课程--购买前</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/studentMyCourse/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
<!--#include virtual="/include/var.htm"-->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body>
<!-- 头部开始 -->
<!--#include virtual="/include/header.htm"-->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout studentMyCourse" id="nahaoModule" module="studentMyCourse">
    <div class="buyCourse buyBefore">
        <!-- 购买前 头部 -->
        <div class="buyHead">
            <div class="buyHeadt">
                <h2>{$array_data.title|truncate:20:"...":true}</h2>
                <p>{$array_data.subtitle|truncate:66:"...":true}</p>
            </div>
            <div class="buyHeadf cf">
                <img src="{static_url($array_data.class_img)}" alt="" class="fl">
                <div class="fl startTime">
                    <div class="cf timeTitle">
                        <span class="fl">开课时间</span>
                        <span class="fr">{$array_data.class_nums}次／{$array_data.class_hour}课时</span>
                    </div>
                    <form action="" method="post" onsubmit="return false;" class="enlistForm">
                        <ul class="cf">
                        	{foreach from=$array_round item=item}
                            <li class="fl ctime {if $item.id == $array_data.id}ctimeOn{/if}">
                                <input type="hidden" name="round{$item.id}" value="{$item.id}">
                                {$item.start_time}-{$item.end_time}
                            </li>
                            {/foreach}
                            <li class="fl more">
                                <input type="hidden" name="">
                                更多班次敬请期待
                            </li>
                        </ul>
                        <div class="review cf">
                            <span class="starBg cf">
                                <span class="hreview"></span>
                                <span class="hreview"></span>
                                <span class="hreview"></span>
                            </span>
                            <strong class="redText">{$array_data.score}</strong>
                            <a href="#review">{$str_evaluate_count}条评价</a>
                        </div>
                        <p class="fromf">
							{if $array_data.sale_status == '2' || $array_data.sale_status == '3'}
							<a href="/pay/product/{$array_data.id}" class="fr btn btn3">
                                <span class="fl">立即报名</span>
                                <span class="fr"></span>
                            </a>
                            {elseif $array_data.sale_status == '4'}
                            <a href="" class="fr btn btn3">
                                <span class="fl">已售罄</span>
                                <span class="fr"></span>
                            </a>
                            {elseif $array_data.sale_status == '5'}
                            <a href="" class="fr btn btn3">
                                <span class="fl">已停售</span>
                                <span class="fr"></span>
                            </a>
                            {else if $array_data.sale_status == '5'}
                            <a href="" class="fr btn btn3">
                                <span class="fl">已下架</span>
                                <span class="fr"></span>
                            </a>
							{/if}
                            <strong class="fr">¥
                                <span class="redText">{$array_data.price|string_format:"%.0f"}</span>
                            </strong>
                        </p>
                    </form>
                </div>
                <div class="fr endTime">
                    <div class="timeTitle">报名截止剩余时间</div>
                    <div class="countdown">23 天   24 小时   56’59“</div>
                    <p class="cdp">仅剩 {$array_data.sold_out_count}名额即售罄</p>
                    <p class="prompt ensure">第二节课前可退全部学费</p>
                    <p class="prompt retreat">未上课次可随时退款</p>
                    <div class="share">分享</div>
                </div>
            </div>
        </div>
        <div class="cf">
            <!-- 购买前 左侧 -->
            <div class="buyLeft fl posr">
                <div class="slash"></div>
                <!-- 课程简介 -->
                <div class="introd cBox">
                    <p>{$array_data.intro|truncate:300:"...":true}</p>
                </div>
                <!-- 适合学生 -->
                <div class="fitStu cBox">
					{$array_data.intro|truncate:300:"...":true}
                </div>
                <!-- 课程大纲 -->
                <div class="outline cBox">
                {foreach from=$array_outline item=item}
                
                	<div class="outlineList">
                		{if $item.id > 1}
                        <h3>{$item.title}</h3>
                        {/if}
                        <ul>
	                        {foreach from=$item.son item=it}
		                       <li class="cf">
	                                <div class="fl line"></div>
	                                <div class="fr listb">
	                                    <p class="listh">{$it.title}</p>
	                                    <p class="listc">{$it.time}</p>
	                                </div>
	                            </li>
	                        {/foreach}
                        </ul>
                    </div>
                {/foreach}
                </div>
                <!-- 授课提要 -->
                <div class="summary cBox">
                    <p>{$array_data.description}</p>
                    <!-- <div class="editorBox"></div> -->
                </div>
                <!-- 课程评价 -->
                <div class="creview cBox">                    
                    <a name="review"></a>
                    <ul>
                    {foreach from=$array_evaluate item=item}
                        <li class="cf">
                            <img src="{static_url($item.avater)}" alt="" class="fl">
                            <div class="fr revCon">
                                <h2 class="fl">
                                    <strong>{$item.nickname}</strong>
                                    <span>{$item.teacher_signature}</span>
                                </h2>
                                <div class="fr">
                                    <span class="starBg">
                                        <span class="hreview"></span>
                                        <span class="hreview"></span>
                                        <span class="hreview"></span>
                                    </span>
                                    <span class="revTimt">{$item.create_time|date_format:'%Y-%m-%d %H:%M'}</span>
                                </div>
                                <p>{$item.content}</p>
                            </div>
                        </li>
                    {/foreach}
                    </ul>
                    <div class="fclick">
                        <div class="cf">
                            <span class="fr allReview">所有评论（共{$str_evaluate_count}条）</span>
                        </div>
                        <a href="" class="loadMore">本页最多显示最近的5条评论</a>
                        <a href="" class="btn redBtn applyBtn cf">
                            <span class="fl">
                                ¥
                                <strong>{$array_data.price|string_format:"%.0f"}</strong>
                            </span>
                            <span class="fr">
                                <span>购买课程</span>
                                <em>未上课次随时退款</em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 购买前 右侧 -->
            <div class="buyRight fr">
                <ul>
                {foreach from=$array_team item=item}
                    <li>
                        <div class="headBox posr">
                            <img src="{static_url($item.avater)}" alt="" class="head">
                            <div class="headR">
                                <div class="teaDetail">
                                    <span class="redText cMan">{$item.teacher_role}</span>
                                    <strong>{$item.nickname}</strong>
                                </div>
                                <p>{$item.teacher_signature}{$item.teacher_age}年</p>
                            </div>
                        </div>
                        <p class="teaIntrod">
							{$item.teacher_intro|truncate:300:"...":true}
                        </p>
                    </li>
				{/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
<!--#include virtual="/include/footer.htm"-->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
<!--#include virtual="/include/js.htm"-->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>
