{extends file='teacher/teacherOrderList/base.html'}

{block name=title}班次列表{/block}

{block name=container}
<!--班次列表开始-->
<div class="md_orderList">
    <div class="orderList_nav">
    	{if $data['teach_status_count']}
    		{foreach $data['teach_status_count'] as $val}
    			<span>{$val['status_name']}:<b class="fred">{$val['total']}</b></span>
    		{/foreach}
    	{/if}
    </div>
    <div class="orderList_search">
        <form action="{$teacher_url}/orderList/index/" mothed="get" onsubmit="">
            <ul>
                <li class="seachLi">
                    <select name="id" id="" class="fl">
                        <option value="">班级名次</option>
                        {if $data['ids']}
                        	{foreach $data['ids'] as $val}
                        		<option value="{$val['id']}" {if $data['query_param']['id']==$val['id']}selected{/if}>{$val['id']}</option>
                        	{/foreach}
                        {/if}
                    </select>
                </li>
                <li class="seachLi">
                    <input name="title" type="text" value="{$data['query_param']['title']}" placeholder="要搜索的班次名" class="textInput"/>
                </li>
                <li class="seachLi">
                    <select name="teach_status" id="" class="fl">
                        <option value="">课程状态</option>
                        {foreach $data['teach_status_list'] as $key=>$val}
                        	<option value="{if $key==0}-1{else}{$key}{/if}" {if $data['query_param']['teach_status']==$key}selected{/if}>{$val}</option>
                        {/foreach}
                    </select>
                </li>
                <li class="seachLi">
                    <select name="course_type" id="" class="fl">
                        <option value="">课程类型</option>
                        {foreach $data['course_type_list'] as $val}
                        	<option value="{$val['id']}" {if $data['query_param']['course_type']==$val['id']}selected{/if}>{$val['name']}</option>
                        {/foreach}
                    </select>
                </li>
                <li class="seachLi">
                   <input type="text" name="start_time" value="{$data['query_param']['start_time']|date_format:'%Y-%m-%d'}" placeholder="班次开始时间" class="textInput textTime startClassTime"/>
                </li>
                <li class="seachLi">
                    <input type="text" name="end_time" value="{$data['query_param']['end_time']|date_format:'%Y-%m-%d'}" placeholder="班次结束时间" class="textInput textTime endClassTime"/>
                </li>
                <li class="seachLi">
                    <input type="submit" value="搜索" class="lbutton"/>
                </li>
            </ul>
        </form>
    </div>
    <div class="md_bd">
        <table class="md_table">
            <tr>
                <th>班次ID</th>
                <th>班节名称</th>
                <th>上课时间</th>
                <th>课程进度</th>
                <th>科目</th>
                <th>类型</th>
                <th>授课状态</th>
                <th>课程平均分</th>
                <th>查看</th>
            </tr>
            {if $data['listArr']}
            	{foreach $data['listArr'] as $key=>$val}
            		<tr {if $val['teach_status']==0}class="start"{elseif $val['teach_status']==3}class="end"{/if}>
            			<td class="order_id">{$val['id']}</td>
		                <td class="order_name">
		                	{if $val['cur_class']}
			                	{if in_array($val['cur_class']['status'],$data['enter_classroom'])}
			                		<h3><a href="{$student_url}classroom/teacher_enter/{$val['cur_class']['classroom_id']}" title="{$val['cur_class']['title']}">{$val['cur_class']['title']}</a></h3>
			                	{else}
			                		<h3>{$val['cur_class']['title']}</h3>
			                	{/if}
			                {/if}
		                    <p>{$val['title']}</p>
		                </td>
		                <td class="class_date"><b>{$val['start_time']|date_format:'%Y-%m-%d'}</b>{$val['start_time']|date_format:'%H: %M: %S'}</td>
		                <td class="class_progress"><b class="fred">{$val['already_total']}</b>/{$val['total']}</td>
		                <td class="class_name">{$val['subject_name']}</td>
		                <td class="class_type">{$val['course_type_name']}</td>
		                <td class="class_statu">{$val['status_name']}</td>
		                <td class="class_score">{$val['course_score']}</td>
		                <td class="order_detail"><a href="/orderList/detail/{$val['id']}" target="_blank">详细信息</a></td>
            		</tr>
	        	{/foreach}
	        {else}
	        	<tr>
           			<td colspan="9" style="text-align:center;"><b>暂时没有您的课程</b></td>
           		</tr>
	        {/if}
        </table>
    </div>
    {$data['pageBar']}
</div>
<!--班次列表结束-->
{/block}
