{extends file='teacher/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--班次列表开始-->
<div class="md_orderList">
    <div class="orderList_nav">
        <span>班次数量:<b class="fred">8</b></span>
        <span>即将上课：<b class="fred">3</b></span>
        <span>已结课：<b class="fred">2</b></span>
        <span class="last">已停课：<b class="fred">1</b></span>
    </div>
    <div class="orderList_search">
        <form action="" mothed="post" onsubmit="return false">
            <ul>
                <li>
                    <select name="" id="" class="fl">
                        <option value="">班级名次</option>
                        <option value="1">五年级</option>
                    </select>
                </li>
                <li>
                    <input type="text" value="班次名卡技术规范阿三哥好还是称" placeholder="班次名卡技术规范阿三哥好还是称" class="textInput"/>
                </li>
                <li>
                    <select name="" id="" class="fl">
                        <option value="">课程状态</option>
                        <option value="1">五年级</option>
                    </select>
                </li>
                <li>
                    <select name="" id="" class="fl">
                        <option value="">课程类型</option>
                        <option value="1">五年级</option>
                    </select>
                </li>
                <li>
                    <select name="" id="" class="fl">
                        <option value="">上课时间</option>
                        <option value="1">五年级</option>
                    </select>
                </li>
                <li><em class="fred">-</em></li>
                <li>
                    <select name="" id="" class="fl">
                        <option value="">下课时间</option>
                        <option value="1">五年级</option>
                    </select>
                </li>
                <li>
                    <input type="submit" value="搜索" class="lbutton"/>
                </li>
            </ul>
        </form>
    </div>
    <div class="md_bd">
        <table class="md_table">
            <tr>
                <th>班次ID</th>
                <th>班节名称</th>
                <th>上课时间</th>
                <th>课程进度</th>
                <th>科目</th>
                <th>类型</th>
                <th>授课状态</th>
                <th>课程平均分</th>
                <th>查看</th>
            </tr>
            {if $data['listArr']}
            	{foreach $data['listArr'] as $key=>$val}
            		<tr>
            			<td class="order_id">{$val['id']}</td>
		                <td class="order_name">
		                    <h3>{$val['title']}</h3>
		                    <p>{$val['round_title']}</p>
		                </td>
		                <td class="class_date"><b>{$val['begin_time']|date_format:'%Y-%m-%d'}</b>{$val['begin_time']|date_format:'%H: %M: %S'}</td>
		                <td class="class_progress"><b class="fred">{$val['already_total']}</b>/{$val['total']}</td>
		                <td class="class_name">{$val['subject_name']}</td>
		                <td class="class_type">{$val['course_type_name']}</td>
		                <td class="class_statu">{$val['status_name']}</td>
		                <td class="class_score">{$val['course_score']}</td>
		                <td class="order_detail"><a href="/orderList/order_detail/{$val['id']}" target="_blank">详细信息</a></td>
            		</tr>
	        	{/foreach}
	        {else}
	        	<tr>
           			<td colspan="9" style="text-align:center;"><b>暂时没有您的课程</b></td>
           		</tr>
	        {/if}
        </table>
    </div>
</div>
<!--班次列表结束-->
{/block}
