{extends file='teacher/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="javascript:void(0)">首页></a>
    <a href="javascript:void(0)">班次列表></a>
    <a href="javascript:void(0)">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">练习题管理</a>
</div>
<!--小导航结束-->
<!--班次练习题管理页面开始-->
<div class="md_orderManage">
    <h2>练习题管理</h2>
    <div class="md_hd">
        <span class="manage_title"><b>班节名称： 第一讲－牛吃草的问题</b></span>
        <span>共<b class="fred">5</b>道练习题</span>
    </div>
    <div class="md_bd">
        <ul class="tab_ul" id="tab_ul">
            <li class="first"><a href="order_manage.html" target="_blank" class="active">练习题管理</a></li>
            <li><a href="order_count.html" target="_blank">答题情况统计</a></li>
        </ul>
        <div class="tab_content" id="tab_content1" style="display:block;">
           <!--单选答题卡模块开始-->
           <div class="md_ques">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
           </div>
           <!--单选答题卡模块结束-->
           <!--多选答题卡模块开始-->
            <div class="md_ques">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton blueBtn">多选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
            </div>
            <!--多选答题卡模块结束-->
            <!--单选答题卡模块开始-->
            <div class="md_ques last">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
            </div>
            <!--单选答题卡模块结束-->
        </div>
        <div class="tab_content" id="tab_content2" style="display:none;">
            <ul>
                <li>·<a href="#" title="">DIV+CSS的XHTML代码结构浅谈 - 不要真DIV+CSS了</a></li>
                <li>·<a href="#" title="">Div CSS教程：letter-spacing与word-spacing属性详解</a></li>
                <li>·<a href="#" title="">margin外边距属性在inline内联元素中应用的测试！</a></li>
                <li>·<a href="#" title="">Div CSS教程：block element与inline element元素详解 </a></li>
                <li>·<a href="#" title="">DIV CSS实例教程：一款清新风格的CSS新闻列表制作</a></li>
                <li>·<a href="#" title="">DIV CSS布局中如何组织样式表以便于简化、维护</a></li>
                <li>·<a href="#" title="">DIV CSS编码中容易犯的一些错误 DIV CSS编码中容易犯的一些错误</a></li>
                <li>·<a href="#" title="">如何将XHTML+CSS页面转换为打印机页面</a></li>
            </ul>
        </div>
    </div>
</div>
<!--班次练习题管理页面结束-->
<!--班次列表详情页面结束-->
{/block}
