{extends file='teacher/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="/welcome/index/">首页></a>
    <a href="/orderList/index/">班次列表></a>
    <b class="nav_detail" style="color:#f60">班次章节</b>
</div>
<!--小导航结束-->
<!--班次列表详情页面开始-->
<div class="md_orderDetail">
    <h2>班次名称：{$data['round_info']['title']}</h2>
    <div class="md_hd">
        <span class="chapter">共<b>{$data['status_count']['z_count']['num']}</b>章</span>
        <span class="course"><b>{$data['status_count']['j_count']['num']}</b>节课</span>
        {if $data['status_count']}
        	{foreach $data['status_count'] as $key => $val}
        		{if $val['num'] && !in_array($val['name'],array('章','节'))}
		        	<span>{$val['name']}：<b>{$val['num']}</b></span>
		        {/if}
        	{/foreach}
        {/if}
    </div>
    <div class="md_bd">
    {if $data['zjList']}
    	{foreach $data['zjList'] as $val}
    		<h3>{$val['title']}</h3>
	        <table class="md_table">
	            <tr>
	                <th>序号</th>
	                <th>小节名称</th>
	                <th>上课时间</th>
	                <th>授课状态</th>
	                <th>出勤率</th>
	                <th>学员评价</th>
	                <th>课件讲义</th>
	                <th>练习题管理</th>
	            </tr>
	            {foreach $val['jArr'] as $v}
		            <tr>
		                <td class="order_id">{$v['id']}</td>
		                <td class="order_name">
		                	{if in_array($v['status'],$data['enter_classroom'])}
		                    	<h3><a href="{$student_url}classroom/enter/{$v['classroom_id']}" title="{$v['title']}">{$v['title']}</a></h3>
		                    {else}
		                    	<h3>{$v['title']}</h3>
		                    {/if}
		                </td>
		                <td class="class_date"><b>{$v['begin_time']|date_format:'%Y:%m:%d'}</b>{$v['begin_time']|date_format:'%H:%M:%S'}</td>
		                <td class="class_statu">{$v['status_name']}</td>
		                <td class="class_number">{$v['attendance_persent']}</td>
		                <td class="class_praise"><a href="/orderList/comment/{$v['id']}">查看评价</a></td>
		                <td class="class_word"><em class="icon_note"></em><a href="http://classroom.oa.tizi.com/meeting/preview/{$v['courseware_id']}" target="_blank" title="预览此讲义">{$v['courseware_name']}</a></td>
		                <td class="class_manage"><a href="/orderList/question/{$v['id']}"><em class="icon_notem"></em></a></td>
		            </tr>
	            {/foreach}
	        </table>
    	{/foreach}
    {else}
    	<center><h3>班次：{$data['round_info']['title']}目前还没有创建章节!<h3></center>
    {/if}
    </div>
</div>
<!--班次列表详情页面结束-->
{/block}
