{extends file='teacher/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="/welcome/index/">首页></a>
    <a href="/orderList/index/">班次列表></a>
    <a href="/orderList/index/{$data['jInfo']['id']}">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">学员评价</a>
</div>
<!--小导航结束-->
<!--班次列表-学员评价开始-->
<div class="md_appraise">
    <h2>学员评价</h2>
    <div class="md_hd">
        <span><b>班节名称： {$data['jInfo']['title']}</b></span>
        <span>共<b class="fred">{$data['total']}</b>条评价</span>
        <span>平均分：<b class="fred">{if $data['jInfo']['score']}{$data['jInfo']['score']}{/if}</b></span>
    </div>
    <div class="md_bd">
        <table class="md_table">
            <tr>
                <th>用户昵称</th>
                <th>评分</th>
                <th>评价内容</th>
                <th>评价时间</th>
            </tr>
            {if $data['comment']}
            	{foreach $data['comment'] as $val}
            		<tr>
		                <td class="user_name">{$val['nickname']}</td>
		                <td class="user_score">{$val['score']}</td>
		                <td class="user_content">{$val['content']}</td>
		                <td class="user_time"><b>{$val['create_time']|date_format:'%Y-%m-%d'}</b>{$val['create_time']|date_format:'%H: %M: %S'}</td>
		            </tr>
            	{/foreach}
            {/if}
        </table>
</div>
</div>
<!--班次列表-学员评价结束-->
{/block}
