{extends file='teacher/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="/welcome/index/">首页></a>
    <a href="/orderList/index/">班次列表></a>
    <a href="/orderList/detail/{$data['jInfo']['id']}">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">练习题管理</a>
</div>
<!--小导航结束-->
<!--班次练习题管理页面开始-->
<div class="md_orderManage">
    <h2>练习题管理</h2>
    <div class="md_hd">
        <span class="manage_title"><b>班节名称： {$data['jInfo']['title']}</b></span>
        <span>共<b class="fred">{$data['total']}</b>道练习题</span>
    </div>
    <div class="md_bd">
        <ul class="tab_ul" id="tab_ul">
            <li class="first"><a href="/orderList/question/{$data['jInfo']['id']}" target="_self" class="active">练习题管理</a></li>
            <li><a href="/orderList/count/{$data['jInfo']['id']}" target="_self">答题情况统计</a></li>
        </ul>
        <div class="tab_content" id="tab_content1" style="display:block;">
        {if $data['question']}
        	{foreach $data['question'] as $val}
        	   <!--单选答题卡模块开始-->
	           <div class="md_ques">
	                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">{if $val['type']==1}单选{elseif $val['type']==2}多选{/if}</span></h2>
	                <div class="md_tmp">
	                    <h3>{$val['question']}</h3>
	                    {foreach $val['options'] as $k=>$v}
	                    <div class="optiona">{$k}. {$v['value']}</div>
	                    {/foreach}
	                    <div class="md_ft">
	                        <div class="optionb"><span>答案：</span> {$val['answer']}</div>
	                        <div class="optionb"><span>解析：</span>{$val['analysis']}</div>
	                    </div>
	                </div>
	           </div>
	           <!--单选答题卡模块结束-->
        	{/foreach}
        {/if}
        </div>
        <div class="tab_content" id="tab_content2" style="display:none;">
            <ul>
                <li>·<a href="#" title="">DIV+CSS的XHTML代码结构浅谈 - 不要真DIV+CSS了</a></li>
                <li>·<a href="#" title="">Div CSS教程：letter-spacing与word-spacing属性详解</a></li>
                <li>·<a href="#" title="">margin外边距属性在inline内联元素中应用的测试！</a></li>
                <li>·<a href="#" title="">Div CSS教程：block element与inline element元素详解 </a></li>
                <li>·<a href="#" title="">DIV CSS实例教程：一款清新风格的CSS新闻列表制作</a></li>
                <li>·<a href="#" title="">DIV CSS布局中如何组织样式表以便于简化、维护</a></li>
                <li>·<a href="#" title="">DIV CSS编码中容易犯的一些错误 DIV CSS编码中容易犯的一些错误</a></li>
                <li>·<a href="#" title="">如何将XHTML+CSS页面转换为打印机页面</a></li>
            </ul>
        </div>
    </div>
</div>
<!--班次练习题管理页面结束-->
<!--班次列表详情页面结束-->
{/block}
