{extends file='teacher/teacherOrderList/base.html'}

{block name=title}练习题统计{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="/welcome/index/">首页></a>
    <a href="/orderList/index/">班次列表></a>
    <a href="/orderList/index/{$data['jInfo']['id']}">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">练习题统计</a>
</div>
<!--小导航结束-->
<!--班次练习题管理页面开始-->
<div class="md_orderManage">
    <h2>练习题统计</h2>
    <div class="md_hd">
        <span class="manage_title"><b>班节名称： {$data['jInfo']['title']}</b></span>
        <span>共<b class="fred">{$data['total']}</b>道练习题</span>
    </div>
    <div class="md_bd">
        <ul class="tab_ul" id="tab_ul">
            <li class="first"><a href="/orderList/question/{$data['jInfo']['id']}" target="_self">练习题管理</a></li>
            <li><a href="/orderList/count/{$data['jInfo']['id']}" target="_self" class="active">答题情况统计</a></li>
        </ul>
        <div class="tab_content" id="tab_content2" style="display:block;">
            <!--答题信息提示开始-->
            <div class="md_ques_title">
            {if $data['sequence_num']}
            	{section name=loop loop=$data['sequence_num']} 
					<a href="/orderList/count/{$data['jInfo']['id']}/{$smarty.section.loop.index+1}" {if $data['sequence_id']==($smarty.section.loop.index+1)}class="cbutton redBtn"{else}class="cbutton countBtn"{/if}>第{$smarty.section.loop.index+1} 次答题统计</a>
				{/section}
            {/if}
            </div>
            <!--答题信息提示结束-->
            <div class="md_ques_list">
                <p><span>共 <b>{$data['answer_user_num']}</b>人作答</span><span>平均正确率：<b>{$data['jInfo']['correct_rate']}</b></span></p>
                {if $data['question']}
                {foreach $data['question'] as $val}
                <!--单选答题卡模块开始-->
                <div class="md_ques last">
                    <!--<h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>-->
                    <div class="md_tmp">
                        <h3>{$val['question']}</h3>
                        {foreach $val['options'] as $k=>$v}
	                    	<div class="optiona">{$k}. {$v['value']}</div>
	                    {/foreach}
                        <div class="md_ft">
                            <div class="optionb"><span>答案：</span> {$val['answer']}</div>
                            <div class="optionb"><span>解析：</span>{$val['analysis']}</div>
                            <!--答题卡表格开始-->
                            <table class="md_table">
                                <tr>
                                	{foreach $val['options'] as $k=>$v}
                                    	<th {if $v['is_correct']}class="active"{/if}>{$k}{if $v['is_correct']}<em class="icon_yes"></em>{/if}</th>
                                    {/foreach}
                                </tr>
                                <tr>
                                	{foreach $val['options'] as $k=>$v}
                                    	<td>{$v['total']}</td>
                                    {/foreach}
                                </tr>
                                <tr>
                                	{foreach $val['options'] as $k=>$v}
                                    	<td>{$v['persent']}</td>
                                    {/foreach}
                                </tr>
                            </table>
                            <!--答题卡表格结束-->
                        </div>
                    </div>
                </div>
                <!--单选答题卡模块结束-->
                {/foreach}
                {/if}
            </div>
        </div>
    </div>
</div>
<!--班次练习题管理页面结束-->
<!--班次列表-学员评价结束-->
{/block}
