{extends file='www/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="javascript:void(0)">首页></a>
    <a href="javascript:void(0)">班次列表></a>
    <a href="javascript:void(0)">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">学员评价</a>
</div>
<!--小导航结束-->
<!--班次列表-学员评价开始-->
<div class="md_appraise">
    <h2>学员评价</h2>
    <div class="md_hd">
        <span><b>班节名称： 第一讲－牛吃草的问题</b></span>
        <span>共<b class="fred">5</b>条评价</span>
        <span>平均分：<b class="fred">4.4</b></span>
    </div>
    <div class="md_bd">
        <table class="md_table">
            <tr>
                <th>用户昵称</th>
                <th>评分</th>
                <th>评价内容</th>
                <th>评价时间</th>
            </tr>
            <tr>
                <td class="user_name">樱桃小丸子</td>
                <td class="user_score">5</td>
                <td class="user_content">已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可
                    卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊
                    卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快</td>
                <td class="user_time"><b>2014-06-11</b>20：11：22</td>
            </tr>
            <tr>
                <td class="user_name">樱桃小丸子</td>
                <td class="user_score">5</td>
                <td class="user_content">已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可
                    卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊
                    卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快</td>
                <td class="user_time"><b>2014-06-11</b>20：11：22</td>
            </tr>
            <tr>
                <td class="user_name">樱桃小丸子</td>
                <td class="user_score">5</td>
                <td class="user_content">已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可
                    卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊
                    卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快</td>
                <td class="user_time"><b>2014-06-11</b>20：11：22</td>
            </tr>
        </table>
</div>
</div>
<!--班次列表-学员评价结束-->
{/block}
