{extends file='www/teacherOrderList/base.html'}

{block name=title}学员评价{/block}

{block name=container}
<!--小导航开始-->
<div class="nav_crumbs">
    <a href="javascript:void(0)">首页></a>
    <a href="javascript:void(0)">班次列表></a>
    <a href="javascript:void(0)">班次章节></a>
    <a href="javascript:void(0)" class="nav_detail">练习题管理</a>
</div>
<!--小导航结束-->
<!--班次练习题管理页面开始-->
<div class="md_orderManage">
    <h2>练习题管理</h2>
    <div class="md_hd">
        <span class="manage_title"><b>班节名称： 第一讲－牛吃草的问题</b></span>
        <span>共<b class="fred">5</b>道练习题</span>
    </div>
    <div class="md_bd">
        <ul class="tab_ul" id="tab_ul">
            <li class="first"><a href="order_manage.html" target="_blank">练习题管理</a></li>
            <li><a href="order_count.html" target="_blank" class="active">答题情况统计</a></li>
        </ul>
        <div class="tab_content" id="tab_content1" style="display:none;">
           <!--单选答题卡模块开始-->
           <div class="md_ques">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
           </div>
           <!--单选答题卡模块结束-->
           <!--多选答题卡模块开始-->
            <div class="md_ques">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton blueBtn">多选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
            </div>
            <!--多选答题卡模块结束-->
            <!--单选答题卡模块开始-->
            <div class="md_ques last">
                <h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>
                <div class="md_tmp">
                    <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                    <div class="optiona">A. 45</div>
                    <div class="optiona">B. 45</div>
                    <div class="optiona">C. 45</div>
                    <div class="optiona">D. 45</div>
                    <div class="md_ft">
                        <div class="optionb"><span>答案：</span> C</div>
                        <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                    </div>
                </div>
            </div>
            <!--单选答题卡模块结束-->
        </div>
        <div class="tab_content" id="tab_content2" style="display:block;">
            <!--答题信息提示开始-->
            <div class="md_ques_title">
                <a href="#" class="cbutton redBtn">第一次答题统计</a>
                <a href="#" class="cbutton countBtn">第二次次答题统计</a>
                <a href="#" class="cbutton countBtn">第三次答题统计</a>
            </div>
            <!--答题信息提示结束-->
            <div class="md_ques_list">
                <p><span>共 <b>199</b>人作答</span><span>平均正确率：<b>73.1％</b></span></p>
                <!--单选答题卡模块开始-->
                <div class="md_ques last">
                    <!--<h2><span class="cbutton lgrayBtn">1</span><span class="cbutton redBtn">单选</span></h2>-->
                    <div class="md_tmp">
                        <h3>已副卡恢复卡机恢复空间哈佛阿姐鼓阿凯设计方案结课可卡精神焕发可啊发挥看见哈双方进口国时刻j啊发挥分哈啊卡斯今后发酵罐和是罚款计划啊ls；发挥阿隆索很快？</h3>
                        <div class="optiona">A. 45</div>
                        <div class="optiona">B. 45</div>
                        <div class="optiona">C. 45</div>
                        <div class="optiona">D. 45</div>
                        <div class="md_ft">
                            <div class="optionb"><span>答案：</span> C</div>
                            <div class="optionb"><span>解析：</span>卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</div>
                            <!--答题卡表格开始-->
                            <table class="md_table">
                                <tr>
                                    <th>A</th>
                                    <th>B</th>
                                    <th class="active">C<em class="icon_yes"></em></th>
                                    <th>D</th>
                                    <th>E</th>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>21.1%</td>
                                    <td>21.1%</td>
                                    <td>21.1%</td>
                                    <td>21.1%</td>
                                    <td>21.1%</td>
                                </tr>
                            </table>
                            <!--答题卡表格结束-->
                        </div>
                    </div>
                </div>
                <!--单选答题卡模块结束-->
            </div>
        </div>
    </div>
</div>
<!--班次练习题管理页面结束-->
<!--班次列表-学员评价结束-->
{/block}
