/*个人资料页面样式开始*/
.teacherSelfInfo .personInfo{background: #fff;text-align: center;color:#0e455e;border: 1px solid #d5d5d5;}
.teacherSelfInfo .personInfo .box{padding-top: 0}
.teacherSelfInfo .personInfo .personNav{clear:both;height:50px;line-height: 50px;font-size: 16px;background: #f7f7f7;text-align: left;}
.teacherSelfInfo .personInfo .personNav a{display:block;float: left;font-size: 16px;font-weight: normal;padding:0px 40px;}
.teacherSelfInfo .personInfo .personNav a.active{color:#f14211;background-color:#fff;border-top:2px solid #ed4111;}
.teacherSelfInfo .personInfo ul.Oul{padding:20px 0px 0 40px;}
.teacherSelfInfo .personInfo li {margin-bottom:15px;position: relative;}
.teacherSelfInfo .personInfo li p{display: block;height:22px;line-height:22px;width: 100%;font-size:16px;color:#0e455e;margin-bottom:5px;text-align: left}
.teacherSelfInfo .personInfo li .textInput{width: 228px;height:31px;border:1px solid #a2a2a2;padding:0 15px;}
.teacherSelfInfo .personInfo li .tips{font-size: 14px;color:#919191;}
.teacherSelfInfo .personInfo li div.cf{line-height:35px;}
.teacherSelfInfo .personInfo li label{height:30px;line-height:30px;font-size: 14px;margin-right: 20px;}
.teacherSelfInfo .personInfo li .submit{width:130px;height: 40px;line-height: 40px;border: 0;cursor:pointer;}
.teacherSelfInfo .personInfo .cookedTime .textInput{width:155px;margin-right:20px;}
.teacherSelfInfo .personInfo .cookedTime .underLine{line-height: 30px;}
.teacherSelfInfo .personInfo .cookedTime .jqTransformSelectWrapper{margin-left:20px;}
.teacherSelfInfo .personInfo .md_bd{padding:20px 0px;}
.teacherSelfInfo .personInfo .personTip{clear: both;overflow: hidden;margin-left:40px; text-align: left;font-size: 14px; color:#ed4111;}
.teacherSelfInfo .personInfo li em{position: absolute; left:-10px;top:2px;color:#ed4111;font-size:18px;}
.teacherSelfInfo .personInfo li .verfyTip{font-size:14px;color:#a3adb7;font-weight: normal;}
.teacherSelfInfo .personInfo li .textArea{width:880px;height: 255px;_width:850px;}
.teacherSelfInfo .personInfo .md_upload{clear: both; overflow: hidden;}
.teacherSelfInfo .personInfo .md_upload a{display: block;float: left;width:310px; height: 250px;position: relative;}
.teacherSelfInfo .personInfo .md_upload a.icon_upload1{background: url("../../images/teacherSelfInfo/icon_upload1.gif") no-repeat left top;}
.teacherSelfInfo .personInfo .md_upload a.icon_upload2{background: url("../../images/teacherSelfInfo/icon_upload2.gif") no-repeat left top;}
.teacherSelfInfo .personInfo .md_upload a.icon_upload3{background: url("../../images/teacherSelfInfo/icon_upload3.gif") no-repeat left top;}
.teacherSelfInfo .personInfo .md_upload .uploadify .swfupload{left:0px;top:0px;}
.teacherSelfInfo .personInfo .md_upload .uploada .uploadify-queue{display: none;}
.teacherSelfInfo .personInfo .md_upload .uploadTip{position: absolute;bottom:0px;left:120px;font-size:14px;color:#a3adb7;font-weight: normal;}
.teacherSelfInfo .personInfo .md_upload .uploadFt{font-size:14px;color:#a3adb7;font-weight: normal;}
.teacherSelfInfo .personInfo .md_upload .ImageSpan{display:none;float: left;margin-right:10px;width:300px;height: 255px;position: relative;margin-top:3px;}
.teacherSelfInfo .personInfo .md_upload .ImageSpan img{width:300px; height:223px;border:1px solid #dfdfdf;}
.teacherSelfInfo .personInfo .md_upload .ImageSpan1{float: left;margin-right:10px;width:300px;position: relative;margin-top:3px;}
.teacherSelfInfo .personInfo .md_upload .ImageSpan1 img{width:300px; height:225px;border:1px solid #dfdfdf;margin-bottom:1px;}

/*个人资料页面样式结束*/
/*修改密码页面样式开始*/
.teacherSelfInfo .personInfo ul.passOul{padding:20px 0px 0 300px;}
.teacherSelfInfo .personInfo ul.passOul .submit{width:260px;margin-top: 20px;}
/*修改密码页面样式结束*/
/*修改头像页面样式开始*/
.teacherSelfInfo .personInfo .atareditor{padding:10px 0px;}
.teacherSelfInfo .personInfo .atareditor dt.ml10{margin-left:115px;}
.teacherSelfInfo .personInfo .atareditor dd{padding: 20px 120px;clear:both; overflow: hidden; text-align: left;}
.teacherSelfInfo .personInfo .atareditor dd p{font-size: 12px;margin-bottom:10px;}
.teacherSelfInfo .personInfo .atareditor dt a{display:block;float:left;width:150px;height:40px;color:#ed4111;background:#ffffff;border:1px solid #ed4111;text-align:center;cursor:pointer;font-size: 18px;line-height:40px;}
.teacherSelfInfo .personInfo .atareditor dt a em{display:block;float:left;background: url("../../images/teacherSelfInfo/icon_list.png") no-repeat left top;width:26px; height:35px;margin-left: 20px;}
.teacherSelfInfo .personInfo .atareditor dt a span{margin-right:20px;}
.teacherSelfInfo .personInfo .atareditor dt a.localUpload{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.teacherSelfInfo .personInfo .atareditor dt a.localUpload em{background-position:-320px 7px;}
.teacherSelfInfo .personInfo .atareditor dt a.videoUpload{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.teacherSelfInfo .personInfo .atareditor dt a.videoUpload em{background-position:-150px 7px;}
.teacherSelfInfo .personInfo .atareditor .button_upload,.teacherSelfInfo .personInfo .atareditor .button_cancel,.teacherSelfInfo .personInfo .atareditor .button_shutter{width: 130px;height: 40px;line-height: 40px;}
.teacherSelfInfo .personInfo .atareditor .button_save{width:304px;height: 40px;line-height: 40px;font-size: 18px;}
.teacherSelfInfo .personInfo .atareditor dt.current a{background:#f14211;color:#fff;}
.teacherSelfInfo .personInfo .atareditor dt.current a.localUpload em{background-position:0px 7px;}
.teacherSelfInfo .personInfo .atareditor dt.current a.videoUpload em{background-position:-470px 7px;}
/*修改头像页面样式结束*/
/*我要开课样式开始*/
.teacherSelfInfo .writeInfo{background: #fff;text-align: center;color:#0e455e;border: 1px solid #d5d5d5;}
.teacherSelfInfo .writeInfo .box{padding-top: 0}
.teacherSelfInfo .writeInfo h2{height:50px;line-height: 50px;padding-left: 80px;font-size: 18px;background: #f7f7f7;text-align: left;}
.teacherSelfInfo .writeInfo h2 span{font-size: 14px;font-weight: normal;margin-left: 10px;}
.teacherSelfInfo .writeInfo ul.Oul{padding:20px 0px 0 80px;}
.teacherSelfInfo .writeInfo li {margin-bottom:15px;}
.teacherSelfInfo .writeInfo li p{display: block;height:22px;line-height:22px;width: 100%;font-size:16px;color:#0e455e;margin-bottom:5px;text-align: left}
.teacherSelfInfo .writeInfo li .textInput{width: 228px;height:31px;border:1px solid #a2a2a2;padding:0 15px;}
.teacherSelfInfo .writeInfo li .tips{font-size: 14px;color:#919191;}
.teacherSelfInfo .writeInfo li div.cf{line-height:35px;}
.teacherSelfInfo .writeInfo li label{height:30px;line-height:30px;font-size: 14px;margin-right: 20px;}
.teacherSelfInfo .jqTransformSelectWrapper{display: inline-block;margin-right: 20px;text-align: left;float: left;}
.teacherSelfInfo .jqTransformSelectWrapper span{font-size: 14px;color:#919191}
.teacherSelfInfo .jqTransformSelectWrapper li{margin-bottom:0px;}
.teacherSelfInfo .jqTransformRadioWrapper{float:left;margin: 6px 10px  0 0px;}
.teacherSelfInfo .jqTransformCheckboxWrapper{float:left;margin: 6px 10px  0 0px;}
.teacherSelfInfo .writeInfo li .submit{width:130px;height: 40px;line-height: 40px;border: 0;cursor:pointer;margin-top:20px;margin-bottom:50px;}
.teacherSelfInfo .writeInfo .cookedTime .textInput{width:155px;margin-right:20px;}
.teacherSelfInfo .writeInfo .cookedTime .underLine{line-height: 30px;}
.teacherSelfInfo .writeInfo .cookedTime .jqTransformSelectWrapper{margin-left:20px;}
.teacherSelfInfo .writeInfo li .ckEditorCss{width:800px;}
.teacherSelfInfo .writeInfo li .postEditor{visibility: hidden;overflow: hidden;clear: both;}
/*我要开课样式结束*/
/*开课成功样式开始*/
.teacherSelfInfo .startSuccess{background: #fff;text-align: center;color:#0e455e;border: 1px solid #d5d5d5;padding:40px 0;}
.teacherSelfInfo .startSuccess .box{padding-top: 0;}
.teacherSelfInfo .startSuccess .box h2{margin-bottom:20px;height:46px;line-height:46px;background: url(../../images/teacherSelfInfo/orderFormIcon2.png) no-repeat 360px center;}
.teacherSelfInfo .startSuccess .tips{font-size: 16px;}
.teacherSelfInfo .startSuccess .process{padding:0 0 80px 20px;}
.teacherSelfInfo .startSuccess .process h3{font-size: 20px;color:#9f9f9f;text-align: left;font-weight: normal;margin-bottom:10px;}
.teacherSelfInfo .startSuccess .process span{font-size:20px;font-weight:bold;width:148px;height:98px;line-height: 98px;border: 1px solid #c0c0c0;background: #fde3d7}
.teacherSelfInfo .startSuccess .process em{width:40px;height:100px;background: url(../../images/teacherSelfInfo/arrowIcon.png) no-repeat;}
.teacherSelfInfo .startSuccess .process .arrowRight{background-position: -50px 20px}
.teacherSelfInfo .startSuccess .process .arrowLeft{background-position: 12px 20px}
.teacherSelfInfo .startSuccess .process .arrowDown{background-position: -120px 10px;height:70px;margin-right: 95px}
/*开课成功样式结束*/