<?xml version="1.0" encoding="utf-8" ?> 
<url>
	<domain></domain>
	<server>
        <ol>42.159.84.157</ol>
        <pys>
            <py>42.121.114.19</py>
        </pys>
    </server>
    <sevport>21443</sevport>
	<phDome></phDome>
	<version>8</version>
	<apiurl>http://api.nahaodev.com/</apiurl>
	<Software>http://video1.nahao.com/NahaoSetup.exe</Software>
	<AutoUpdate>http://video1.nahao.com/NahaoUpdate.zip</AutoUpdate>
	<Multiple>1</Multiple>
</url>
