<?xml version="1.0" encoding="utf-8" ?> 
<url>
	<domain></domain>
	<server>
		<ol>115.29.220.31</ol>
	</server>
	<sevport>4443</sevport>
	<phDome></phDome>
	<version>8</version>
	<apiurl>http://api.nahaodev.com/</apiurl>
	<Software>http://video1.nahao.com/NahaoSetup.exe</Software>
	<AutoUpdate>http://video1.nahao.com/NahaoUpdate.zip</AutoUpdate>
	<Multiple>1</Multiple>
</url>
