/*进度条样式开始*/
.studentCart .Validform_right{width:0px;height:16px;display:inline-block;margin-top:6px;margin-left:10px;}
.studentCart .progressBar{height:64px;padding-top:36px;}
.studentCart .progressBar .line{height:6px;line-height: 6px;font-size:0;border-radius: 3px;background:#f14211;zoom:1;}
.studentCart .progressBar ul{margin-top:-16px;}
.studentCart .progressBar li em{display:inline-block;width:26px;height:26px;border-radius: 13px;background: #f14211;line-height:26px;text-align:center;color:#fff;font-size:18px;}
.studentCart .progressBar li{width:185px;display:inline-block;text-align:center;}
.studentCart .progressBar li.last{text-align:right;width:100px;position:relative;}
.studentCart .progressBar li.last em{color:#c93309;font-size:27px;padding-top: 2px;height: 24px;line-height: 17px;}
.studentCart .progressBar li span{display:block;color:#f14211;height:22px;line-height:22px;font-size:14px;}
.studentCart .infoCheck .progressBar li.last span{color:#63696c;}
.studentCart .infoCheck .progressBar li.last em{background:#6dcde6;color:#3da8c4;}
.studentCart .infoCheck .progressBar li.last .lineBg{width:155px;height:6px;line-height: 6px;font-size:0;background:#6dcde6;display: inline-block;position:absolute;left:-79px;top:10px;}
/*进度条样式结束*/
/*购物车 -支付样式开始*/
/*订单提交成功样式开始*/
.studentCart .toPay {margin-bottom:20px;}
.studentCart .toPay .orderForm{background:#e1f2f4;padding:20px 30px;border:1px solid #d5d5d5;margin-bottom:20px;}
.studentCart .toPay .orderForm h3{margin-bottom: 10px;height:46px;line-height:46px;padding-left:62px;background: url(../../images/studentCart/orderFormIcon.png) no-repeat left center;font-size:24px;font-weight:normal;color:#0e455e;}
.studentCart .toPay .orderForm p{line-height:34px;font-size:18px;color:#717575;}
.studentCart .toPay .orderForm p.last{font-size:16px;}
.studentCart .toPay .orderForm p span{margin-right: 50px}
.studentCart .toPay .orderForm p .red{color:#f14211;padding:0 10px;}
/*订单提交成功样式结束*/
/*支付类型样式开始*/
.studentCart .toPay .payType h2 {height:37px;padding: 17px 0 0 2px;}
.studentCart .toPay .payType h2 span{padding-left:6px;border-left:3px solid #f14211;height:20px;line-height:20px;font-size:18px;font-weight:normal;color:#0e455e;}
.studentCart .toPay .payBox{border:1px solid #d5d5d5;}
.studentCart .toPay .payBox h3{border-bottom:1px solid #d5d5d5;height:49px;background: #f7f7f7;position: relative;font-weight:normal}
.studentCart .toPay .payBox h3 p{_position: absolute;_bottom:-2px;height:50px;}
.studentCart .toPay .payBox h3 a{height:49px;line-height:49px;font-size:18px;width: 160px;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;text-align:center;height:49px;display: inline-block;}
.studentCart .toPay .payBox h3 a span{font-size: 14px;color:#6dcde6;}
.studentCart .toPay .payBox h3 a.alipay{background: url(../../images/studentCart/alipayIcon.png) no-repeat center center;_background: url(../../images/studentCart/alipayIcon-ie.png) no-repeat center center;text-indent: -9999px}
.studentCart .toPay .payBox h3 a.active{border-bottom-color:#fff;background-color:#fff;color:#f14211;}
.studentCart  .box .bankList{width:740px;margin-bottom:20px;margin-left:20px;}
.studentCart  .box li{margin:0  20px 15px 0;position:relative;}
.studentCart  .box input{margin:10px 10px 0 10px}
.studentCart  .box label{cursor:pointer;display:block;width:120px;height:30px;border:1px solid #cccccc;background: url(../../images/studentCart/bank.png) no-repeat;_background: url(../../images/studentCart/bank-ie.png) no-repeat}
.studentCart  .guangda label{ background-position:-8px -331px;}
.studentCart  .zhaoshang label{ background-position: -1px -67px;}
.studentCart  .gongshang label{ background-position: -7px -36px;}
.studentCart  .zhongguo label{ background-position: 5px -168px;}
.studentCart  .jiaotong label{ background-position: -7px -365px;}
.studentCart  .jianshe label{ background-position: -7px -100px;}
.studentCart  .nongye label{ background-position:-8px -134px;}
.studentCart  .zhongxin label{ background-position: 4px -430px;}
.studentCart  .pufa label{ background-position: 4px -200px;}
.studentCart  .xingye label{ background-position: -3px -265px;}
.studentCart  .shenfazhan label{ background-position: -7px -233px;}
.studentCart  .minsheng label{ background-position: -7px -398px;}
.studentCart  .huaxia label{ background-position: -7px -661px;}
.studentCart  .pingan label{ background-position: -6px -496px;}
.studentCart  .guangfa label{ background-position: -8px -465px;}
.studentCart  .toPay .bank h4{font-size:16px;padding-left:30px;line-height:46px;font-weight: normal;}
.studentCart  .toPay .bank a.ortherBtn{width:190px;height:54px;line-height: 54px;margin: 0 0 20px 30px;font-size:20px;color:#fff;background: #f14211;display: inline-block}
.studentCart  .toPay .bank a.ortherBtn .fr{margin-top:10px;}
.studentCart  .toPay .tableBox {width:715px;margin:0 0 20px 30px;}
.studentCart  .toPay .tableBox table.li-table{display:none;}
.studentCart  .toPay .tableBox table.vis{display:block;}
.studentCart  .toPay .tableBox table{width:100%;}
.studentCart  .toPay .tableBox table,
.studentCart  .toPay .tableBox table tr,
.studentCart  .toPay .tableBox table td,
.studentCart  .toPay .tableBox table th{border:1px solid #bbc4cd;}
.studentCart  .toPay .tableBox table tr{line-height: 32px;text-align:center;}
.studentCart  .toPay .tableBox table th{width:25%;background:#edf1f6;}
.studentCart  .toPay .tableBox table .remarks{text-align: left}
.studentCart  .toPay .tableBox table .remarks p{padding:0 5px;line-height:24px;}
.studentCart  .box .credit {background: #eaeff9;overflow: hidden;_padding-bottom:20px;}
.studentCart  .box .credit label{background-color:#fff;}
.studentCart  .toPay  .credit .title{height:46px;line-height:46px;width:580px;font-size:16px;padding-left: 130px;background: url(../../images/studentCart/payIcon2.png) no-repeat 30px center;}
.studentCart  .toPay  .credit .stagingIcon{position:absolute;right:-20px;top:0px;display: block;width:35px;height:34px;background: url(../../images/studentCart/staging.png) no-repeat;_background: url(../../images/learningCenter/staging-ie.png) no-repeat;}
.studentCart  .toPay ul.alipay{padding-top:50px;}
.studentCart  .toPay .alipayBox p{padding-left:30px;height:30px;line-height:30px;font-size:14px;margin-bottom:30px;}
.studentCart  .toPay .alipayLi label{background: url(../../images/studentCart/alipayIcon2.png) no-repeat center center;}
/*支付类型样式结束*/
/*弹窗样式开始*/
.choiceBox,
.buySuccess{width:680px;border-top:2px solid #f14211;padding:40px;}
.choiceBox p{font-size: 18px;color:#f14211;line-height:40px;text-align: center;margin-bottom:30px;}
.choiceBox .btnBox{width:250px;border:1px solid #e6e6e6;padding:40px;text-align: center}
.choiceBox .btnBox p{font-size: 24px;color:#0e455e;line-height:46px;margin-bottom:30px;font-weight:bold;}
.choiceBox .btnBox a{width:180px;height:42px;line-height:42px;font-size:20px;display: inline-block;background: #f14211;color:#FFF;}
.choiceBox .btnBox a.blue{background: #6dcde6}
.choiceBox .errorBox {background:#feebe2;}
.choiceBox .okBox {background:#e1f2f4;}
.choiceBox .okBox p{background:url(../../images/studentCart/orderFormIcon.png) no-repeat 10px center; text-indent:56px;}
.choiceBox .errorBox p{background:url(../../images/studentCart/errorIcon.png) no-repeat 10px center; text-indent:56px;}
.buySuccess{padding:0;width:770px;text-align:center;}
.buySuccess p.title{margin-bottom:30px;height:90px;line-height:90px;background:url(../../images/studentCart/orderFormIcon2.png) no-repeat 145px center #f7f7f7;padding-left:210px;font-size:24px;color:#0e455e;font-weight:bold;}
.buySuccess p{text-align:left;height:46px;line-height:46px;padding-left:172px;background: url(../../images/studentCart/pointerIcon.png) no-repeat 148px center ;font-size:24px;color:#63696c;}
.buySuccess a{height:42px;width:180px;line-height:42px;margin:40px 0;background: #f14211;display: inline-block;color:#FFF;}
.buySuccess a.blue{background: #6dcde6}

/*弹窗样式结束*/

/*购物车 -支付样式结束*/
.studentCart .infoCheck {margin-bottom: 20px;}
.studentCart .infoCheck .outerBox h2 {height:37px;padding: 17px 0 0 2px;}
.studentCart .infoCheck .outerBox h2 span{padding-left:6px;border-left:3px solid #f14211;height:20px;line-height:20px;font-size:18px;color:#0e455e;}
.studentCart .innerBox{border:1px solid #d5d5d5;}
.studentCart .checkForm dt{border-bottom:1px solid #d5d5d5;}
.studentCart .checkForm dt,
.studentCart .checkForm dd{background: #f7f7f7;height:42px;line-height:42px;font-size:16px;color:#4b4b4b;}
.studentCart .checkForm span{display:inline-block;text-align: center}
.studentCart .checkForm .num{width:60px;}
.studentCart .checkForm .name{width:400px;}
/*.studentCart .checkForm dd .name{text-align: left}*/
.studentCart .checkForm .oldPrice,
.studentCart .checkForm .newPrice{width:120px;position: relative;}
.studentCart .checkForm dd .oldPrice{text-decoration:line-through }
.studentCart .checkForm .time{width:300px;}
.studentCart .checkForm dd .newPrice{color:#f14211;font-weight: bold;font-size:20px}
.studentCart .checkForm .operation{width:110px;}
.studentCart .checkForm .operation a:hover{color: #f90}
.studentCart .checkForm dd{background: #fff;padding-left:0;}
.studentCart .checkForm dd.noBorder{border:none;}
.studentCart .checkForm .total{height:42px;line-height:42px;padding-left: 30px}
.studentCart .checkForm .total span{font-size:16px;margin-right:50px;}
.studentCart .checkForm .total span.save{font-size:14px;}
.studentCart .checkForm .total span em{color:#f14211;margin:0 10px;font-weight:bold;}
.studentCart .checkForm .total span.price em{font-size:24px;}
.studentCart .contactInfo .innerBox{padding:45px 45px 30px 45px;background: #fff;}
.studentCart .contactInfo li{margin-bottom:15px;}
.studentCart .contactInfo li p{margin-bottom:3px;}
.studentCart .contactInfo li p input{height:28px;padding:0 15px;width:228px;border:1px solid #a2a2a2;}
.studentCart .contactInfo li .title{line-height:22px;font-size:16px;font-weight:bold}
.studentCart .contactInfo li .tips{line-height:22px;font-size:14px;color:#848484;}
.studentCart .contactInfo .getVerCodeBtn .getVerCodea{height:32px;line-height:32px;margin:0 10px;font-size: 16px;padding: 0 10px;}
.studentCart .contactInfo .getVerCodeBtn .getVerCodespan{width:130px;height:32px;line-height:32px;margin:0 10px;font-size: 14px;background: #dedede;text-align: center;border-radius: 2px;display: inline-block;color: #a5a5a5;}
.studentCart .contactInfo .getVerCodeBtn .Validform_checktip{display: block;padding-left: 0;margin-top:4px;}
.studentCart .contactInfo .getVerCodeBtn .undis{display: none}
.studentCart .contactInfo li .submitBtn{width:190px;border:none;}

.studentCart .creditBox {padding-top: 20px;}

