<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>教室</title>
<meta name="description" content="" />
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="{static_url('/css/classRoom/style.css')}" />
<!-- 加载头部公共变量定义开始 -->
{include file="www/include/var.htm"}
<!-- 加载头部公共变量定义结束 -->
</head>
<body class="classRoomPage">
<!-- 头部开始 -->
{include file="www/include/header.htm"}
<!-- 头部结束 -->
<!-- 主要内容开始 -->
<div class="wrap layout classRoom" id="nahaoModule" module="classRoom" classroom-data="{$data['classroom_id']}" class-data="{$class_id}">
	<a href="javascript:void(0)" class="doWorkBoxBtn">做题块</a><br><br>
	<!--做题块 开始-->
	<div class="doWorkBoxHtml undis">
		<div class="doWorkBox">
		
		</div>
	</div>
	<!--做题块 结束-->

	<a href="javascript:void(0)" class="scoreBoxBtn">做题块题目选中</a><br><br>
	<!--得分-题目选中 开始-->
	<div class="scoreBoxHtml undis">
	</div>
	<!--得分-题目选中 结束-->

	<a href="javascript:void(0)" class="scorePageBtn">做题块结果选中</a><br><br>
	<!--得分-结果选中 开始-->
	<div class="scorePageHtml undis">
		<div class="scoreBox scorePage">
			<div class="fl optionNav">
				<h3 class="result">结果<span class="fr"></span></h3>
				<div class="posr">
					<ul>
						<li>第1题</li>
						<li class="curitme">第2题</li>
						<li>第3题</li>
						<li>第4题</li>
					</ul>
				</div>
			</div>
			<div class="fl scoreCon">
				<div class="fl scoreShow">
					<div class="score">
						<h3>你的得分</h3>
						<strong>50</strong>
					</div>
					<div class="scoref cf">
						<span class="fl rightItem">
							<span class="ansIco"></span>
							<em>3</em>
						</span>
						<span class="fl errorItem">
							<span class="ansIco"></span>
							<em>2</em>
						</span>
						<!-- <span class="fl average">
							<strong>全站平均</strong><br>
							<em>75</em>
						</span> -->
					</div>
				</div>
				<!-- <div class="fr ansShow">
					<div class="asHead cf">
						<div class="fl selfans">
							<span class="whosAns">你</span>
							<span>答案</span>
						</div>
						<div class="fr asheadR">
							<span class="whosAns">小伙伴们（189）</span>
							<div class="cf asheadRBox">
								<span class="fl">正确</span>
								<span class="fl">错误</span>
								<span class="fl">正确率</span>
							</div>
						</div>
					</div>
					<ul>
						<li class="cf">
							<span class="fl items">1</span>
							<span class="fl ansIco"></span>
							<div class="fl scoreSBox">
								<span class="fl">233</span>
								<span class="fl redText">122</span>
								<span class="fl">100%</span>
							</div>
							<a href="javascript:void(0);" class="fr"></a>
						</li>
						<li class="cf">
							<span class="fl items">2</span>
							<span class="fl ansIco"></span>
							<div class="fl scoreSBox">
								<span class="fl">2</span>
								<span class="fl redText">122</span>
								<span class="fl">100%</span>
							</div>
							<a href="javascript:void(0);" class="fr"></a>
						</li>
						<li class="cf">
							<span class="fl items">3</span>
							<span class="fl ansIco error"></span>
							<div class="fl scoreSBox">
								<span class="fl">233</span>
								<span class="fl redText">122</span>
								<span class="fl">1%</span>
							</div>
							<a href="javascript:void(0);" class="fr"></a>
						</li>
						<li class="cf">
							<span class="fl items">4</span>
							<span class="fl ansIco"></span>
							<div class="fl scoreSBox">
								<span class="fl">233</span>
								<span class="fl redText">1</span>
								<span class="fl">100%</span>
							</div>
							<a href="javascript:void(0);" class="fr"></a>
						</li>
						<li class="cf">
							<span class="fl items">5</span>
							<span class="fl ansIco"></span>
							<div class="fl scoreSBox">
								<span class="fl">2</span>
								<span class="fl redText">1</span>
								<span class="fl">1%</span>
							</div>
							<a href="javascript:void(0);" class="fr"></a>
						</li>
					</ul>
				</div> -->
				<p class="fl promText">请点击左侧按钮回顾您的作答情况，红色表示做错的题目，绿色表示做对的题目。请认真查看做错的题目，看看自己能否解出正确答案。如仍不能解出正确答案的，请耐心等待老师讲解哦！</p>
			</div>
		</div>
	</div>
	<!--得分-结果选中 结束-->

	<a href="javascript:void(0)" class="ansCountBtn">答案统计</a><br><br>
	<!--教室-老师-答案统计 开始-->
	<div class="ansCountHtml undis">
		<div class="ansCount">
			<h3 class="countTitle">
				<span>本次练习共<em class="redText">199</em>人作答</span>
				<span>平均正确率<em class="redText">78.3%</em></span>
			</h3>
			<div class="citemBox posr">
				<ul class="CitemCon">
					<li class="CitemList">
						<div>题目内容</div>
						<div class="ansList">
							<span>
								<em>A.</em>23
							</span>
							<span>
								<em>B.</em>33
							</span>
							<span>
								<em>C.</em>43
							</span>
							<span>
								<em>4.</em>53
							</span>
						</div>
						<div class="rightAns">
							<span class="pName">答案：</span>
							<strong>C</strong>
						</div>
						<div class="cf">
							<span class="pName fl">解析：</span>
							<p class="fl">卡精神焕发客户卡阿桑加快发挥啊就是咖啡馆阿叔解放后啊手机客户共和军分公司</p>
						</div>
						<ol class="ansTable cf">
							<li class="fl firstList">
								<span class="fl listHead">A</span>
								<span class="fl">7</span>
								<span class="fl">21.1%</span>
							</li>
							<li class="fl">
								<span class="fl listHead">B</span>
								<span class="fl">7</span>
								<span class="fl">21.1%</span>
							</li>
							<li class="fl">
								<span class="fl listHead rightSpan">C</span>
								<span class="fl">7</span>
								<span class="fl">21.1%</span>
							</li>
							<li class="fl">
								<span class="fl listHead">D</span>
								<span class="fl">7</span>
								<span class="fl">21.1%</span>
							</li>
							<li class="fl">
								<span class="fl listHead rightSpan">E</span>
								<span class="fl">7</span>
								<span class="fl">21.1%</span>
							</li>
						</ol>
					</li>
					<li class="CitemList"></li>
				</ul>
			</div>
		</div>
	</div>
	<!--教室-老师-答案统计 结束-->

	<a href="javascript:void(0)" class="exerciseBtn">选择练习题</a><br><br>
	<!--教室-老师-选择练习题 开始-->
	<div class="exerciseHtml undis">
		<div class="exercise">
			<div class="itemTab posr">
				<a href="jacascript:void(0)" class="clickL clickBtn"></a>
				<a href="jacascript:void(0)" class="clickR clickBtn"></a>
				<div class="itemTabBox posr">
					<ul class="cf">
						<li class="fl itemTabList">
							<div>1.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>2.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>3.题目<br>内容题目<br>内容题目<br>内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>4.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>5.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>6.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>7.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>8.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>9.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
						<li class="fl itemTabList">
							<div>10.题目内容</div>
							<div class="cf eAns">
								<strong class="fl">A</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">B</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">C</strong>
								<p class="fl">eeree</p>
							</div>
							<div class="cf eAns">
								<strong class="fl">D</strong>
								<p class="fl">eeree</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="ef">
				<span class="Titem">
					<a href="javascript:void(0)">1</a>
					<a href="javascript:void(0)">2</a>
					<a href="javascript:void(0)">3</a>
					<a href="javascript:void(0)">4</a>
					<a href="javascript:void(0)">5</a>
					<a href="javascript:void(0)">6</a>
					<a href="javascript:void(0)">7</a>
					<a href="javascript:void(0)">8</a>
					<a href="javascript:void(0)">9</a>
					<a href="javascript:void(0)">10</a>
				</span>
				<p>
					<span>当前已选<em class="redText itemNum">0</em>题</span>
					<a href="javascript:void(0);" class="btn redBtn">发布</a>
				</p>
			</div>
		</div>
	</div>
	<!--教室-老师-选择练习题 结束-->

	<a href="javascript:void(0)" class="feedbackBtn">意见反馈</a><br><br>
	<!--教室-意见反馈 开始-->
	<div class="feedbackHtml undis">
		<div class="feedback">
			<h2>意见反馈</h2>
			<form action="/index/feedback/" class="feedbackForm" method="post" >
				<ul>
					<li class="cf posr">
						<p class="fbText">如果您对我们的产品服务想提出意见或建议，或使用中遇到问题，可以在这里自由吐槽</p>
						<div class="cf">
							<textarea name="content" class="fTextarea fl ctextarea" validName="textarea"></textarea>
							<span class="Validform_checktip fl"></span>
						</div>
					</li>
					<li class="posr">
						<p class="formName">您的称呼</p>
						<div class="cf">
							<input type="text" placeholder="请输入您的称呼，以便我们和您联系" name="nickname" class="fname fl cInput" validName="text">
							<span class="Validform_checktip fl"></span>
						</div>
					</li>
					<li class="cf posr">
						<p class="formName">您的邮箱</p>
						<div class="cf">
							<input type="text" placeholder="请输入您的邮箱，以便尽快为您解决问题" name="email" class="fEmail fl cInput" validName="text">
							<span class="Validform_checktip fl"></span>
						</div>
					</li>
					<li>
						<input type="submit" class="noShowBtn redBtn submit" value="提交">
					</li>
				</ul>
			</form>
		</div>
	</div>
	<!--教室-意见反馈 结束-->

	<a href="javascript:void(0)" class="evaluBtn">评价</a>
	<!--教室-评价 开始-->
	<div class="evaluHtml undis">
		<div class="evalu">
			<h3>请您为本节课点评</h3>
			<span class="starBg cf">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</span>
			<form action="" class="evaluForm" method="post" onsubmit="return false;">
				<ul>
					<li>
						<div class="cf">
							<textarea name="eTextarea" class="eTextarea fl ctextarea" validName="textarea" placeholder="请在此输入您点评的内容"></textarea>
							<span class="Validform_checktip fl"></span>
						</div>
					</li>
					<li class="cf">
						<input type="submit" class="noShowBtn redBtn submit fr" value="提交">
					</li>
				</ul>
			</form>
		</div>
	</div>
	<!--教室-评价 结束-->
</div>
<!-- 主要内容结束 -->
<!-- 底部开始 -->
{include file="www/include/footer.htm"}
<!-- 底部结束 -->
<!-- js引入开始 -->
{include file="www/include/js.htm"}
<!--js引入结束-->
</body>
</html>
