<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Smarty test page</title>
</head>
<div>
用户名: <input type="text" id="username" value="">
密码: <input type="password" id="password" value="">
<br><input type="submit" id="submit" name="提交">
</div>
<script type="text/javascript" src="http://static.nahaodev.com/debug/lib/jquery/1.8.2/jquery.js"></script>
<script type="text/javascript">

    $(function() {

        $('#submit').click(function() {

            //var username = $('#username').val();
            //var password = $('#password').val();
            //var url = "http://www.nahaotest.com/jsonp_login/submit?username="+username+"&password="+password+"&callback=?";
            /*
            var url = "http://www.nahaotest.com/jsonp_login/submit?username="+$('#username').val()+"&password="+$('#password').val()+"&callback=?";
            $.getJSON(url, function(data) {
                if(data.status == 'ok')
                {
                    alert(data.data.redirect_url);
                }
                else
                {
                    alert(data.status);
                }
            });
            */


            $.ajax({
                type:"GET",
                url:"http://www.nahaotest.com/jsonp_login/submit?username="+$('#username').val()+"&password="+$('#password').val()+"&callback=?",
                dataType:"jsonp",
                success: function(data) {

                    console.log(data);

                    if(data.status == 'ok')
                    {
                        alert(data.data.redirect_url);
                    }
                    else
                    {
                        alert(data.status);
                    }
                }
            })
        })
    });
</script>


