body{
font-family: "宋体","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand{
display: block;
float: left;
font-size: 30px;
font-weight: 700;
color: #333;
text-shadow: 0 1px 0 #fff;
transition: all .3s linear;
-webkit-transition: all .3s linear;
-moz-transition: all .3s linear;
}
.navbar-brand:hover{
color: #fff;
}
.body{
padding:0px 15px;
}
.class-notice{
padding: 5px 0px 0px 30px;
}
.class-form{
padding: 5px 0px 15px 30px;
}
.navbar-collapse ul.navbar-nav li .text-info:hover{
color: #94d3ef;
}